<%= render SummaryCard::View.new(trainee: trainee, title: "Personal details",
                                 heading_level: 2,
                                 rows: [
      {
        key: t("components.confirmation.personal_detail.full_name"),
        value: full_name,
        action: govuk_link_to('Change<span class="govuk-visually-hidden"> full name</span>'.html_safe,
                              edit_trainee_personal_details_path(trainee)),
      },
      {
        key: t("components.confirmation.personal_detail.date_of_birth"),
        value: date_of_birth,
        action: govuk_link_to('Change<span class="govuk-visually-hidden"> date of birth</span>'.html_safe,
                              edit_trainee_personal_details_path(trainee)),
      },
      {
        key: t("components.confirmation.personal_detail.gender"),
        value: gender,
        action: govuk_link_to('Change<span class="govuk-visually-hidden"> gender</span>'.html_safe,
                              edit_trainee_personal_details_path(trainee)),
      },
      nationality_row
    ]) %>
