---
openapi: 3.0.3
info:
  title: Send Trainee Data Direct API
  version: v0.1
servers:
- url: http://sandbox.register-trainee-teachers.service.gov.uk
paths:
  "/api/{api_version}/trainees":
    get:
      summary: index
      tags:
      - Api::Trainee
      parameters:
      - name: academic_cycle
        in: query
        required: false
        schema:
          type: string
        example: not-a-number
      - name: api_version
        in: path
        required: true
        schema:
          type: string
        example: v0.1
      - name: page
        in: query
        required: false
        schema:
          type: integer
        example: 1
      - name: per_page
        in: query
        required: false
        schema:
          type: integer
        example: 5
      - name: since
        in: query
        required: false
        schema:
          type: string
        example: 2023-13-01
      - name: sort_order
        in: query
        required: false
        schema:
          type: string
        example: asc
      - name: status
        in: query
        required: false
        schema:
          type: string
        example: invalid_state
      responses:
        '200':
          description: returns all trainees when no state is provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        first_names:
                          type: string
                        last_name:
                          type: string
                        date_of_birth:
                          type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        email:
                          type: string
                        middle_names:
                          type: string
                        training_route:
                          nullable: true
                        sex:
                          type: string
                        diversity_disclosure:
                          type: string
                        ethnic_group:
                          nullable: true
                        ethnic_background:
                          nullable: true
                        additional_ethnic_background:
                          nullable: true
                        disability_disclosure:
                          nullable: true
                        course_subject_one:
                          type: string
                        itt_start_date:
                          type: string
                        outcome_date:
                          nullable: true
                        itt_end_date:
                          type: string
                        trn:
                          type: string
                        submitted_for_trn_at:
                          type: string
                        withdraw_date:
                          nullable: true
                        withdraw_reasons_details:
                          nullable: true
                        defer_date:
                          nullable: true
                          type: string
                        recommended_for_award_at:
                          nullable: true
                        trainee_start_date:
                          type: string
                        reinstate_date:
                          nullable: true
                        course_min_age:
                          type: integer
                        course_max_age:
                          type: integer
                        course_subject_two:
                          nullable: true
                        course_subject_three:
                          nullable: true
                        awarded_at:
                          nullable: true
                        training_initiative:
                          nullable: true
                          type: string
                        study_mode:
                          type: string
                        ebacc:
                          type: boolean
                        region:
                          nullable: true
                        course_education_phase:
                          type: string
                        course_uuid:
                          nullable: true
                        lead_school_not_applicable:
                          type: boolean
                        employing_school_not_applicable:
                          type: boolean
                        submission_ready:
                          type: boolean
                        commencement_status:
                          nullable: true
                        discarded_at:
                          nullable: true
                        created_from_dttp:
                          type: boolean
                        hesa_id:
                          type: string
                        additional_dttp_data:
                          nullable: true
                        created_from_hesa:
                          type: boolean
                        hesa_updated_at:
                          nullable: true
                        record_source:
                          nullable: true
                        iqts_country:
                          nullable: true
                        hesa_editable:
                          type: boolean
                        withdraw_reasons_dfe_details:
                          nullable: true
                        slug_sent_to_dqt_at:
                          nullable: true
                        placement_detail:
                          nullable: true
                        provider_trainee_id:
                          type: string
                        ukprn:
                          type: string
                        ethnicity:
                          nullable: true
                        disability1:
                          type: string
                        course_qualification:
                          type: string
                        course_title:
                          nullable: true
                        course_level:
                          type: string
                        course_itt_start_date:
                          type: string
                        course_age_range:
                          type: string
                        expected_end_date:
                          type: string
                        employing_school_urn:
                          nullable: true
                        lead_partner_urn_ukprn:
                          nullable: true
                        lead_school_urn:
                          nullable: true
                        fund_code:
                          type: string
                        bursary_level:
                          type: string
                        previous_last_name:
                          type: string
                        itt_aim:
                          type: string
                        course_study_mode:
                          type: string
                        course_year:
                          type: integer
                        postgrad_apprenticeship_start_date:
                          type: string
                        funding_method:
                          type: string
                        ni_number:
                          type: string
                        additional_training_initiative:
                          type: string
                        itt_qualification_aim:
                          type: string
                        hesa_disabilities:
                          type: object
                          properties:
                            disability1:
                              type: string
                          required:
                          - disability1
                        nationality:
                          type: string
                        placements:
                          type: array
                          items: {}
                        degrees:
                          type: array
                          items:
                            type: object
                            properties:
                              uk_degree:
                                type: string
                              non_uk_degree:
                                nullable: true
                              created_at:
                                type: string
                              updated_at:
                                type: string
                              subject:
                                type: string
                                nullable: true
                              institution:
                                type: string
                              graduation_year:
                                type: integer
                              grade:
                                type: string
                              country:
                                nullable: true
                              other_grade:
                                nullable: true
                              institution_uuid:
                                type: string
                              uk_degree_uuid:
                                type: string
                              subject_uuid:
                                type: string
                              grade_uuid:
                                type: string
                              degree_id:
                                type: string
                            required:
                            - uk_degree
                            - non_uk_degree
                            - created_at
                            - updated_at
                            - subject
                            - institution
                            - graduation_year
                            - grade
                            - country
                            - other_grade
                            - institution_uuid
                            - uk_degree_uuid
                            - subject_uuid
                            - grade_uuid
                            - degree_id
                        state:
                          type: string
                        trainee_id:
                          type: string
                      required:
                      - first_names
                      - last_name
                      - date_of_birth
                      - created_at
                      - updated_at
                      - email
                      - middle_names
                      - training_route
                      - sex
                      - diversity_disclosure
                      - ethnic_group
                      - ethnic_background
                      - additional_ethnic_background
                      - disability_disclosure
                      - course_subject_one
                      - itt_start_date
                      - outcome_date
                      - itt_end_date
                      - trn
                      - submitted_for_trn_at
                      - withdraw_date
                      - withdraw_reasons_details
                      - defer_date
                      - recommended_for_award_at
                      - trainee_start_date
                      - reinstate_date
                      - course_min_age
                      - course_max_age
                      - course_subject_two
                      - course_subject_three
                      - awarded_at
                      - training_initiative
                      - study_mode
                      - ebacc
                      - region
                      - course_education_phase
                      - course_uuid
                      - lead_school_not_applicable
                      - employing_school_not_applicable
                      - submission_ready
                      - commencement_status
                      - discarded_at
                      - created_from_dttp
                      - hesa_id
                      - additional_dttp_data
                      - created_from_hesa
                      - hesa_updated_at
                      - record_source
                      - iqts_country
                      - hesa_editable
                      - withdraw_reasons_dfe_details
                      - slug_sent_to_dqt_at
                      - placement_detail
                      - provider_trainee_id
                      - ukprn
                      - ethnicity
                      - disability1
                      - course_qualification
                      - course_title
                      - course_level
                      - course_itt_start_date
                      - course_age_range
                      - expected_end_date
                      - employing_school_urn
                      - lead_partner_urn_ukprn
                      - lead_school_urn
                      - fund_code
                      - bursary_level
                      - previous_last_name
                      - itt_aim
                      - course_study_mode
                      - course_year
                      - postgrad_apprenticeship_start_date
                      - funding_method
                      - ni_number
                      - additional_training_initiative
                      - itt_qualification_aim
                      - hesa_disabilities
                      - nationality
                      - placements
                      - degrees
                      - state
                      - trainee_id
                  meta:
                    type: object
                    properties:
                      current_page:
                        type: integer
                      total_pages:
                        type: integer
                      total_count:
                        type: integer
                      per_page:
                        type: integer
                    required:
                    - current_page
                    - total_pages
                    - total_count
                    - per_page
                required:
                - data
                - meta
              example:
                data:
                - first_names: Joan
                  last_name: Hane
                  date_of_birth: '1998-07-05'
                  created_at: '2024-05-08T15:47:51.613Z'
                  updated_at: '2024-05-08T15:47:51.629Z'
                  email: Joan.Hane@example.com
                  middle_names: Dickens
                  training_route:
                  sex: '99'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-07'
                  outcome_date:
                  itt_end_date: '2024-07-01'
                  trn: '8857561'
                  submitted_for_trn_at: '2024-05-08T15:47:51.618Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date: '2023-08-07'
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-13'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '026'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '6456028383332'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-581
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-07'
                  course_age_range: '13913'
                  expected_end_date: '2024-07-01'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '2'
                  bursary_level: E
                  previous_last_name: Doyle
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: E
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '003'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '093'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.630Z'
                    updated_at: '2024-05-08T15:47:51.630Z'
                    subject:
                    institution: '0309'
                    graduation_year: 2019
                    grade: '02'
                    country:
                    other_grade:
                    institution_uuid: b73e182c-1425-ec11-b6e6-000d3adf095a
                    uk_degree_uuid: 2f6a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 469e7cc9-9691-45bd-859d-de8f9515913c
                    grade_uuid: e2fe18d4-8655-47cf-ab1a-8c3e0b0f078f
                    degree_id: QdhC1HR8KahkSJGNeTLz47PT
                  state: deferred
                  trainee_id: HCZuEusyTTL9jn8BYVZmXPhT
                - first_names: Gus
                  last_name: McClure
                  date_of_birth: '1979-11-11'
                  created_at: '2024-05-08T15:47:51.548Z'
                  updated_at: '2024-05-08T15:47:51.560Z'
                  email: Gus.McClure@example.com
                  middle_names: King
                  training_route:
                  sex: '96'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-26'
                  outcome_date:
                  itt_end_date: '2025-07-02'
                  trn: '3062864'
                  submitted_for_trn_at: '2024-05-08T15:47:51.553Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date: '2023-08-26'
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-31'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 16
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative:
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '9572885172955'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-578
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-26'
                  course_age_range: '13913'
                  expected_end_date: '2025-07-02'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: D
                  previous_last_name: Lind
                  itt_aim: '201'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: D
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '002'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '208'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.562Z'
                    updated_at: '2024-05-08T15:47:51.562Z'
                    subject: '100169'
                    institution: '7009'
                    graduation_year: 2001
                    grade:
                    country:
                    other_grade:
                    institution_uuid: 3e3e182c-1425-ec11-b6e6-000d3adf095a
                    uk_degree_uuid: 4b6a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: f77f70f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: 4182ef37-df1c-4f1e-9be6-feb66037f775
                    degree_id: uZTTnsFGL77sD4o5z6ja9AjK
                  state: deferred
                  trainee_id: fHMRH9EwWEeCkL4mjcJz8hJa
                - first_names: Cristobal
                  last_name: Thompson
                  date_of_birth: '1967-08-15'
                  created_at: '2024-05-08T15:47:51.491Z'
                  updated_at: '2024-05-08T15:47:51.503Z'
                  email: Cristobal.Thompson@example.com
                  middle_names: Gusikowski
                  training_route:
                  sex: '99'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-23'
                  outcome_date:
                  itt_end_date: '2025-07-31'
                  trn: '7869259'
                  submitted_for_trn_at: '2024-05-08T15:47:51.495Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date: '2023-08-23'
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-26'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '009'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '5942993982474'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-575
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-23'
                  course_age_range: '13912'
                  expected_end_date: '2025-07-31'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '2'
                  bursary_level: '8'
                  previous_last_name: Treutel
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: '8'
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '032'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '075'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.504Z'
                    updated_at: '2024-05-08T15:47:51.504Z'
                    subject: '101308'
                    institution: '0361'
                    graduation_year: 2023
                    grade: '13'
                    country:
                    other_grade:
                    institution_uuid: a83e182c-1425-ec11-b6e6-000d3adf095a
                    uk_degree_uuid: 0b6a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 458670f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: df874702-2bcc-4aab-adaa-2efdd3a8dec4
                    degree_id: Mcqkf6wXmaCBTRYF12BKBmPo
                  state: deferred
                  trainee_id: FkjKHdxoXttVvHmbgKUTR9hj
                - first_names: Neal
                  last_name: Kunde
                  date_of_birth: '1971-12-15'
                  created_at: '2024-05-08T15:47:51.432Z'
                  updated_at: '2024-05-08T15:47:51.443Z'
                  email: Neal.Kunde@example.com
                  middle_names: Kirlin
                  training_route:
                  sex: '99'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-05'
                  outcome_date:
                  itt_end_date: '2025-07-09'
                  trn: '4520178'
                  submitted_for_trn_at: '2024-05-08T15:47:51.436Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date: '2023-08-05'
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-06'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '009'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '6673547211161'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-572
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-05'
                  course_age_range: '13916'
                  expected_end_date: '2025-07-09'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: '8'
                  previous_last_name: Huels
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: '8'
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '007'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '211'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.445Z'
                    updated_at: '2024-05-08T15:47:51.445Z'
                    subject: '100959'
                    institution: '0076'
                    graduation_year: 1968
                    grade: '14'
                    country:
                    other_grade:
                    institution_uuid: e270f34a-2887-e711-80d8-005056ac45bb
                    uk_degree_uuid: 516a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 978470f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: aaba4427-287c-4610-a838-1970dd9090c1
                    degree_id: nucqC8jK56MQUCruddr9pwWo
                  state: deferred
                  trainee_id: G85xjAxZNxmXoDcdgXb3Yxqt
                - first_names: Nadine
                  last_name: O'Connell
                  date_of_birth: '1990-02-04'
                  created_at: '2024-05-08T15:47:51.375Z'
                  updated_at: '2024-05-08T15:47:51.386Z'
                  email: Nadine.O'Connell@example.com
                  middle_names: Will
                  training_route:
                  sex: '10'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-27'
                  outcome_date:
                  itt_end_date: '2024-07-15'
                  trn: '2155235'
                  submitted_for_trn_at: '2024-05-08T15:47:51.379Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date: '2023-08-27'
                  recommended_for_award_at:
                  trainee_start_date: '2023-09-09'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative:
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '2245866559596'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-569
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-27'
                  course_age_range: '13918'
                  expected_end_date: '2024-07-15'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: '8'
                  previous_last_name: Simonis
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: '8'
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '031'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '001'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.387Z'
                    updated_at: '2024-05-08T15:47:51.387Z'
                    subject: '101477'
                    institution: '0030'
                    graduation_year: 2003
                    grade: '01'
                    country:
                    other_grade:
                    institution_uuid: 4ff3791d-7042-e811-80ff-3863bb3640b8
                    uk_degree_uuid: c1695652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 718770f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: 8741765a-13d8-4550-a413-c5a860a59d25
                    degree_id: AgeKeSFZ6BhUrFsKrVoBrEmV
                  state: deferred
                  trainee_id: kFRaALh8D5AY2cCyZAUKC4bw
                - first_names: Shantay
                  last_name: Simonis
                  date_of_birth: '1992-02-23'
                  created_at: '2024-05-08T15:47:51.317Z'
                  updated_at: '2024-05-08T15:47:51.328Z'
                  email: Shantay.Simonis@example.com
                  middle_names: Pagac
                  training_route:
                  sex: '11'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-15'
                  outcome_date:
                  itt_end_date: '2025-07-20'
                  trn: '4401253'
                  submitted_for_trn_at: '2024-05-08T15:47:51.321Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-22'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 16
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '009'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '1758736432979'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-566
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-15'
                  course_age_range: '13918'
                  expected_end_date: '2025-07-20'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: E
                  previous_last_name: Mertz
                  itt_aim: '201'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: E
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '020'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '211'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.329Z'
                    updated_at: '2024-05-08T15:47:51.329Z'
                    subject: '100651'
                    institution: '0137'
                    graduation_year: 2019
                    grade: '14'
                    country:
                    other_grade:
                    institution_uuid: 7d1c7817-7042-e811-80ff-3863bb3640b8
                    uk_degree_uuid: 516a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: bb8270f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: aaba4427-287c-4610-a838-1970dd9090c1
                    degree_id: dABVJna2eN1WF5zQfNYUYNgg
                  state: trn_received
                  trainee_id: hqsqsnY1uccJuLsWvR7vnmSm
                - first_names: Brandon
                  last_name: Jones
                  date_of_birth: '1981-07-19'
                  created_at: '2024-05-08T15:47:51.262Z'
                  updated_at: '2024-05-08T15:47:51.272Z'
                  email: Brandon.Jones@example.com
                  middle_names: Thiel
                  training_route:
                  sex: '99'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-03'
                  outcome_date:
                  itt_end_date: '2025-07-19'
                  trn: '8522682'
                  submitted_for_trn_at: '2024-05-08T15:47:51.266Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-04'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative:
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '2407187524084'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-563
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-03'
                  course_age_range: '13915'
                  expected_end_date: '2025-07-19'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: B
                  previous_last_name: Cummings
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: B
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '032'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '205'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.274Z'
                    updated_at: '2024-05-08T15:47:51.274Z'
                    subject: '100553'
                    institution: '0202'
                    graduation_year: 1990
                    grade: '01'
                    country:
                    other_grade:
                    institution_uuid: e070f34a-2887-e711-80d8-005056ac45bb
                    uk_degree_uuid: 456a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 418270f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: 8741765a-13d8-4550-a413-c5a860a59d25
                    degree_id: HnpJPhrQzdK1DtBhCfBgvW1R
                  state: trn_received
                  trainee_id: 8Bb6KjxTJBXNWmDDPBf3UYx1
                - first_names: Michel
                  last_name: Mueller
                  date_of_birth: '1999-01-23'
                  created_at: '2024-05-08T15:47:51.198Z'
                  updated_at: '2024-05-08T15:47:51.211Z'
                  email: Michel.Mueller@example.com
                  middle_names: Weissnat
                  training_route:
                  sex: '96'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-25'
                  outcome_date:
                  itt_end_date: '2024-07-19'
                  trn: '4163520'
                  submitted_for_trn_at: '2024-05-08T15:47:51.202Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-25'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 16
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '025'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '5956375612565'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-560
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-25'
                  course_age_range: '13912'
                  expected_end_date: '2024-07-19'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: '9'
                  previous_last_name: Sawayn
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: '9'
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '008'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '214'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.213Z'
                    updated_at: '2024-05-08T15:47:51.213Z'
                    subject: '100831'
                    institution: '0405'
                    graduation_year: 1988
                    grade: '01'
                    country:
                    other_grade:
                    institution_uuid: 5b3e182c-1425-ec11-b6e6-000d3adf095a
                    uk_degree_uuid: 576a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: d58370f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: 8741765a-13d8-4550-a413-c5a860a59d25
                    degree_id: zFukkCEf3ZGfoKC1fueJ23JP
                  state: trn_received
                  trainee_id: 96X7vEkHZaUsXgZKDgcps224
                - first_names: Magdalen
                  last_name: Kessler
                  date_of_birth: '1961-10-18'
                  created_at: '2024-05-08T15:47:51.140Z'
                  updated_at: '2024-05-08T15:47:51.152Z'
                  email: Magdalen.Kessler@example.com
                  middle_names: Kilback
                  training_route:
                  sex: '99'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-19'
                  outcome_date:
                  itt_end_date: '2025-07-27'
                  trn: '5774330'
                  submitted_for_trn_at: '2024-05-08T15:47:51.144Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-21'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 16
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '009'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '2848757206196'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-557
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-19'
                  course_age_range: '13919'
                  expected_end_date: '2025-07-27'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: E
                  previous_last_name: Legros
                  itt_aim: '201'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: E
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '032'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '060'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.153Z'
                    updated_at: '2024-05-08T15:47:51.153Z'
                    subject: '100248'
                    institution: '0075'
                    graduation_year: 1994
                    grade: '14'
                    country:
                    other_grade:
                    institution_uuid: f470f34a-2887-e711-80d8-005056ac45bb
                    uk_degree_uuid: ed695652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 678070f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: aaba4427-287c-4610-a838-1970dd9090c1
                    degree_id: YjnPSDQSrZxs3HM1UjmBtrKN
                  state: trn_received
                  trainee_id: wFQbzA215yPQBujVNmtun2Qk
                - first_names: Garrett
                  last_name: Johnston
                  date_of_birth: '1983-09-08'
                  created_at: '2024-05-08T15:47:51.082Z'
                  updated_at: '2024-05-08T15:47:51.093Z'
                  email: Garrett.Johnston@example.com
                  middle_names: Zboncak
                  training_route:
                  sex: '11'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-20'
                  outcome_date:
                  itt_end_date: '2024-07-26'
                  trn: '6148049'
                  submitted_for_trn_at: '2024-05-08T15:47:51.086Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-21'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 16
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '009'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '4129660548821'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-554
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-20'
                  course_age_range: '13919'
                  expected_end_date: '2024-07-26'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '2'
                  bursary_level: D
                  previous_last_name: Kuhlman
                  itt_aim: '201'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: D
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '032'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '218'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.095Z'
                    updated_at: '2024-05-08T15:47:51.095Z'
                    subject: '100549'
                    institution: '0086'
                    graduation_year: 2008
                    grade: '01'
                    country:
                    other_grade:
                    institution_uuid: 73228041-7042-e811-80ff-3863bb3640b8
                    uk_degree_uuid: b6d2c5aa-cf99-4831-9bfe-6279349d8ea9
                    subject_uuid: 3b8270f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: 8741765a-13d8-4550-a413-c5a860a59d25
                    degree_id: batRWXG6xhFtryrMxQyT7Vg7
                  state: trn_received
                  trainee_id: Z1qZxd497dRhHpvMALJQRnxT
                - first_names: Rudolph
                  last_name: Ruecker
                  date_of_birth: '1960-10-14'
                  created_at: '2024-05-08T15:47:51.024Z'
                  updated_at: '2024-05-08T15:47:51.037Z'
                  email: Rudolph.Ruecker@example.com
                  middle_names: Green
                  training_route:
                  sex: '10'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-19'
                  outcome_date:
                  itt_end_date: '2025-07-08'
                  trn: '4945187'
                  submitted_for_trn_at: '2024-05-08T15:47:51.028Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-09-05'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 16
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative:
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '5132444461062'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-551
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-19'
                  course_age_range: '13913'
                  expected_end_date: '2025-07-08'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: '9'
                  previous_last_name: Hoppe
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: '9'
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '002'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '205'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:51.038Z'
                    updated_at: '2024-05-08T15:47:51.038Z'
                    subject: '101071'
                    institution: '0323'
                    graduation_year: 2016
                    grade: '14'
                    country:
                    other_grade:
                    institution_uuid: f43d182c-1425-ec11-b6e6-000d3adf095a
                    uk_degree_uuid: 456a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 278570f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: aaba4427-287c-4610-a838-1970dd9090c1
                    degree_id: qRjCm143LrzWtiX8Dv1CMg5S
                  state: trn_received
                  trainee_id: mv2U13VhAbKJZ938GR7FJQCx
                - first_names: Winston
                  last_name: Hyatt
                  date_of_birth: '1991-06-11'
                  created_at: '2024-05-08T15:47:50.956Z'
                  updated_at: '2024-05-08T15:47:50.969Z'
                  email: Winston.Hyatt@example.com
                  middle_names: Predovic
                  training_route:
                  sex: '11'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-22'
                  outcome_date:
                  itt_end_date: '2024-07-11'
                  trn: '6508434'
                  submitted_for_trn_at: '2024-05-08T15:47:50.960Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-22'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative:
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '3802400171535'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-548
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-22'
                  course_age_range: '13912'
                  expected_end_date: '2024-07-11'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: B
                  previous_last_name: Schinner
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: B
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '021'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '084'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:50.970Z'
                    updated_at: '2024-05-08T15:47:50.970Z'
                    subject: '100976'
                    institution: '0016'
                    graduation_year: 1993
                    grade: '13'
                    country:
                    other_grade:
                    institution_uuid: d070f34a-2887-e711-80d8-005056ac45bb
                    uk_degree_uuid: 1d6a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: af8470f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: df874702-2bcc-4aab-adaa-2efdd3a8dec4
                    degree_id: oMe9eSnDhjpPbYAyb5zih5H6
                  state: trn_received
                  trainee_id: iWfET56eXAjpmHe8oTvvucA7
                - first_names: Tory
                  last_name: Murazik
                  date_of_birth: '2005-05-03'
                  created_at: '2024-05-08T15:47:50.894Z'
                  updated_at: '2024-05-08T15:47:50.906Z'
                  email: Tory.Murazik@example.com
                  middle_names: Brakus
                  training_route:
                  sex: '96'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-17'
                  outcome_date:
                  itt_end_date: '2025-07-11'
                  trn: '3768717'
                  submitted_for_trn_at: '2024-05-08T15:47:50.899Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-17'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 16
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '009'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '7415637505250'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-545
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-17'
                  course_age_range: '13919'
                  expected_end_date: '2025-07-11'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '2'
                  bursary_level: '9'
                  previous_last_name: Jerde
                  itt_aim: '201'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: '9'
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '008'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '066'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:50.907Z'
                    updated_at: '2024-05-08T15:47:50.907Z'
                    subject: '100755'
                    institution: '0073'
                    graduation_year: 2010
                    grade: '05'
                    country:
                    other_grade:
                    institution_uuid: 3071f34a-2887-e711-80d8-005056ac45bb
                    uk_degree_uuid: f9695652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 558370f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: 3d57e5f7-7904-4895-a982-ed953fff3f94
                    degree_id: LNxRur2vyQ5jk5cXzGX3RqyJ
                  state: trn_received
                  trainee_id: 8zqis5LzCnb5U68uuxmXPUHQ
                - first_names: Arnulfo
                  last_name: Schultz
                  date_of_birth: '1964-03-04'
                  created_at: '2024-05-08T15:47:50.834Z'
                  updated_at: '2024-05-08T15:47:50.846Z'
                  email: Arnulfo.Schultz@example.com
                  middle_names: Rippin
                  training_route:
                  sex: '96'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-16'
                  outcome_date:
                  itt_end_date: '2024-07-30'
                  trn: '7638549'
                  submitted_for_trn_at: '2024-05-08T15:47:50.839Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-08-25'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '026'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '9806877587404'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-542
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-16'
                  course_age_range: '13912'
                  expected_end_date: '2024-07-30'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '2'
                  bursary_level: E
                  previous_last_name: Windler
                  itt_aim: '201'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: E
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '003'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '074'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:50.848Z'
                    updated_at: '2024-05-08T15:47:50.848Z'
                    subject: '100686'
                    institution: '0301'
                    graduation_year: 2022
                    grade: '13'
                    country:
                    other_grade:
                    institution_uuid: 6b3e182c-1425-ec11-b6e6-000d3adf095a
                    uk_degree_uuid: '096a5652-c197-e711-80d8-005056ac45bb'
                    subject_uuid: f58270f0-5dce-e911-a985-000d3ab79618
                    grade_uuid: df874702-2bcc-4aab-adaa-2efdd3a8dec4
                    degree_id: zQUJKP484CVPiN2PfgKZygwg
                  state: trn_received
                  trainee_id: dfMG9Bocm8XS1dQnBvRDBw87
                - first_names: Edelmira
                  last_name: Mills
                  date_of_birth: '1961-10-28'
                  created_at: '2024-05-08T15:47:50.770Z'
                  updated_at: '2024-05-08T15:47:50.783Z'
                  email: Edelmira.Mills@example.com
                  middle_names: Beatty
                  training_route:
                  sex: '12'
                  diversity_disclosure: diversity_not_disclosed
                  ethnic_group:
                  ethnic_background:
                  additional_ethnic_background:
                  disability_disclosure:
                  course_subject_one: '100403'
                  itt_start_date: '2023-08-21'
                  outcome_date:
                  itt_end_date: '2025-07-04'
                  trn: '4862666'
                  submitted_for_trn_at: '2024-05-08T15:47:50.774Z'
                  withdraw_date:
                  withdraw_reasons_details:
                  defer_date:
                  recommended_for_award_at:
                  trainee_start_date: '2023-09-03'
                  reinstate_date:
                  course_min_age: 11
                  course_max_age: 18
                  course_subject_two:
                  course_subject_three:
                  awarded_at:
                  training_initiative: '009'
                  study_mode: '01'
                  ebacc: false
                  region:
                  course_education_phase: secondary
                  course_uuid:
                  lead_school_not_applicable: false
                  employing_school_not_applicable: false
                  submission_ready: true
                  commencement_status:
                  discarded_at:
                  created_from_dttp: false
                  hesa_id: '9552255715213'
                  additional_dttp_data:
                  created_from_hesa: false
                  hesa_updated_at:
                  record_source:
                  iqts_country:
                  hesa_editable: false
                  withdraw_reasons_dfe_details:
                  slug_sent_to_dqt_at:
                  placement_detail:
                  provider_trainee_id: 23/24-539
                  ukprn: '23175422'
                  ethnicity:
                  disability1: '95'
                  course_qualification: QTS
                  course_title:
                  course_level: postgrad
                  course_itt_start_date: '2023-08-21'
                  course_age_range: '13915'
                  expected_end_date: '2025-07-04'
                  employing_school_urn:
                  lead_partner_urn_ukprn:
                  lead_school_urn:
                  fund_code: '7'
                  bursary_level: E
                  previous_last_name: Koelpin
                  itt_aim: '202'
                  course_study_mode: '01'
                  course_year: 2024
                  postgrad_apprenticeship_start_date: '2024-05-08'
                  funding_method: E
                  ni_number: QQ 12 34 56 C
                  additional_training_initiative: '026'
                  itt_qualification_aim: '003'
                  hesa_disabilities:
                    disability1: '95'
                  nationality: LK
                  placements: []
                  degrees:
                  - uk_degree: '207'
                    non_uk_degree:
                    created_at: '2024-05-08T15:47:50.784Z'
                    updated_at: '2024-05-08T15:47:50.784Z'
                    subject:
                    institution: '0217'
                    graduation_year: 2003
                    grade:
                    country:
                    other_grade:
                    institution_uuid: fe3e182c-1425-ec11-b6e6-000d3adf095a
                    uk_degree_uuid: 496a5652-c197-e711-80d8-005056ac45bb
                    subject_uuid: 96d33f57-8d2d-43f5-a81d-3f14213fa5b2
                    grade_uuid: 4182ef37-df1c-4f1e-9be6-feb66037f775
                    degree_id: zUriXpmGcHPqnNRrteRZdzKM
                  state: trn_received
                  trainee_id: W7rT7ZzzwbakjjGfB2JSCsLi
                meta:
                  current_page: 1
                  total_pages: 1
                  total_count: 15
                  per_page: 50
        '422':
          description: returns 422 when an invalid state is provided
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                  errors:
                    type: object
                    properties:
                      academic_cycle:
                        type: array
                        items:
                          type: string
                      since:
                        type: array
                        items:
                          type: string
                      status:
                        type: array
                        items:
                          type: string
                required:
                - message
                - errors
              example:
                message: 'Validation failed: 1 error prohibited this request being
                  run'
                errors:
                  academic_cycle:
                  - not-a-number is not a valid academic cycle year
                  since:
                  - 2023-13-01 is not a valid date
                  status:
                  - invalid_state is not a valid status
    post:
      summary: create
      tags:
      - Api::Trainee
      parameters:
      - name: api_version
        in: path
        required: true
        schema:
          type: string
        example: v0.1
      responses:
        '201':
          description: creates a trainee
          content:
            application/json:
              schema:
                type: object
                properties:
                  first_names:
                    type: string
                  last_name:
                    type: string
                  date_of_birth:
                    type: string
                  created_at:
                    type: string
                  updated_at:
                    type: string
                  email:
                    type: string
                  middle_names:
                    nullable: true
                  training_route:
                    type: string
                  sex:
                    type: string
                  diversity_disclosure:
                    type: string
                  ethnic_group:
                    type: string
                  ethnic_background:
                    type: string
                  additional_ethnic_background:
                    nullable: true
                  disability_disclosure:
                    type: string
                  course_subject_one:
                    type: string
                  itt_start_date:
                    type: string
                  outcome_date:
                    nullable: true
                  itt_end_date:
                    type: string
                  trn:
                    nullable: true
                  submitted_for_trn_at:
                    type: string
                  withdraw_date:
                    nullable: true
                  withdraw_reasons_details:
                    nullable: true
                  defer_date:
                    nullable: true
                  recommended_for_award_at:
                    nullable: true
                  trainee_start_date:
                    type: string
                  reinstate_date:
                    nullable: true
                  course_min_age:
                    type: integer
                  course_max_age:
                    type: integer
                  course_subject_two:
                    nullable: true
                    type: string
                  course_subject_three:
                    nullable: true
                  awarded_at:
                    nullable: true
                  training_initiative:
                    nullable: true
                  study_mode:
                    type: string
                  ebacc:
                    type: boolean
                  region:
                    nullable: true
                  course_education_phase:
                    type: string
                  course_uuid:
                    nullable: true
                  lead_school_not_applicable:
                    type: boolean
                  employing_school_not_applicable:
                    type: boolean
                  submission_ready:
                    type: boolean
                  commencement_status:
                    nullable: true
                  discarded_at:
                    nullable: true
                  created_from_dttp:
                    type: boolean
                  hesa_id:
                    type: string
                  additional_dttp_data:
                    nullable: true
                  created_from_hesa:
                    type: boolean
                  hesa_updated_at:
                    nullable: true
                  record_source:
                    type: string
                  iqts_country:
                    nullable: true
                  hesa_editable:
                    type: boolean
                  withdraw_reasons_dfe_details:
                    nullable: true
                  slug_sent_to_dqt_at:
                    nullable: true
                  placement_detail:
                    nullable: true
                  provider_trainee_id:
                    type: string
                    nullable: true
                  ukprn:
                    type: string
                  ethnicity:
                    type: string
                  disability1:
                    type: string
                  disability2:
                    type: string
                  course_qualification:
                    type: string
                  course_title:
                    nullable: true
                  course_level:
                    type: string
                  course_itt_start_date:
                    type: string
                  course_age_range:
                    type: string
                  expected_end_date:
                    type: string
                  employing_school_urn:
                    nullable: true
                  lead_partner_urn_ukprn:
                    nullable: true
                  lead_school_urn:
                    nullable: true
                  fund_code:
                    type: string
                  bursary_level:
                    type: string
                  previous_last_name:
                    type: string
                    nullable: true
                  itt_aim:
                    type: string
                  course_study_mode:
                    type: string
                  course_year:
                    type: integer
                  postgrad_apprenticeship_start_date:
                    nullable: true
                  funding_method:
                    type: string
                  ni_number:
                    nullable: true
                  additional_training_initiative:
                    nullable: true
                  itt_qualification_aim:
                    type: string
                  hesa_disabilities:
                    type: object
                    properties:
                      disability1:
                        type: string
                      disability2:
                        type: string
                  nationality:
                    type: string
                  placements:
                    type: array
                    items:
                      type: object
                      properties:
                        urn:
                          type: string
                        name:
                          type: string
                        postcode:
                          nullable: true
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        placement_id:
                          type: string
                      required:
                      - urn
                      - name
                      - postcode
                      - created_at
                      - updated_at
                      - placement_id
                  degrees:
                    type: array
                    items:
                      type: object
                      properties:
                        uk_degree:
                          type: string
                          nullable: true
                        non_uk_degree:
                          nullable: true
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        subject:
                          type: string
                          nullable: true
                        institution:
                          type: string
                          nullable: true
                        graduation_year:
                          type: integer
                          nullable: true
                        grade:
                          type: string
                        country:
                          nullable: true
                        other_grade:
                          nullable: true
                        institution_uuid:
                          type: string
                        uk_degree_uuid:
                          type: string
                          nullable: true
                        subject_uuid:
                          type: string
                          nullable: true
                        grade_uuid:
                          type: string
                        degree_id:
                          type: string
                      required:
                      - uk_degree
                      - non_uk_degree
                      - created_at
                      - updated_at
                      - subject
                      - institution
                      - graduation_year
                      - grade
                      - country
                      - other_grade
                      - institution_uuid
                      - uk_degree_uuid
                      - subject_uuid
                      - grade_uuid
                      - degree_id
                  state:
                    type: string
                  trainee_id:
                    type: string
                required:
                - first_names
                - last_name
                - date_of_birth
                - created_at
                - updated_at
                - email
                - middle_names
                - training_route
                - sex
                - diversity_disclosure
                - ethnic_group
                - ethnic_background
                - additional_ethnic_background
                - disability_disclosure
                - course_subject_one
                - itt_start_date
                - outcome_date
                - itt_end_date
                - trn
                - submitted_for_trn_at
                - withdraw_date
                - withdraw_reasons_details
                - defer_date
                - recommended_for_award_at
                - trainee_start_date
                - reinstate_date
                - course_min_age
                - course_max_age
                - course_subject_two
                - course_subject_three
                - awarded_at
                - training_initiative
                - study_mode
                - ebacc
                - region
                - course_education_phase
                - course_uuid
                - lead_school_not_applicable
                - employing_school_not_applicable
                - submission_ready
                - commencement_status
                - discarded_at
                - created_from_dttp
                - hesa_id
                - additional_dttp_data
                - created_from_hesa
                - hesa_updated_at
                - record_source
                - iqts_country
                - hesa_editable
                - withdraw_reasons_dfe_details
                - slug_sent_to_dqt_at
                - placement_detail
                - provider_trainee_id
                - ukprn
                - ethnicity
                - course_qualification
                - course_title
                - course_level
                - course_itt_start_date
                - course_age_range
                - expected_end_date
                - employing_school_urn
                - lead_partner_urn_ukprn
                - lead_school_urn
                - fund_code
                - bursary_level
                - previous_last_name
                - itt_aim
                - course_study_mode
                - course_year
                - postgrad_apprenticeship_start_date
                - funding_method
                - ni_number
                - additional_training_initiative
                - itt_qualification_aim
                - hesa_disabilities
                - nationality
                - placements
                - degrees
                - state
                - trainee_id
              example:
                first_names: John
                last_name: Doe
                date_of_birth: '1990-01-01'
                created_at: '2024-05-08T15:48:02.105Z'
                updated_at: '2024-05-08T15:48:02.105Z'
                email: john.doe@example.com
                middle_names:
                training_route: '11'
                sex: '11'
                diversity_disclosure: diversity_not_disclosed
                ethnic_group: not_provided_ethnic_group
                ethnic_background: Not provided
                additional_ethnic_background:
                disability_disclosure: disability_not_provided
                course_subject_one: '100511'
                itt_start_date: '2023-08-01'
                outcome_date:
                itt_end_date: '2025-07-31'
                trn:
                submitted_for_trn_at: '2024-05-08T15:48:02.154Z'
                withdraw_date:
                withdraw_reasons_details:
                defer_date:
                recommended_for_award_at:
                trainee_start_date: '2023-08-01'
                reinstate_date:
                course_min_age: 7
                course_max_age: 11
                course_subject_two: biology
                course_subject_three:
                awarded_at:
                training_initiative:
                study_mode: '63'
                ebacc: false
                region:
                course_education_phase: primary
                course_uuid:
                lead_school_not_applicable: false
                employing_school_not_applicable: false
                submission_ready: false
                commencement_status:
                discarded_at:
                created_from_dttp: false
                hesa_id: '0310261553101'
                additional_dttp_data:
                created_from_hesa: false
                hesa_updated_at:
                record_source: api
                iqts_country:
                hesa_editable: false
                withdraw_reasons_dfe_details:
                slug_sent_to_dqt_at:
                placement_detail:
                provider_trainee_id:
                ukprn: '55423832'
                ethnicity: '997'
                disability1: '58'
                disability2: '57'
                course_qualification: QTS
                course_title:
                course_level: undergrad
                course_itt_start_date: '2023-08-01'
                course_age_range: '13915'
                expected_end_date: '2025-07-31'
                employing_school_urn:
                lead_partner_urn_ukprn:
                lead_school_urn:
                fund_code: '7'
                bursary_level: '4'
                previous_last_name:
                itt_aim: '202'
                course_study_mode: '63'
                course_year: 2012
                postgrad_apprenticeship_start_date:
                funding_method: '4'
                ni_number:
                additional_training_initiative:
                itt_qualification_aim: '001'
                hesa_disabilities:
                  disability1: '58'
                  disability2: '57'
                nationality: GB
                placements:
                - urn: '900020'
                  name: Establishment does not have a URN
                  postcode:
                  created_at: '2024-05-08T15:48:02.114Z'
                  updated_at: '2024-05-08T15:48:02.114Z'
                  placement_id: rahSseZDJpgkAFQTnJgna7a6
                degrees:
                - uk_degree:
                  non_uk_degree:
                  created_at: '2024-05-08T15:48:02.106Z'
                  updated_at: '2024-05-08T15:48:02.106Z'
                  subject:
                  institution:
                  graduation_year:
                  grade: '02'
                  country:
                  other_grade:
                  institution_uuid: '02132969-f5bc-47ca-be9c-b6f6d5b05e1b'
                  uk_degree_uuid:
                  subject_uuid:
                  grade_uuid: e2fe18d4-8655-47cf-ab1a-8c3e0b0f078f
                  degree_id: ep11FFwDnP8DtuQtfUthqyWW
                state: submitted_for_trn
                trainee_id: ugQpG3gSc2i5MwZafa5NzU1S
        '409':
          description: returns status 409 (conflict) with the potential duplicates
            and does not create a trainee record
          content:
            application/json:
              schema:
                type: object
                properties:
                  errors:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        first_names:
                          type: string
                        last_name:
                          type: string
                        date_of_birth:
                          type: string
                        created_at:
                          type: string
                        updated_at:
                          type: string
                        email:
                          type: string
                        middle_names:
                          type: string
                        training_route:
                          type: string
                        sex:
                          type: string
                        diversity_disclosure:
                          type: string
                        ethnic_group:
                          nullable: true
                        ethnic_background:
                          nullable: true
                        additional_ethnic_background:
                          nullable: true
                        disability_disclosure:
                          nullable: true
                        course_subject_one:
                          type: string
                        itt_start_date:
                          type: string
                        outcome_date:
                          nullable: true
                        itt_end_date:
                          type: string
                        trn:
                          nullable: true
                        submitted_for_trn_at:
                          nullable: true
                        withdraw_date:
                          nullable: true
                        withdraw_reasons_details:
                          nullable: true
                        defer_date:
                          nullable: true
                        recommended_for_award_at:
                          nullable: true
                        trainee_start_date:
                          type: string
                        reinstate_date:
                          nullable: true
                        course_min_age:
                          type: integer
                        course_max_age:
                          type: integer
                        course_subject_two:
                          nullable: true
                        course_subject_three:
                          nullable: true
                        awarded_at:
                          nullable: true
                        training_initiative:
                          nullable: true
                        study_mode:
                          nullable: true
                        ebacc:
                          type: boolean
                        region:
                          nullable: true
                        course_education_phase:
                          type: string
                        course_uuid:
                          nullable: true
                        lead_school_not_applicable:
                          type: boolean
                        employing_school_not_applicable:
                          type: boolean
                        submission_ready:
                          type: boolean
                        commencement_status:
                          nullable: true
                        discarded_at:
                          nullable: true
                        created_from_dttp:
                          type: boolean
                        hesa_id:
                          nullable: true
                        additional_dttp_data:
                          nullable: true
                        created_from_hesa:
                          type: boolean
                        hesa_updated_at:
                          nullable: true
                        record_source:
                          nullable: true
                        iqts_country:
                          nullable: true
                        hesa_editable:
                          type: boolean
                        withdraw_reasons_dfe_details:
                          nullable: true
                        slug_sent_to_dqt_at:
[...]
