{
  "openapi": "3.0.3",
  "info": {
    "title": "Send Trainee Data Direct API",
    "version": "v0.1"
  },
  "servers": [
    {
      "url": "http://sandbox.register-trainee-teachers.service.gov.uk"
    }
  ],
  "paths": {
    "/api/{api_version}/trainees": {
      "get": {
        "summary": "index",
        "tags": [
          "Api::Trainee"
        ],
        "parameters": [
          {
            "name": "academic_cycle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 2023
          },
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "v0.1"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 5
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2023-13-01"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "asc"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "invalid_state"
          }
        ],
        "responses": {
          "200": {
            "description": "returns all trainees when no state is provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "first_names": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "date_of_birth": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "middle_names": {
                            "type": "string"
                          },
                          "training_route": {
                            "nullable": true
                          },
                          "sex": {
                            "type": "string"
                          },
                          "diversity_disclosure": {
                            "type": "string"
                          },
                          "ethnic_group": {
                            "nullable": true
                          },
                          "ethnic_background": {
                            "nullable": true
                          },
                          "additional_ethnic_background": {
                            "nullable": true
                          },
                          "disability_disclosure": {
                            "nullable": true
                          },
                          "course_subject_one": {
                            "type": "string"
                          },
                          "itt_start_date": {
                            "type": "string"
                          },
                          "outcome_date": {
                            "nullable": true
                          },
                          "itt_end_date": {
                            "type": "string"
                          },
                          "trn": {
                            "type": "string"
                          },
                          "submitted_for_trn_at": {
                            "type": "string"
                          },
                          "withdraw_date": {
                            "nullable": true
                          },
                          "withdraw_reasons_details": {
                            "nullable": true
                          },
                          "defer_date": {
                            "type": "string",
                            "nullable": true
                          },
                          "recommended_for_award_at": {
                            "nullable": true
                          },
                          "trainee_start_date": {
                            "type": "string"
                          },
                          "reinstate_date": {
                            "nullable": true
                          },
                          "course_min_age": {
                            "type": "integer"
                          },
                          "course_max_age": {
                            "type": "integer"
                          },
                          "course_subject_two": {
                            "nullable": true
                          },
                          "course_subject_three": {
                            "nullable": true
                          },
                          "awarded_at": {
                            "nullable": true
                          },
                          "training_initiative": {
                            "nullable": true,
                            "type": "string"
                          },
                          "study_mode": {
                            "type": "string"
                          },
                          "ebacc": {
                            "type": "boolean"
                          },
                          "region": {
                            "nullable": true
                          },
                          "course_education_phase": {
                            "type": "string"
                          },
                          "course_uuid": {
                            "nullable": true
                          },
                          "lead_school_not_applicable": {
                            "type": "boolean"
                          },
                          "employing_school_not_applicable": {
                            "type": "boolean"
                          },
                          "submission_ready": {
                            "type": "boolean"
                          },
                          "commencement_status": {
                            "nullable": true
                          },
                          "discarded_at": {
                            "nullable": true
                          },
                          "created_from_dttp": {
                            "type": "boolean"
                          },
                          "hesa_id": {
                            "nullable": true,
                            "type": "string"
                          },
                          "additional_dttp_data": {
                            "nullable": true
                          },
                          "created_from_hesa": {
                            "type": "boolean"
                          },
                          "hesa_updated_at": {
                            "nullable": true
                          },
                          "record_source": {
                            "nullable": true
                          },
                          "iqts_country": {
                            "nullable": true
                          },
                          "hesa_editable": {
                            "type": "boolean"
                          },
                          "withdraw_reasons_dfe_details": {
                            "nullable": true
                          },
                          "slug_sent_to_dqt_at": {
                            "nullable": true
                          },
                          "placement_detail": {
                            "nullable": true
                          },
                          "provider_trainee_id": {
                            "type": "string"
                          },
                          "ukprn": {
                            "type": "string"
                          },
                          "ethnicity": {
                            "nullable": true
                          },
                          "95": {
                            "nullable": true
                          },
                          "course_qualification": {
                            "type": "string"
                          },
                          "course_title": {
                            "nullable": true
                          },
                          "course_level": {
                            "type": "string"
                          },
                          "course_itt_start_date": {
                            "type": "string"
                          },
                          "course_age_range": {
                            "type": "string"
                          },
                          "expected_end_date": {
                            "type": "string"
                          },
                          "employing_school_urn": {
                            "nullable": true
                          },
                          "lead_partner_urn_ukprn": {
                            "nullable": true
                          },
                          "lead_school_urn": {
                            "nullable": true
                          },
                          "fund_code": {
                            "type": "string"
                          },
                          "bursary_level": {
                            "type": "string"
                          },
                          "previous_last_name": {
                            "type": "string"
                          },
                          "itt_aim": {
                            "type": "string"
                          },
                          "course_study_mode": {
                            "type": "string"
                          },
                          "course_year": {
                            "type": "integer"
                          },
                          "postgrad_apprenticeship_start_date": {
                            "type": "string"
                          },
                          "funding_method": {
                            "type": "string"
                          },
                          "ni_number": {
                            "type": "string"
                          },
                          "additional_training_initiative": {
                            "type": "string"
                          },
                          "itt_qualification_aim": {
                            "type": "string"
                          },
                          "hesa_disabilities": {
                            "type": "object",
                            "items": {
                              "type": "string"
                            },
                            "properties": {
                              "disability1": {
                                "type": "string"
                              }
                            },
                            "required": [
                              "disability1"
                            ]
                          },
                          "nationality": {
                            "type": "string"
                          },
                          "placements": {
                            "type": "array",
                            "items": {
                            }
                          },
                          "degrees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uk_degree": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "non_uk_degree": {
                                  "nullable": true
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string"
                                },
                                "subject": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "institution": {
                                  "type": "string"
                                },
                                "graduation_year": {
                                  "type": "integer"
                                },
                                "grade": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "country": {
                                  "nullable": true
                                },
                                "other_grade": {
                                  "nullable": true
                                },
                                "institution_uuid": {
                                  "type": "string"
                                },
                                "uk_degree_uuid": {
                                  "type": "string"
                                },
                                "subject_uuid": {
                                  "type": "string"
                                },
                                "grade_uuid": {
                                  "type": "string"
                                },
                                "degree_id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "uk_degree",
                                "non_uk_degree",
                                "created_at",
                                "updated_at",
                                "subject",
                                "institution",
                                "graduation_year",
                                "grade",
                                "country",
                                "other_grade",
                                "institution_uuid",
                                "uk_degree_uuid",
                                "subject_uuid",
                                "grade_uuid",
                                "degree_id"
                              ]
                            }
                          },
                          "state": {
                            "type": "string"
                          },
                          "trainee_id": {
                            "type": "string"
                          },
                          "disability1": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "first_names",
                          "last_name",
                          "date_of_birth",
                          "created_at",
                          "updated_at",
                          "email",
                          "middle_names",
                          "training_route",
                          "sex",
                          "diversity_disclosure",
                          "ethnic_group",
                          "ethnic_background",
                          "additional_ethnic_background",
                          "disability_disclosure",
                          "course_subject_one",
                          "itt_start_date",
                          "outcome_date",
                          "itt_end_date",
                          "trn",
                          "submitted_for_trn_at",
                          "withdraw_date",
                          "withdraw_reasons_details",
                          "defer_date",
                          "recommended_for_award_at",
                          "trainee_start_date",
                          "reinstate_date",
                          "course_min_age",
                          "course_max_age",
                          "course_subject_two",
                          "course_subject_three",
                          "awarded_at",
                          "training_initiative",
                          "study_mode",
                          "ebacc",
                          "region",
                          "course_education_phase",
                          "course_uuid",
                          "lead_school_not_applicable",
                          "employing_school_not_applicable",
                          "submission_ready",
                          "commencement_status",
                          "discarded_at",
                          "created_from_dttp",
                          "hesa_id",
                          "additional_dttp_data",
                          "created_from_hesa",
                          "hesa_updated_at",
                          "record_source",
                          "iqts_country",
                          "hesa_editable",
                          "withdraw_reasons_dfe_details",
                          "slug_sent_to_dqt_at",
                          "placement_detail",
                          "provider_trainee_id",
                          "ukprn",
                          "ethnicity",
                          "course_qualification",
                          "course_title",
                          "course_level",
                          "course_itt_start_date",
                          "course_age_range",
                          "expected_end_date",
                          "employing_school_urn",
                          "lead_partner_urn_ukprn",
                          "lead_school_urn",
                          "fund_code",
                          "bursary_level",
                          "previous_last_name",
                          "itt_aim",
                          "course_study_mode",
                          "course_year",
                          "postgrad_apprenticeship_start_date",
                          "funding_method",
                          "ni_number",
                          "additional_training_initiative",
                          "itt_qualification_aim",
                          "hesa_disabilities",
                          "nationality",
                          "placements",
                          "degrees",
                          "state",
                          "trainee_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "total_count": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "current_page",
                        "total_pages",
                        "total_count",
                        "per_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "first_names": "Lemuel",
                      "last_name": "McCullough",
                      "date_of_birth": "1999-06-11",
                      "created_at": "2024-05-08T11:05:45.080Z",
                      "updated_at": "2024-05-08T11:05:45.094Z",
                      "email": "Lemuel.McCullough@example.com",
                      "middle_names": "Kub",
                      "training_route": null,
                      "sex": "10",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-03",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-25",
                      "trn": "4200263",
                      "submitted_for_trn_at": "2024-05-08T11:05:45.086Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-03",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-12",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": null,
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "5239066204096",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-581",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-03",
                      "course_age_range": "13917",
                      "expected_end_date": "2025-07-25",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "D",
                      "previous_last_name": "Murray",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "D",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "007",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "073",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:45.096Z",
                          "updated_at": "2024-05-08T11:05:45.096Z",
                          "subject": "100475",
                          "institution": "0003",
                          "graduation_year": 2020,
                          "grade": "02",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "64407223-7042-e811-80ff-3863bb3640b8",
                          "uk_degree_uuid": "076a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "db8170f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "e2fe18d4-8655-47cf-ab1a-8c3e0b0f078f",
                          "degree_id": "nBpmY5J6ej4V5inwqjugF3qk"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "8YjJnDRyWyHWw7VaSkt35gzw"
                    },
                    {
                      "first_names": "Olivia",
                      "last_name": "Roberts",
                      "date_of_birth": "1992-07-02",
                      "created_at": "2024-05-08T11:05:45.018Z",
                      "updated_at": "2024-05-08T11:05:45.029Z",
                      "email": "Olivia.Roberts@example.com",
                      "middle_names": "Renner",
                      "training_route": null,
                      "sex": "11",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-08",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-14",
                      "trn": "2218310",
                      "submitted_for_trn_at": "2024-05-08T11:05:45.021Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-08",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-08",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "026",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "1770833441354",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-578",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-08",
                      "course_age_range": "13912",
                      "expected_end_date": "2024-07-14",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "E",
                      "previous_last_name": "Wehner",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "E",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "031",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "081",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:45.030Z",
                          "updated_at": "2024-05-08T11:05:45.030Z",
                          "subject": "101201",
                          "institution": "0200",
                          "graduation_year": 2023,
                          "grade": "03",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "fa70f34a-2887-e711-80d8-005056ac45bb",
                          "uk_degree_uuid": "176a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "eb8570f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "377a46ea-d6c6-4e87-9728-c1f0dd0ef109",
                          "degree_id": "Y5RBhS1dQ9rHXCCqMzechBHZ"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "xpNUjPKL7nU37d6W3Zixqi6i"
                    },
                    {
                      "first_names": "Wilbur",
                      "last_name": "Walsh",
                      "date_of_birth": "1974-03-28",
                      "created_at": "2024-05-08T11:05:44.965Z",
                      "updated_at": "2024-05-08T11:05:44.975Z",
                      "email": "Wilbur.Walsh@example.com",
                      "middle_names": "Satterfield",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-31",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-29",
                      "trn": "4195365",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.968Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-31",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-31",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": null,
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "3448449238665",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-575",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-31",
                      "course_age_range": "13915",
                      "expected_end_date": "2025-07-29",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "7",
                      "previous_last_name": "Renner",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "7",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "007",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "096",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.976Z",
                          "updated_at": "2024-05-08T11:05:44.976Z",
                          "subject": "100706",
                          "institution": "0227",
                          "graduation_year": 2001,
                          "grade": "13",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "893e182c-1425-ec11-b6e6-000d3adf095a",
                          "uk_degree_uuid": "356a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "118370f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "df874702-2bcc-4aab-adaa-2efdd3a8dec4",
                          "degree_id": "si47q2oUmBKjyVY2jzvC6vWu"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "YaaiH8nhuoL7hGCpnbw5Rpau"
                    },
                    {
                      "first_names": "Helen",
                      "last_name": "Dare",
                      "date_of_birth": "1964-04-03",
                      "created_at": "2024-05-08T11:05:44.896Z",
                      "updated_at": "2024-05-08T11:05:44.908Z",
                      "email": "Helen.Dare@example.com",
                      "middle_names": "Stark",
                      "training_route": null,
                      "sex": "11",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-30",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-18",
                      "trn": "1931131",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.900Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-30",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-09-01",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "036",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "2682351184649",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-572",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-30",
                      "course_age_range": "13911",
                      "expected_end_date": "2024-07-18",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "D",
                      "previous_last_name": "Casper",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "D",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "028",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "071",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.909Z",
                          "updated_at": "2024-05-08T11:05:44.909Z",
                          "subject": "100483",
                          "institution": "0131",
                          "graduation_year": 1990,
                          "grade": "01",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "d270f34a-2887-e711-80d8-005056ac45bb",
                          "uk_degree_uuid": "036a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "e38170f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "8741765a-13d8-4550-a413-c5a860a59d25",
                          "degree_id": "Y1EmiMMRy29J9PiPs5fdEJVP"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "2mmz53GcaMPw5YtVkmYjvX8Z"
                    },
                    {
                      "first_names": "Jana",
                      "last_name": "Treutel",
                      "date_of_birth": "2000-02-28",
                      "created_at": "2024-05-08T11:05:44.836Z",
                      "updated_at": "2024-05-08T11:05:44.847Z",
                      "email": "Jana.Treutel@example.com",
                      "middle_names": "Feeney",
                      "training_route": null,
                      "sex": "10",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-17",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-08",
                      "trn": "3314179",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.840Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-17",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-19",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "026",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "6058553059977",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-569",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-17",
                      "course_age_range": "13909",
                      "expected_end_date": "2024-07-08",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "7",
                      "previous_last_name": "Reinger",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "7",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "001",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "080",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.849Z",
                          "updated_at": "2024-05-08T11:05:44.849Z",
                          "subject": "100266",
                          "institution": "0095",
                          "graduation_year": 2011,
                          "grade": "14",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "2a79b119-1f63-4d3f-bf14-74671d21c7cb",
                          "uk_degree_uuid": "156a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "878070f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "aaba4427-287c-4610-a838-1970dd9090c1",
                          "degree_id": "7GkmXgSmcg7sT7KQLeatcicc"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "nobZPMASt6g7ieashmkmok19"
                    },
                    {
                      "first_names": "Kristy",
                      "last_name": "Nader",
                      "date_of_birth": "1961-08-05",
                      "created_at": "2024-05-08T11:05:44.783Z",
                      "updated_at": "2024-05-08T11:05:44.794Z",
                      "email": "Kristy.Nader@example.com",
                      "middle_names": "Bergnaum",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-17",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-29",
                      "trn": "7533394",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.787Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-22",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "026",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "3905289528332",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-566",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-17",
                      "course_age_range": "13912",
                      "expected_end_date": "2025-07-29",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "7",
                      "previous_last_name": "Jakubowski",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "7",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "003",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "064",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.795Z",
                          "updated_at": "2024-05-08T11:05:44.795Z",
                          "subject": "101312",
                          "institution": "0113",
                          "graduation_year": 1993,
                          "grade": "12",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "cc70f34a-2887-e711-80d8-005056ac45bb",
                          "uk_degree_uuid": "f5695652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "4b8670f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "1bb9f02f-da6a-4184-8db0-d43b14ccaf1d",
                          "degree_id": "jpL7rHeh3g6kkgkh6F9BEpE5"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "mYooMou13bnq9ihSuTpa3Rsv"
                    },
                    {
                      "first_names": "Julio",
                      "last_name": "Lesch",
                      "date_of_birth": "1995-07-14",
                      "created_at": "2024-05-08T11:05:44.716Z",
                      "updated_at": "2024-05-08T11:05:44.727Z",
                      "email": "Julio.Lesch@example.com",
                      "middle_names": "Schuppe",
                      "training_route": null,
                      "sex": "11",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-05",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-16",
                      "trn": "4408988",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.720Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-22",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": null,
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "7502690841425",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-563",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-05",
                      "course_age_range": "13917",
                      "expected_end_date": "2025-07-16",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "9",
                      "previous_last_name": "Aufderhar",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "9",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "002",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "012",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.729Z",
                          "updated_at": "2024-05-08T11:05:44.729Z",
                          "subject": "101025",
                          "institution": "0070",
                          "graduation_year": 2014,
                          "grade": null,
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "235b7f3b-7042-e811-80ff-3863bb3640b8",
                          "uk_degree_uuid": "d5695652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "e58470f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "4182ef37-df1c-4f1e-9be6-feb66037f775",
                          "degree_id": "4QMZ5Lm96GhT29a94ohT7X9u"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "j2uD2LeYdXdXiegmAM8fgnep"
                    },
                    {
                      "first_names": "Emile",
                      "last_name": "Maggio",
                      "date_of_birth": "2004-05-23",
                      "created_at": "2024-05-08T11:05:44.655Z",
                      "updated_at": "2024-05-08T11:05:44.667Z",
                      "email": "Emile.Maggio@example.com",
                      "middle_names": "Streich",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-20",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-23",
                      "trn": "8097913",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.659Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-09-01",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "009",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "8900549319833",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-560",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-20",
                      "course_age_range": "13913",
                      "expected_end_date": "2024-07-23",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "6",
                      "previous_last_name": "Schmitt",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "6",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "020",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "208",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.669Z",
                          "updated_at": "2024-05-08T11:05:44.669Z",
                          "subject": "100037",
                          "institution": "0107",
                          "graduation_year": 2007,
                          "grade": "02",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "43f35f0b-7042-e811-80ff-3863bb3640b8",
                          "uk_degree_uuid": "4b6a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "377f70f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "e2fe18d4-8655-47cf-ab1a-8c3e0b0f078f",
                          "degree_id": "XoDyAdjsJutVKRGgM4wRG2N2"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "SKpKkwAojTzFbcEaw6tJS2fB"
                    },
                    {
                      "first_names": "Ian",
                      "last_name": "Hudson",
                      "date_of_birth": "1968-04-12",
                      "created_at": "2024-05-08T11:05:44.592Z",
                      "updated_at": "2024-05-08T11:05:44.604Z",
                      "email": "Ian.Hudson@example.com",
                      "middle_names": "Runolfsdottir",
                      "training_route": null,
                      "sex": "99",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-07",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-02",
                      "trn": "9903417",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.596Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-13",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": null,
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "3477746458111",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-557",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-07",
                      "course_age_range": "13913",
                      "expected_end_date": "2024-07-02",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "7",
                      "previous_last_name": "Boehm",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "7",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "004",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "208",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.605Z",
                          "updated_at": "2024-05-08T11:05:44.605Z",
                          "subject": "100148",
                          "institution": "0420",
                          "graduation_year": 1973,
                          "grade": "03",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "343e182c-1425-ec11-b6e6-000d3adf095a",
                          "uk_degree_uuid": "4b6a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "d37f70f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "377a46ea-d6c6-4e87-9728-c1f0dd0ef109",
                          "degree_id": "Y7iUz9pPYADAVLwrgpR7kxFd"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "gutTRtuTVwA3ygvV1mma9CeD"
                    },
                    {
                      "first_names": "Charise",
                      "last_name": "Borer",
                      "date_of_birth": "1974-07-19",
                      "created_at": "2024-05-08T11:05:44.523Z",
                      "updated_at": "2024-05-08T11:05:44.539Z",
                      "email": "Charise.Borer@example.com",
                      "middle_names": "Jerde",
                      "training_route": null,
                      "sex": "10",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-15",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-08",
                      "trn": "1549436",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.528Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-28",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "025",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "6456310142085",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-554",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-15",
                      "course_age_range": "13919",
                      "expected_end_date": "2025-07-08",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "9",
                      "previous_last_name": "Greenholt",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "9",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "028",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "071",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.540Z",
                          "updated_at": "2024-05-08T11:05:44.540Z",
                          "subject": "100826",
                          "institution": "0294",
                          "graduation_year": 1967,
                          "grade": "14",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "263f182c-1425-ec11-b6e6-000d3adf095a",
                          "uk_degree_uuid": "036a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "cb8370f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "aaba4427-287c-4610-a838-1970dd9090c1",
                          "degree_id": "tBHmEkgwSwCAcTeGbT8acLpD"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "SsvrZsv1sm8DtrbCNJtu6fKK"
                    },
                    {
                      "first_names": "Gerardo",
                      "last_name": "Hoeger",
                      "date_of_birth": "1980-08-31",
                      "created_at": "2024-05-08T11:05:44.451Z",
                      "updated_at": "2024-05-08T11:05:44.468Z",
                      "email": "Gerardo.Hoeger@example.com",
                      "middle_names": "Metz",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-06",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-03",
                      "trn": "5991143",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.455Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-08",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "036",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "9241378567766",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-551",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-06",
                      "course_age_range": "13914",
                      "expected_end_date": "2024-07-03",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "E",
                      "previous_last_name": "O'Connell",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "E",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "021",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "053",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.469Z",
                          "updated_at": "2024-05-08T11:05:44.469Z",
                          "subject": "101220",
                          "institution": "0164",
                          "graduation_year": 1971,
                          "grade": "14",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "4a71f34a-2887-e711-80d8-005056ac45bb",
                          "uk_degree_uuid": "df695652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "098670f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "aaba4427-287c-4610-a838-1970dd9090c1",
                          "degree_id": "dJKT11bWFLbUv79RDfW5mWMo"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "8HZKA6GYDy5M3rUfAdqpuT5x"
                    },
                    {
                      "first_names": "Candis",
                      "last_name": "Kutch",
                      "date_of_birth": "2002-05-31",
                      "created_at": "2024-05-08T11:05:44.391Z",
                      "updated_at": "2024-05-08T11:05:44.401Z",
                      "email": "Candis.Kutch@example.com",
                      "middle_names": "Hahn",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-07",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-31",
                      "trn": "4774349",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.395Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-07",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": null,
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "6238529204852",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-548",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-07",
                      "course_age_range": "13911",
                      "expected_end_date": "2024-07-31",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "8",
                      "previous_last_name": "Koepp",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "8",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "031",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "203",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.402Z",
                          "updated_at": "2024-05-08T11:05:44.402Z",
                          "subject": "101220",
                          "institution": "0304",
                          "graduation_year": 1969,
                          "grade": "12",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "7f3e182c-1425-ec11-b6e6-000d3adf095a",
                          "uk_degree_uuid": "416a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "098670f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "1bb9f02f-da6a-4184-8db0-d43b14ccaf1d",
                          "degree_id": "79JKuH8SJ7sRSoqTd7qAWMz9"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "U99nTP1QNX7a9r9cn6RBKuZz"
                    },
                    {
                      "first_names": "Morris",
                      "last_name": "Wiza",
                      "date_of_birth": "1968-05-16",
                      "created_at": "2024-05-08T11:05:44.337Z",
                      "updated_at": "2024-05-08T11:05:44.349Z",
                      "email": "Morris.Wiza@example.com",
                      "middle_names": "Lehner",
                      "training_route": null,
                      "sex": "10",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-15",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-15",
                      "trn": "6115262",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.341Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-26",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "036",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "2369398813190",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-545",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-15",
                      "course_age_range": "13915",
                      "expected_end_date": "2024-07-15",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "6",
                      "previous_last_name": "Adams",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "6",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "007",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "067",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.350Z",
                          "updated_at": "2024-05-08T11:05:44.350Z",
                          "subject": "101410",
                          "institution": "0104",
                          "graduation_year": 1975,
                          "grade": "14",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "c93e182c-1425-ec11-b6e6-000d3adf095a",
                          "uk_degree_uuid": "fb695652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "f38670f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "aaba4427-287c-4610-a838-1970dd9090c1",
                          "degree_id": "SGgFkntiLHRy9y3Udyyx25iQ"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "Qdyf1LCN4uvtadZyQ1aBszco"
                    },
                    {
                      "first_names": "Lonnie",
                      "last_name": "Mann",
                      "date_of_birth": "1986-10-14",
                      "created_at": "2024-05-08T11:05:44.275Z",
                      "updated_at": "2024-05-08T11:05:44.288Z",
                      "email": "Lonnie.Mann@example.com",
                      "middle_names": "Bradtke",
                      "training_route": null,
                      "sex": "10",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-03",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-13",
                      "trn": "6076457",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.280Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-11",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "026",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "3318601112263",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-542",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-03",
                      "course_age_range": "13918",
                      "expected_end_date": "2025-07-13",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "B",
                      "previous_last_name": "Langosh",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "B",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "028",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "097",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.289Z",
                          "updated_at": "2024-05-08T11:05:44.289Z",
                          "subject": "100249",
                          "institution": "0167",
                          "graduation_year": 2025,
                          "grade": "12",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "d7ed6e2f-7042-e811-80ff-3863bb3640b8",
                          "uk_degree_uuid": "376a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "698070f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "1bb9f02f-da6a-4184-8db0-d43b14ccaf1d",
                          "degree_id": "sFnQdRu8dgrQ9yjE2wqw5ktm"
                        }
                      ],
                      "state": "trn_received",
                      "trainee_id": "KwraQYTjAfQVSdXFutRXSjJk"
                    },
                    {
                      "first_names": "Tifany",
                      "last_name": "Kohler",
                      "date_of_birth": "1959-12-14",
                      "created_at": "2024-05-08T11:05:44.187Z",
                      "updated_at": "2024-05-08T11:05:44.200Z",
                      "email": "Tifany.Kohler@example.com",
                      "middle_names": "Auer",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-02",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-21",
                      "trn": "4909438",
                      "submitted_for_trn_at": "2024-05-08T11:05:44.191Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-14",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "009",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": "7302350987485",
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-539",
                      "ukprn": "22773319",
                      "ethnicity": null,
                      "disability1": "95",
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-02",
                      "course_age_range": "13914",
                      "expected_end_date": "2025-07-21",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "B",
                      "previous_last_name": "Kuphal",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-08",
                      "funding_method": "B",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "001",
                      "hesa_disabilities": {
                        "disability1": "95"
                      },
                      "nationality": "MV",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "057",
                          "non_uk_degree": null,
                          "created_at": "2024-05-08T11:05:44.202Z",
                          "updated_at": "2024-05-08T11:05:44.202Z",
                          "subject": "100251",
                          "institution": "0159",
                          "graduation_year": 1966,
                          "grade": "02",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "3671f34a-2887-e711-80d8-005056ac45bb",
[...]
