{
  "openapi": "3.0.3",
  "info": {
    "title": "Send Trainee Data Direct API",
    "version": "v0.1"
  },
  "servers": [
    {
      "url": "http://sandbox.register-trainee-teachers.service.gov.uk"
    }
  ],
  "paths": {
    "/api/{api_version}/trainees": {
      "get": {
        "summary": "index",
        "tags": [
          "Api::Trainee"
        ],
        "parameters": [
          {
            "name": "academic_cycle",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 2023
          },
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "v0.1"
          },
          {
            "name": "page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 1
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            },
            "example": 5
          },
          {
            "name": "since",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "2023-13-01"
          },
          {
            "name": "sort_order",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "asc"
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "example": "deferred"
          }
        ],
        "responses": {
          "200": {
            "description": "returns trainees with the specified state when a valid state is provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "first_names": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "date_of_birth": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "middle_names": {
                            "type": "string"
                          },
                          "training_route": {
                            "nullable": true
                          },
                          "sex": {
                            "type": "string"
                          },
                          "diversity_disclosure": {
                            "type": "string"
                          },
                          "ethnic_group": {
                            "nullable": true
                          },
                          "ethnic_background": {
                            "nullable": true
                          },
                          "additional_ethnic_background": {
                            "nullable": true
                          },
                          "disability_disclosure": {
                            "nullable": true
                          },
                          "course_subject_one": {
                            "type": "string"
                          },
                          "itt_start_date": {
                            "type": "string"
                          },
                          "outcome_date": {
                            "nullable": true
                          },
                          "itt_end_date": {
                            "type": "string"
                          },
                          "trn": {
                            "type": "string"
                          },
                          "submitted_for_trn_at": {
                            "type": "string"
                          },
                          "withdraw_date": {
                            "nullable": true
                          },
                          "withdraw_reasons_details": {
                            "nullable": true
                          },
                          "defer_date": {
                            "type": "string",
                            "nullable": true
                          },
                          "recommended_for_award_at": {
                            "nullable": true
                          },
                          "trainee_start_date": {
                            "type": "string"
                          },
                          "reinstate_date": {
                            "nullable": true
                          },
                          "course_min_age": {
                            "type": "integer"
                          },
                          "course_max_age": {
                            "type": "integer"
                          },
                          "course_subject_two": {
                            "nullable": true
                          },
                          "course_subject_three": {
                            "nullable": true
                          },
                          "awarded_at": {
                            "nullable": true
                          },
                          "training_initiative": {
                            "nullable": true,
                            "type": "string"
                          },
                          "study_mode": {
                            "type": "string"
                          },
                          "ebacc": {
                            "type": "boolean"
                          },
                          "region": {
                            "nullable": true
                          },
                          "course_education_phase": {
                            "type": "string"
                          },
                          "course_uuid": {
                            "nullable": true
                          },
                          "lead_school_not_applicable": {
                            "type": "boolean"
                          },
                          "employing_school_not_applicable": {
                            "type": "boolean"
                          },
                          "submission_ready": {
                            "type": "boolean"
                          },
                          "commencement_status": {
                            "nullable": true
                          },
                          "discarded_at": {
                            "nullable": true
                          },
                          "created_from_dttp": {
                            "type": "boolean"
                          },
                          "hesa_id": {
                            "nullable": true
                          },
                          "additional_dttp_data": {
                            "nullable": true
                          },
                          "created_from_hesa": {
                            "type": "boolean"
                          },
                          "hesa_updated_at": {
                            "nullable": true
                          },
                          "record_source": {
                            "nullable": true
                          },
                          "iqts_country": {
                            "nullable": true
                          },
                          "hesa_editable": {
                            "type": "boolean"
                          },
                          "withdraw_reasons_dfe_details": {
                            "nullable": true
                          },
                          "slug_sent_to_dqt_at": {
                            "nullable": true
                          },
                          "placement_detail": {
                            "nullable": true
                          },
                          "provider_trainee_id": {
                            "type": "string"
                          },
                          "ukprn": {
                            "type": "string"
                          },
                          "ethnicity": {
                            "nullable": true
                          },
                          "95": {
                            "nullable": true
                          },
                          "course_qualification": {
                            "type": "string"
                          },
                          "course_title": {
                            "nullable": true
                          },
                          "course_level": {
                            "type": "string"
                          },
                          "course_itt_start_date": {
                            "type": "string"
                          },
                          "course_age_range": {
                            "type": "string"
                          },
                          "expected_end_date": {
                            "type": "string"
                          },
                          "employing_school_urn": {
                            "nullable": true
                          },
                          "lead_partner_urn_ukprn": {
                            "nullable": true
                          },
                          "lead_school_urn": {
                            "nullable": true
                          },
                          "fund_code": {
                            "type": "string"
                          },
                          "bursary_level": {
                            "type": "string"
                          },
                          "previous_last_name": {
                            "type": "string"
                          },
                          "itt_aim": {
                            "type": "string"
                          },
                          "course_study_mode": {
                            "type": "string"
                          },
                          "course_year": {
                            "type": "integer"
                          },
                          "postgrad_apprenticeship_start_date": {
                            "type": "string"
                          },
                          "funding_method": {
                            "type": "string"
                          },
                          "ni_number": {
                            "type": "string"
                          },
                          "additional_training_initiative": {
                            "type": "string"
                          },
                          "itt_qualification_aim": {
                            "type": "string"
                          },
                          "hesa_disabilities": {
                            "type": "array",
                            "items": {
                              "type": "string"
                            }
                          },
                          "nationality": {
                            "type": "string"
                          },
                          "placements": {
                            "type": "array",
                            "items": {
                            }
                          },
                          "degrees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uk_degree": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "non_uk_degree": {
                                  "nullable": true
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string"
                                },
                                "subject": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "institution": {
                                  "type": "string"
                                },
                                "graduation_year": {
                                  "type": "integer"
                                },
                                "grade": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "country": {
                                  "nullable": true
                                },
                                "other_grade": {
                                  "nullable": true
                                },
                                "institution_uuid": {
                                  "type": "string"
                                },
                                "uk_degree_uuid": {
                                  "type": "string"
                                },
                                "subject_uuid": {
                                  "type": "string"
                                },
                                "grade_uuid": {
                                  "type": "string"
                                },
                                "degree_id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "uk_degree",
                                "non_uk_degree",
                                "created_at",
                                "updated_at",
                                "subject",
                                "institution",
                                "graduation_year",
                                "grade",
                                "country",
                                "other_grade",
                                "institution_uuid",
                                "uk_degree_uuid",
                                "subject_uuid",
                                "grade_uuid",
                                "degree_id"
                              ]
                            }
                          },
                          "state": {
                            "type": "string"
                          },
                          "trainee_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "first_names",
                          "last_name",
                          "date_of_birth",
                          "created_at",
                          "updated_at",
                          "email",
                          "middle_names",
                          "training_route",
                          "sex",
                          "diversity_disclosure",
                          "ethnic_group",
                          "ethnic_background",
                          "additional_ethnic_background",
                          "disability_disclosure",
                          "course_subject_one",
                          "itt_start_date",
                          "outcome_date",
                          "itt_end_date",
                          "trn",
                          "submitted_for_trn_at",
                          "withdraw_date",
                          "withdraw_reasons_details",
                          "defer_date",
                          "recommended_for_award_at",
                          "trainee_start_date",
                          "reinstate_date",
                          "course_min_age",
                          "course_max_age",
                          "course_subject_two",
                          "course_subject_three",
                          "awarded_at",
                          "training_initiative",
                          "study_mode",
                          "ebacc",
                          "region",
                          "course_education_phase",
                          "course_uuid",
                          "lead_school_not_applicable",
                          "employing_school_not_applicable",
                          "submission_ready",
                          "commencement_status",
                          "discarded_at",
                          "created_from_dttp",
                          "hesa_id",
                          "additional_dttp_data",
                          "created_from_hesa",
                          "hesa_updated_at",
                          "record_source",
                          "iqts_country",
                          "hesa_editable",
                          "withdraw_reasons_dfe_details",
                          "slug_sent_to_dqt_at",
                          "placement_detail",
                          "provider_trainee_id",
                          "ukprn",
                          "ethnicity",
                          "95",
                          "course_qualification",
                          "course_title",
                          "course_level",
                          "course_itt_start_date",
                          "course_age_range",
                          "expected_end_date",
                          "employing_school_urn",
                          "lead_partner_urn_ukprn",
                          "lead_school_urn",
                          "fund_code",
                          "bursary_level",
                          "previous_last_name",
                          "itt_aim",
                          "course_study_mode",
                          "course_year",
                          "postgrad_apprenticeship_start_date",
                          "funding_method",
                          "ni_number",
                          "additional_training_initiative",
                          "itt_qualification_aim",
                          "hesa_disabilities",
                          "nationality",
                          "placements",
                          "degrees",
                          "state",
                          "trainee_id"
                        ]
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "current_page": {
                          "type": "integer"
                        },
                        "total_pages": {
                          "type": "integer"
                        },
                        "total_count": {
                          "type": "integer"
                        },
                        "per_page": {
                          "type": "integer"
                        }
                      },
                      "required": [
                        "current_page",
                        "total_pages",
                        "total_count",
                        "per_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                },
                "example": {
                  "data": [
                    {
                      "first_names": "Napoleon",
                      "last_name": "Rosenbaum",
                      "date_of_birth": "1991-06-30",
                      "created_at": "2024-05-01T20:28:06.059Z",
                      "updated_at": "2024-05-01T20:28:06.071Z",
                      "email": "Napoleon.Rosenbaum@example.com",
                      "middle_names": "Haley",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-28",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-11",
                      "trn": "9404370",
                      "submitted_for_trn_at": "2024-05-01T20:28:06.062Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-28",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-31",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "025",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": null,
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-702",
                      "ukprn": "10736862",
                      "ethnicity": null,
                      "95": null,
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-28",
                      "course_age_range": "13913",
                      "expected_end_date": "2025-07-11",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "B",
                      "previous_last_name": "Stehr",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-01",
                      "funding_method": "B",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "031",
                      "hesa_disabilities": [
                        "95"
                      ],
                      "nationality": "zimbabwean",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "052",
                          "non_uk_degree": null,
                          "created_at": "2024-05-01T20:28:06.072Z",
                          "updated_at": "2024-05-01T20:28:06.072Z",
                          "subject": "101454",
                          "institution": "0146",
                          "graduation_year": 1987,
                          "grade": "13",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "bddb7129-7042-e811-80ff-3863bb3640b8",
                          "uk_degree_uuid": "dd695652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "478770f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "df874702-2bcc-4aab-adaa-2efdd3a8dec4",
                          "degree_id": "8tcbt2S2qTFJ1peYJz5nNkXJ"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "BX1bXqmQ4jxZuTpTRKHdh9N1"
                    },
                    {
                      "first_names": "Conception",
                      "last_name": "Schinner",
                      "date_of_birth": "1997-01-27",
                      "created_at": "2024-05-01T20:28:05.996Z",
                      "updated_at": "2024-05-01T20:28:06.009Z",
                      "email": "Conception.Schinner@example.com",
                      "middle_names": "Wilderman",
                      "training_route": null,
                      "sex": "11",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-17",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-25",
                      "trn": "8035622",
                      "submitted_for_trn_at": "2024-05-01T20:28:05.999Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-17",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-17",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "026",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": null,
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-699",
                      "ukprn": "10736862",
                      "ethnicity": null,
                      "95": null,
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-17",
                      "course_age_range": "13916",
                      "expected_end_date": "2024-07-25",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "4",
                      "previous_last_name": "Boehm",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-01",
                      "funding_method": "4",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "001",
                      "hesa_disabilities": [
                        "95"
                      ],
                      "nationality": "zimbabwean",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "057",
                          "non_uk_degree": null,
                          "created_at": "2024-05-01T20:28:06.010Z",
                          "updated_at": "2024-05-01T20:28:06.010Z",
                          "subject": "100384",
                          "institution": "0180",
                          "graduation_year": 1994,
                          "grade": "12",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "b3407223-7042-e811-80ff-3863bb3640b8",
                          "uk_degree_uuid": "e7695652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "4d8170f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "1bb9f02f-da6a-4184-8db0-d43b14ccaf1d",
                          "degree_id": "gQBqEGoXj1h96z4x5AdPiCwy"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "8LrNVr3QpGsWpuMSxPtrfgck"
                    },
                    {
                      "first_names": "Alethea",
                      "last_name": "Bechtelar",
                      "date_of_birth": "1961-01-13",
                      "created_at": "2024-05-01T20:28:05.934Z",
                      "updated_at": "2024-05-01T20:28:05.946Z",
                      "email": "Alethea.Bechtelar@example.com",
                      "middle_names": "Kautzer",
                      "training_route": null,
                      "sex": "96",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-10",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-21",
                      "trn": "1721188",
                      "submitted_for_trn_at": "2024-05-01T20:28:05.937Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-10",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-10",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "036",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": null,
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-696",
                      "ukprn": "10736862",
                      "ethnicity": null,
                      "95": null,
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-10",
                      "course_age_range": "13912",
                      "expected_end_date": "2024-07-21",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "E",
                      "previous_last_name": "Hamill",
                      "itt_aim": "201",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-01",
                      "funding_method": "E",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "021",
                      "hesa_disabilities": [
                        "95"
                      ],
                      "nationality": "zimbabwean",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "065",
                          "non_uk_degree": null,
                          "created_at": "2024-05-01T20:28:05.947Z",
                          "updated_at": "2024-05-01T20:28:05.947Z",
                          "subject": "100744",
                          "institution": "0359",
                          "graduation_year": 1969,
                          "grade": "12",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "f43e182c-1425-ec11-b6e6-000d3adf095a",
                          "uk_degree_uuid": "f7695652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "438370f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "1bb9f02f-da6a-4184-8db0-d43b14ccaf1d",
                          "degree_id": "WpUXzXNkthJT3d5wpcv1rDYT"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "mP39SCCjWkf7sq9vfa5PdhD1"
                    },
                    {
                      "first_names": "Waldo",
                      "last_name": "Thiel",
                      "date_of_birth": "1971-06-04",
                      "created_at": "2024-05-01T20:28:05.868Z",
                      "updated_at": "2024-05-01T20:28:05.881Z",
                      "email": "Waldo.Thiel@example.com",
                      "middle_names": "Miller",
                      "training_route": null,
                      "sex": "99",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-03",
                      "outcome_date": null,
                      "itt_end_date": "2024-07-23",
                      "trn": "4729965",
                      "submitted_for_trn_at": "2024-05-01T20:28:05.872Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-03",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-18",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 16,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": null,
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": null,
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-693",
                      "ukprn": "10736862",
                      "ethnicity": null,
                      "95": null,
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-03",
                      "course_age_range": "13914",
                      "expected_end_date": "2024-07-23",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "7",
                      "bursary_level": "E",
                      "previous_last_name": "Greenholt",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-01",
                      "funding_method": "E",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "004",
                      "hesa_disabilities": [
                        "95"
                      ],
                      "nationality": "zimbabwean",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "218",
                          "non_uk_degree": null,
                          "created_at": "2024-05-01T20:28:05.884Z",
                          "updated_at": "2024-05-01T20:28:05.884Z",
                          "subject": "101361",
                          "institution": "0037",
                          "graduation_year": 2010,
                          "grade": null,
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "c10b1d33-3fa2-e811-812b-5065f38ba241",
                          "uk_degree_uuid": "b6d2c5aa-cf99-4831-9bfe-6279349d8ea9",
                          "subject_uuid": "9f8670f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "4182ef37-df1c-4f1e-9be6-feb66037f775",
                          "degree_id": "dTGkUCAhMY3jQxu7Q84wvMPy"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "hFWSdG7PVXhoaqomiQL8gfAD"
                    },
                    {
                      "first_names": "Devon",
                      "last_name": "Mosciski",
                      "date_of_birth": "1970-06-28",
                      "created_at": "2024-05-01T20:28:05.801Z",
                      "updated_at": "2024-05-01T20:28:05.813Z",
                      "email": "Devon.Mosciski@example.com",
                      "middle_names": "Crooks",
                      "training_route": null,
                      "sex": "12",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100403",
                      "itt_start_date": "2023-08-22",
                      "outcome_date": null,
                      "itt_end_date": "2025-07-15",
                      "trn": "7362615",
                      "submitted_for_trn_at": "2024-05-01T20:28:05.805Z",
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": "2023-08-22",
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-22",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": "009",
                      "study_mode": "01",
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": true,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": null,
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-690",
                      "ukprn": "10736862",
                      "ethnicity": null,
                      "95": null,
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "postgrad",
                      "course_itt_start_date": "2023-08-22",
                      "course_age_range": "13919",
                      "expected_end_date": "2025-07-15",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": "2",
                      "bursary_level": "E",
                      "previous_last_name": "Stamm",
                      "itt_aim": "202",
                      "course_study_mode": "01",
                      "course_year": 2024,
                      "postgrad_apprenticeship_start_date": "2024-05-01",
                      "funding_method": "E",
                      "ni_number": "QQ 12 34 56 C",
                      "additional_training_initiative": "026",
                      "itt_qualification_aim": "031",
                      "hesa_disabilities": [
                        "95"
                      ],
                      "nationality": "zimbabwean",
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "009",
                          "non_uk_degree": null,
                          "created_at": "2024-05-01T20:28:05.814Z",
                          "updated_at": "2024-05-01T20:28:05.814Z",
                          "subject": "100255",
                          "institution": "0052",
                          "graduation_year": 1973,
                          "grade": "12",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "c870f34a-2887-e711-80d8-005056ac45bb",
                          "uk_degree_uuid": "da47d378-f4bb-45ec-bda0-14af40ad974e",
                          "subject_uuid": "758070f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "1bb9f02f-da6a-4184-8db0-d43b14ccaf1d",
                          "degree_id": "MNp3dSMU8jTvkZ3fNonABxg5"
                        }
                      ],
                      "state": "deferred",
                      "trainee_id": "SQXs3y3RTCP1r1fJEk5FnprY"
                    }
                  ],
                  "meta": {
                    "current_page": 1,
                    "total_pages": 1,
                    "total_count": 5,
                    "per_page": 50
                  }
                }
              }
            }
          },
          "422": {
            "description": "returns 422 when an invalid state is provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
                      "type": "object",
                      "properties": {
                        "status": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "academic_cycle": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        },
                        "since": {
                          "type": "array",
                          "items": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  },
                  "required": [
                    "message",
                    "errors"
                  ]
                },
                "example": {
                  "message": "Validation failed: 1 error prohibited this request being run",
                  "errors": {
                    "status": [
                      "invalid_state is not a valid status"
                    ],
                    "academic_cycle": [
                      "not-a-number is not a valid academic cycle year"
                    ],
                    "since": [
                      "2023-13-01 is not a valid date"
                    ]
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "create",
        "tags": [
          "Api::Trainee"
        ],
        "parameters": [
          {
            "name": "api_version",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "v0.1"
          }
        ],
        "requestBody": {
          "content": {
            "application/x-www-form-urlencoded": {
              "schema": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "properties": {
                      "first_names": {
                        "type": "string"
                      },
                      "last_name": {
                        "type": "string"
                      },
                      "date_of_birth": {
                        "type": "string"
                      },
                      "sex": {
                        "type": "string"
                      },
                      "email": {
                        "type": "string"
                      },
                      "nationality": {
                        "type": "string"
                      },
                      "training_route": {
                        "type": "string"
                      },
                      "itt_start_date": {
                        "type": "string"
                      },
                      "itt_end_date": {
                        "type": "string"
                      },
                      "course_subject_one": {
                        "type": "string"
                      },
                      "study_mode": {
                        "type": "string"
                      },
                      "degrees_attributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "subject": {
                              "type": "string"
                            },
                            "institution": {
                              "nullable": true,
                              "type": "string"
                            },
                            "graduation_date": {
                              "type": "string"
                            },
                            "subject_one": {
                              "type": "string"
                            },
                            "grade": {
                              "type": "string"
                            },
                            "country": {
                              "type": "string"
                            },
                            "graduation_year": {
                              "type": "string"
                            },
                            "uk_degree": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "subject",
                            "institution",
                            "grade",
                            "country"
                          ]
                        }
                      },
                      "placements_attributes": {
                        "type": "array",
                        "items": {
                          "type": "object",
                          "properties": {
                            "urn": {
                              "type": "string"
                            }
                          },
                          "required": [
                            "urn"
                          ]
                        }
                      },
                      "itt_aim": {
                        "type": "string"
                      },
                      "itt_qualification_aim": {
                        "type": "string"
                      },
                      "course_year": {
                        "type": "string"
                      },
                      "course_age_range": {
                        "type": "string"
                      },
                      "fund_code": {
                        "type": "string"
                      },
                      "funding_method": {
                        "type": "string"
                      },
                      "hesa_id": {
                        "type": "string"
                      },
                      "previous_last_name": {
                        "type": "string"
                      },
                      "disability1": {
                        "type": "string"
                      },
                      "disability2": {
                        "type": "string"
                      },
                      "provider_trainee_id": {
                        "type": "string"
                      }
                    },
                    "required": [
                      "first_names",
                      "last_name",
                      "date_of_birth",
                      "sex",
                      "email",
                      "nationality",
                      "training_route",
                      "itt_start_date",
                      "itt_end_date",
                      "course_subject_one",
                      "study_mode",
                      "degrees_attributes",
                      "placements_attributes",
                      "itt_aim",
                      "itt_qualification_aim",
                      "course_year",
                      "course_age_range",
                      "fund_code",
                      "funding_method",
                      "hesa_id"
                    ]
                  }
                },
                "required": [
                  "data"
                ]
              },
              "example": {
                "data": {
                  "first_names": "John",
                  "last_name": "Doe",
                  "date_of_birth": "1990-01-01",
                  "sex": "11",
                  "email": "john.doe@example.com",
                  "nationality": "GB",
                  "training_route": "11",
                  "itt_start_date": "2023-01-01",
                  "itt_end_date": "2023-10-01",
                  "course_subject_one": "100346",
                  "study_mode": "63",
                  "degrees_attributes": [
                    {
                      "subject": "100485",
                      "institution": "0117",
                      "graduation_year": "2003-01-01",
                      "grade": "02",
                      "uk_degree": "083",
                      "country": "XF"
                    }
                  ],
                  "placements_attributes": [
                    {
                      "urn": "900020"
                    }
                  ],
                  "itt_aim": "202",
                  "itt_qualification_aim": "001",
                  "course_year": "2012",
                  "course_age_range": "13915",
                  "fund_code": "7",
                  "funding_method": "4",
                  "hesa_id": "0310261553101",
                  "previous_last_name": "Smith",
                  "disability1": "58",
                  "disability2": "57",
                  "provider_trainee_id": "99157234/2/01"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "creates the degrees with the correct graduation_year",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "first_names": {
                      "type": "string"
                    },
                    "last_name": {
                      "type": "string"
                    },
                    "date_of_birth": {
                      "type": "string"
                    },
                    "created_at": {
                      "type": "string"
                    },
                    "updated_at": {
                      "type": "string"
                    },
                    "email": {
                      "type": "string"
                    },
                    "middle_names": {
                      "nullable": true
                    },
                    "training_route": {
                      "type": "string"
                    },
                    "sex": {
                      "type": "string"
                    },
                    "diversity_disclosure": {
                      "type": "string"
                    },
                    "ethnic_group": {
                      "type": "string"
                    },
                    "ethnic_background": {
                      "type": "string"
                    },
                    "additional_ethnic_background": {
                      "nullable": true
                    },
                    "disability_disclosure": {
                      "type": "string"
                    },
                    "course_subject_one": {
                      "type": "string"
                    },
                    "itt_start_date": {
                      "type": "string"
                    },
                    "outcome_date": {
                      "nullable": true
                    },
                    "itt_end_date": {
                      "type": "string"
                    },
                    "trn": {
                      "nullable": true
                    },
                    "submitted_for_trn_at": {
                      "type": "string"
                    },
                    "withdraw_date": {
                      "nullable": true
                    },
                    "withdraw_reasons_details": {
                      "nullable": true
                    },
                    "defer_date": {
                      "nullable": true
                    },
                    "recommended_for_award_at": {
                      "nullable": true
                    },
                    "trainee_start_date": {
                      "type": "string"
                    },
                    "reinstate_date": {
                      "nullable": true
                    },
                    "course_min_age": {
                      "type": "integer"
                    },
                    "course_max_age": {
                      "type": "integer"
                    },
                    "course_subject_two": {
                      "type": "string",
                      "nullable": true
                    },
                    "course_subject_three": {
                      "nullable": true
                    },
                    "awarded_at": {
                      "nullable": true
                    },
                    "training_initiative": {
                      "nullable": true
                    },
                    "study_mode": {
                      "nullable": true
                    },
                    "ebacc": {
                      "type": "boolean"
                    },
                    "region": {
                      "nullable": true
                    },
                    "course_education_phase": {
                      "type": "string"
                    },
                    "course_uuid": {
                      "nullable": true
                    },
                    "lead_school_not_applicable": {
                      "type": "boolean"
                    },
                    "employing_school_not_applicable": {
                      "type": "boolean"
                    },
                    "submission_ready": {
                      "type": "boolean"
                    },
                    "commencement_status": {
                      "nullable": true
                    },
                    "discarded_at": {
                      "nullable": true
                    },
                    "created_from_dttp": {
                      "type": "boolean"
                    },
                    "hesa_id": {
                      "type": "string"
                    },
                    "additional_dttp_data": {
                      "nullable": true
                    },
                    "created_from_hesa": {
                      "type": "boolean"
                    },
                    "hesa_updated_at": {
                      "nullable": true
                    },
                    "record_source": {
                      "type": "string"
                    },
                    "iqts_country": {
                      "nullable": true
                    },
                    "hesa_editable": {
                      "type": "boolean"
                    },
                    "withdraw_reasons_dfe_details": {
                      "nullable": true
                    },
                    "slug_sent_to_dqt_at": {
                      "nullable": true
                    },
                    "placement_detail": {
                      "nullable": true
                    },
                    "provider_trainee_id": {
                      "nullable": true,
                      "type": "string"
                    },
                    "ukprn": {
                      "type": "string"
                    },
                    "ethnicity": {
                      "type": "string"
                    },
                    "course_qualification": {
                      "type": "string"
                    },
                    "course_title": {
                      "nullable": true
                    },
                    "course_level": {
                      "type": "string"
                    },
                    "course_itt_start_date": {
                      "type": "string"
                    },
                    "course_age_range": {
                      "type": "string"
                    },
                    "expected_end_date": {
                      "type": "string"
                    },
                    "employing_school_urn": {
                      "nullable": true
                    },
                    "lead_partner_urn_ukprn": {
                      "nullable": true
                    },
                    "lead_school_urn": {
                      "nullable": true
                    },
                    "fund_code": {
                      "type": "string"
                    },
                    "bursary_level": {
                      "type": "string"
                    },
                    "previous_last_name": {
                      "nullable": true,
                      "type": "string"
                    },
                    "itt_aim": {
                      "type": "string"
                    },
                    "course_study_mode": {
                      "nullable": true
                    },
                    "course_year": {
                      "type": "integer"
                    },
                    "postgrad_apprenticeship_start_date": {
                      "nullable": true
                    },
                    "funding_method": {
                      "type": "string"
                    },
                    "ni_number": {
                      "nullable": true
                    },
                    "additional_training_initiative": {
                      "nullable": true
                    },
                    "itt_qualification_aim": {
                      "type": "string"
                    },
                    "hesa_disabilities": {
                      "type": "object",
                      "properties": {
                        "disability1": {
                          "type": "string"
                        },
                        "disability2": {
                          "type": "string"
                        }
                      }
                    },
                    "nationality": {
                      "type": "string"
                    },
                    "placements": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "urn": {
                            "type": "string"
                          },
                          "name": {
                            "type": "string"
                          },
                          "postcode": {
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "placement_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "urn",
                          "name",
                          "postcode",
                          "created_at",
                          "updated_at",
                          "placement_id"
                        ]
                      }
                    },
                    "degrees": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "uk_degree": {
                            "nullable": true,
                            "type": "string"
                          },
                          "non_uk_degree": {
                            "nullable": true
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "subject": {
                            "nullable": true,
                            "type": "string"
                          },
                          "institution": {
                            "nullable": true,
                            "type": "string"
                          },
                          "graduation_year": {
                            "nullable": true,
                            "type": "integer"
                          },
                          "grade": {
                            "type": "string"
                          },
                          "country": {
                            "nullable": true
                          },
                          "other_grade": {
                            "nullable": true
                          },
                          "institution_uuid": {
                            "type": "string"
                          },
                          "uk_degree_uuid": {
                            "nullable": true,
                            "type": "string"
                          },
                          "subject_uuid": {
                            "nullable": true,
                            "type": "string"
                          },
                          "grade_uuid": {
                            "type": "string"
                          },
                          "degree_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "uk_degree",
                          "non_uk_degree",
                          "created_at",
                          "updated_at",
                          "subject",
                          "institution",
                          "graduation_year",
                          "grade",
                          "country",
                          "other_grade",
                          "institution_uuid",
                          "uk_degree_uuid",
                          "subject_uuid",
                          "grade_uuid",
                          "degree_id"
                        ]
                      }
                    },
                    "state": {
                      "type": "string"
                    },
                    "trainee_id": {
                      "type": "string"
                    },
                    "disability1": {
                      "type": "string"
                    },
                    "disability2": {
                      "type": "string"
                    }
                  },
                  "required": [
                    "first_names",
                    "last_name",
                    "date_of_birth",
                    "created_at",
                    "updated_at",
                    "email",
                    "middle_names",
                    "training_route",
                    "sex",
                    "diversity_disclosure",
                    "ethnic_group",
                    "ethnic_background",
                    "additional_ethnic_background",
                    "disability_disclosure",
                    "course_subject_one",
                    "itt_start_date",
                    "outcome_date",
                    "itt_end_date",
                    "trn",
                    "submitted_for_trn_at",
                    "withdraw_date",
                    "withdraw_reasons_details",
                    "defer_date",
                    "recommended_for_award_at",
                    "trainee_start_date",
                    "reinstate_date",
                    "course_min_age",
                    "course_max_age",
                    "course_subject_two",
                    "course_subject_three",
                    "awarded_at",
                    "training_initiative",
                    "study_mode",
                    "ebacc",
                    "region",
                    "course_education_phase",
                    "course_uuid",
                    "lead_school_not_applicable",
                    "employing_school_not_applicable",
                    "submission_ready",
                    "commencement_status",
                    "discarded_at",
                    "created_from_dttp",
                    "hesa_id",
                    "additional_dttp_data",
                    "created_from_hesa",
                    "hesa_updated_at",
                    "record_source",
                    "iqts_country",
                    "hesa_editable",
                    "withdraw_reasons_dfe_details",
                    "slug_sent_to_dqt_at",
                    "placement_detail",
                    "provider_trainee_id",
                    "ukprn",
                    "ethnicity",
                    "course_qualification",
                    "course_title",
                    "course_level",
                    "course_itt_start_date",
                    "course_age_range",
                    "expected_end_date",
                    "employing_school_urn",
                    "lead_partner_urn_ukprn",
                    "lead_school_urn",
                    "fund_code",
                    "bursary_level",
                    "previous_last_name",
                    "itt_aim",
                    "course_study_mode",
                    "course_year",
                    "postgrad_apprenticeship_start_date",
                    "funding_method",
                    "ni_number",
                    "additional_training_initiative",
                    "itt_qualification_aim",
                    "hesa_disabilities",
                    "nationality",
                    "placements",
                    "degrees",
                    "state",
                    "trainee_id"
                  ]
                },
                "example": {
                  "first_names": "John",
                  "last_name": "Doe",
                  "date_of_birth": "1990-01-01",
                  "created_at": "2024-05-01T20:27:48.537Z",
                  "updated_at": "2024-05-01T20:27:48.537Z",
                  "email": "john.doe@example.com",
                  "middle_names": null,
                  "training_route": "11",
                  "sex": "11",
                  "diversity_disclosure": "diversity_disclosed",
                  "ethnic_group": "not_provided_ethnic_group",
                  "ethnic_background": "Not provided",
                  "additional_ethnic_background": null,
                  "disability_disclosure": "disabled",
                  "course_subject_one": "100511",
                  "itt_start_date": "2023-01-01",
                  "outcome_date": null,
                  "itt_end_date": "2023-10-01",
                  "trn": null,
                  "submitted_for_trn_at": "2024-05-01T20:27:48.593Z",
                  "withdraw_date": null,
                  "withdraw_reasons_details": null,
                  "defer_date": null,
                  "recommended_for_award_at": null,
                  "trainee_start_date": "2023-01-01",
                  "reinstate_date": null,
                  "course_min_age": 7,
                  "course_max_age": 11,
                  "course_subject_two": "biology",
                  "course_subject_three": null,
                  "awarded_at": null,
                  "training_initiative": null,
                  "study_mode": null,
                  "ebacc": false,
                  "region": null,
                  "course_education_phase": "primary",
                  "course_uuid": null,
                  "lead_school_not_applicable": false,
                  "employing_school_not_applicable": false,
                  "submission_ready": true,
                  "commencement_status": null,
                  "discarded_at": null,
                  "created_from_dttp": false,
                  "hesa_id": "0310261553101",
                  "additional_dttp_data": null,
                  "created_from_hesa": false,
                  "hesa_updated_at": null,
                  "record_source": "api",
                  "iqts_country": null,
                  "hesa_editable": false,
                  "withdraw_reasons_dfe_details": null,
                  "slug_sent_to_dqt_at": null,
                  "placement_detail": null,
                  "provider_trainee_id": "99157234/2/01",
                  "ukprn": "54901808",
                  "ethnicity": "997",
                  "course_qualification": "QTS",
                  "course_title": null,
                  "course_level": "undergrad",
                  "course_itt_start_date": "2023-01-01",
                  "course_age_range": "13915",
                  "expected_end_date": "2023-10-01",
                  "employing_school_urn": null,
                  "lead_partner_urn_ukprn": null,
                  "lead_school_urn": null,
                  "fund_code": "7",
                  "bursary_level": "4",
                  "previous_last_name": "Smith",
                  "itt_aim": "202",
                  "course_study_mode": null,
                  "course_year": 2012,
                  "postgrad_apprenticeship_start_date": null,
                  "funding_method": "4",
                  "ni_number": null,
                  "additional_training_initiative": null,
                  "itt_qualification_aim": "001",
                  "hesa_disabilities": {
                    "disability1": "58",
                    "disability2": "57"
                  },
                  "nationality": "british",
                  "placements": [
                    {
                      "urn": "900020",
                      "name": "Establishment does not have a URN",
                      "postcode": null,
                      "created_at": "2024-05-01T20:27:48.548Z",
                      "updated_at": "2024-05-01T20:27:48.548Z",
                      "placement_id": "y6mxt1KGC1aVs3KSpHyM3w2h"
                    }
                  ],
                  "degrees": [
                    {
                      "uk_degree": "083",
                      "non_uk_degree": null,
                      "created_at": "2024-05-01T20:27:48.538Z",
                      "updated_at": "2024-05-01T20:27:48.538Z",
                      "subject": "100485",
                      "institution": "0117",
                      "graduation_year": 2003,
                      "grade": "02",
                      "country": null,
                      "other_grade": null,
                      "institution_uuid": "1271f34a-2887-e711-80d8-005056ac45bb",
                      "uk_degree_uuid": "1b6a5652-c197-e711-80d8-005056ac45bb",
                      "subject_uuid": "e78170f0-5dce-e911-a985-000d3ab79618",
                      "grade_uuid": "e2fe18d4-8655-47cf-ab1a-8c3e0b0f078f",
                      "degree_id": "iZo8tZVbjksWsXihzr9akG94"
                    }
                  ],
                  "state": "submitted_for_trn",
                  "trainee_id": "nFPpSzkar4aYjVpPAxr1hgTQ",
                  "disability1": "58",
                  "disability2": "57"
                }
              }
            }
          },
          "409": {
            "description": "returns status 409 (conflict) with the potential duplicates and does not create a trainee record",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "errors": {
                      "type": "string"
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "first_names": {
                            "type": "string"
                          },
                          "last_name": {
                            "type": "string"
                          },
                          "date_of_birth": {
                            "type": "string"
                          },
                          "created_at": {
                            "type": "string"
                          },
                          "updated_at": {
                            "type": "string"
                          },
                          "email": {
                            "type": "string"
                          },
                          "middle_names": {
                            "type": "string"
                          },
                          "training_route": {
                            "type": "string"
                          },
                          "sex": {
                            "type": "string"
                          },
                          "diversity_disclosure": {
                            "type": "string"
                          },
                          "ethnic_group": {
                            "nullable": true
                          },
                          "ethnic_background": {
                            "nullable": true
                          },
                          "additional_ethnic_background": {
                            "nullable": true
                          },
                          "disability_disclosure": {
                            "nullable": true
                          },
                          "course_subject_one": {
                            "type": "string"
                          },
                          "itt_start_date": {
                            "type": "string"
                          },
                          "outcome_date": {
                            "nullable": true
                          },
                          "itt_end_date": {
                            "type": "string"
                          },
                          "trn": {
                            "nullable": true
                          },
                          "submitted_for_trn_at": {
                            "nullable": true
                          },
                          "withdraw_date": {
                            "nullable": true
                          },
                          "withdraw_reasons_details": {
                            "nullable": true
                          },
                          "defer_date": {
                            "nullable": true
                          },
                          "recommended_for_award_at": {
                            "nullable": true
                          },
                          "trainee_start_date": {
                            "type": "string"
                          },
                          "reinstate_date": {
                            "nullable": true
                          },
                          "course_min_age": {
                            "type": "integer"
                          },
                          "course_max_age": {
                            "type": "integer"
                          },
                          "course_subject_two": {
                            "nullable": true
                          },
                          "course_subject_three": {
                            "nullable": true
                          },
                          "awarded_at": {
                            "nullable": true
                          },
                          "training_initiative": {
                            "nullable": true,
                            "type": "string"
                          },
                          "study_mode": {
                            "nullable": true
                          },
                          "ebacc": {
                            "type": "boolean"
                          },
                          "region": {
                            "nullable": true
                          },
                          "course_education_phase": {
                            "type": "string"
                          },
                          "course_uuid": {
                            "nullable": true
                          },
                          "lead_school_not_applicable": {
                            "type": "boolean"
                          },
                          "employing_school_not_applicable": {
                            "type": "boolean"
                          },
                          "submission_ready": {
                            "type": "boolean"
                          },
                          "commencement_status": {
                            "nullable": true
                          },
                          "discarded_at": {
                            "nullable": true
                          },
                          "created_from_dttp": {
                            "type": "boolean"
                          },
                          "hesa_id": {
                            "nullable": true
                          },
                          "additional_dttp_data": {
                            "nullable": true
                          },
                          "created_from_hesa": {
                            "type": "boolean"
                          },
                          "hesa_updated_at": {
                            "nullable": true
                          },
                          "record_source": {
                            "nullable": true
                          },
                          "iqts_country": {
                            "nullable": true
                          },
                          "hesa_editable": {
                            "type": "boolean"
                          },
                          "withdraw_reasons_dfe_details": {
                            "nullable": true
                          },
                          "slug_sent_to_dqt_at": {
                            "nullable": true
                          },
                          "placement_detail": {
                            "nullable": true
                          },
                          "provider_trainee_id": {
                            "type": "string"
                          },
                          "ukprn": {
                            "type": "string"
                          },
                          "ethnicity": {
                            "nullable": true
                          },
                          "course_qualification": {
                            "type": "string"
                          },
                          "course_title": {
                            "nullable": true
                          },
                          "course_level": {
                            "type": "string"
                          },
                          "course_itt_start_date": {
                            "type": "string"
                          },
                          "course_age_range": {
                            "nullable": true
                          },
                          "expected_end_date": {
                            "type": "string"
                          },
                          "employing_school_urn": {
                            "nullable": true
                          },
                          "lead_partner_urn_ukprn": {
                            "nullable": true
                          },
                          "lead_school_urn": {
                            "nullable": true
                          },
                          "fund_code": {
                            "nullable": true
                          },
                          "bursary_level": {
                            "nullable": true
                          },
                          "nationality": {
                            "nullable": true
                          },
                          "placements": {
                            "type": "array",
                            "items": {
                            }
                          },
                          "degrees": {
                            "type": "array",
                            "items": {
                              "type": "object",
                              "properties": {
                                "uk_degree": {
                                  "type": "string"
                                },
                                "non_uk_degree": {
                                  "nullable": true
                                },
                                "created_at": {
                                  "type": "string"
                                },
                                "updated_at": {
                                  "type": "string"
                                },
                                "subject": {
                                  "type": "string"
                                },
                                "institution": {
                                  "type": "string"
                                },
                                "graduation_year": {
                                  "type": "integer"
                                },
                                "grade": {
                                  "type": "string",
                                  "nullable": true
                                },
                                "country": {
                                  "nullable": true
                                },
                                "other_grade": {
                                  "nullable": true
                                },
                                "institution_uuid": {
                                  "type": "string"
                                },
                                "uk_degree_uuid": {
                                  "type": "string"
                                },
                                "subject_uuid": {
                                  "type": "string"
                                },
                                "grade_uuid": {
                                  "type": "string"
                                },
                                "degree_id": {
                                  "type": "string"
                                }
                              },
                              "required": [
                                "uk_degree",
                                "non_uk_degree",
                                "created_at",
                                "updated_at",
                                "subject",
                                "institution",
                                "graduation_year",
                                "grade",
                                "country",
                                "other_grade",
                                "institution_uuid",
                                "uk_degree_uuid",
                                "subject_uuid",
                                "grade_uuid",
                                "degree_id"
                              ]
                            }
                          },
                          "state": {
                            "type": "string"
                          },
                          "trainee_id": {
                            "type": "string"
                          }
                        },
                        "required": [
                          "first_names",
                          "last_name",
                          "date_of_birth",
                          "created_at",
                          "updated_at",
                          "email",
                          "middle_names",
                          "training_route",
                          "sex",
                          "diversity_disclosure",
                          "ethnic_group",
                          "ethnic_background",
                          "additional_ethnic_background",
                          "disability_disclosure",
                          "course_subject_one",
                          "itt_start_date",
                          "outcome_date",
                          "itt_end_date",
                          "trn",
                          "submitted_for_trn_at",
                          "withdraw_date",
                          "withdraw_reasons_details",
                          "defer_date",
                          "recommended_for_award_at",
                          "trainee_start_date",
                          "reinstate_date",
                          "course_min_age",
                          "course_max_age",
                          "course_subject_two",
                          "course_subject_three",
                          "awarded_at",
                          "training_initiative",
                          "study_mode",
                          "ebacc",
                          "region",
                          "course_education_phase",
                          "course_uuid",
                          "lead_school_not_applicable",
                          "employing_school_not_applicable",
                          "submission_ready",
                          "commencement_status",
                          "discarded_at",
                          "created_from_dttp",
                          "hesa_id",
                          "additional_dttp_data",
                          "created_from_hesa",
                          "hesa_updated_at",
                          "record_source",
                          "iqts_country",
                          "hesa_editable",
                          "withdraw_reasons_dfe_details",
                          "slug_sent_to_dqt_at",
                          "placement_detail",
                          "provider_trainee_id",
                          "ukprn",
                          "ethnicity",
                          "course_qualification",
                          "course_title",
                          "course_level",
                          "course_itt_start_date",
                          "course_age_range",
                          "expected_end_date",
                          "employing_school_urn",
                          "lead_partner_urn_ukprn",
                          "lead_school_urn",
                          "fund_code",
                          "bursary_level",
                          "nationality",
                          "placements",
                          "degrees",
                          "state",
                          "trainee_id"
                        ]
                      }
                    }
                  },
                  "required": [
                    "errors",
                    "data"
                  ]
                },
                "example": {
                  "errors": "This trainee is already in Register",
                  "data": [
                    {
                      "first_names": "Odell",
                      "last_name": "Flatley",
                      "date_of_birth": "1997-01-05",
                      "created_at": "2024-05-01T20:27:50.091Z",
                      "updated_at": "2024-05-01T20:27:50.094Z",
                      "email": "Odell.Flatley@example.com",
                      "middle_names": "Morissette",
                      "training_route": "11",
                      "sex": "11",
                      "diversity_disclosure": "diversity_not_disclosed",
                      "ethnic_group": null,
                      "ethnic_background": null,
                      "additional_ethnic_background": null,
                      "disability_disclosure": null,
                      "course_subject_one": "100346",
                      "itt_start_date": "2023-08-01",
                      "outcome_date": null,
                      "itt_end_date": "2026-07-13",
                      "trn": null,
                      "submitted_for_trn_at": null,
                      "withdraw_date": null,
                      "withdraw_reasons_details": null,
                      "defer_date": null,
                      "recommended_for_award_at": null,
                      "trainee_start_date": "2023-08-02",
                      "reinstate_date": null,
                      "course_min_age": 11,
                      "course_max_age": 18,
                      "course_subject_two": null,
                      "course_subject_three": null,
                      "awarded_at": null,
                      "training_initiative": null,
                      "study_mode": null,
                      "ebacc": false,
                      "region": null,
                      "course_education_phase": "secondary",
                      "course_uuid": null,
                      "lead_school_not_applicable": false,
                      "employing_school_not_applicable": false,
                      "submission_ready": false,
                      "commencement_status": null,
                      "discarded_at": null,
                      "created_from_dttp": false,
                      "hesa_id": null,
                      "additional_dttp_data": null,
                      "created_from_hesa": false,
                      "hesa_updated_at": null,
                      "record_source": null,
                      "iqts_country": null,
                      "hesa_editable": false,
                      "withdraw_reasons_dfe_details": null,
                      "slug_sent_to_dqt_at": null,
                      "placement_detail": null,
                      "provider_trainee_id": "23/24-105",
                      "ukprn": "79975133",
                      "ethnicity": null,
                      "course_qualification": "QTS",
                      "course_title": null,
                      "course_level": "undergrad",
                      "course_itt_start_date": "2023-08-01",
                      "course_age_range": null,
                      "expected_end_date": "2026-07-13",
                      "employing_school_urn": null,
                      "lead_partner_urn_ukprn": null,
                      "lead_school_urn": null,
                      "fund_code": null,
                      "bursary_level": null,
                      "nationality": null,
                      "placements": [

                      ],
                      "degrees": [
                        {
                          "uk_degree": "301",
                          "non_uk_degree": null,
                          "created_at": "2024-05-01T20:27:50.092Z",
                          "updated_at": "2024-05-01T20:27:50.092Z",
                          "subject": "101391",
                          "institution": "0100",
                          "graduation_year": 2007,
                          "grade": "13",
                          "country": null,
                          "other_grade": null,
                          "institution_uuid": "40f3791d-7042-e811-80ff-3863bb3640b8",
                          "uk_degree_uuid": "5d6a5652-c197-e711-80d8-005056ac45bb",
                          "subject_uuid": "d38670f0-5dce-e911-a985-000d3ab79618",
                          "grade_uuid": "df874702-2bcc-4aab-adaa-2efdd3a8dec4",
                          "degree_id": "skV2m7MAnoSE8jtn8E6dSFDP"
                        }
                      ],
                      "state": "draft",
                      "trainee_id": "gc8op9hnu8dWcq1RwTyox4WA"
                    }
                  ]
                }
              }
            }
          },
          "422": {
            "description": "return status code 422 with a meaningful error message",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    },
                    "errors": {
[...]
