<h1 class="govuk-heading-l"><%= heading %></h1>
<p class="govuk-body">These are the course details as listed on Publish teacher training courses.</p>

<%= render GovukComponent::Details.new(summary: "What if the details are incorrect?") do %>
  <p class="govuk-body">If the details are incorrect for all trainees, you should <a class="govuk-link" href="https://www.publish-teacher-training-courses.service.gov.uk/">update the course on Publish</a>.</p>
  <p class="govuk-body">If the details are wrong for this trainee only, you can edit them here.</p>
<% end %>

<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h2 class="app-summary-card__title">
      <%= summary_title %>
    </h2>
  </header>
  <div class="app-summary-card__body">
    <%= render GovukComponent::SummaryList.new do |component| %>
      <% rows.each do |row| %>
        <% component.slot(
          :row,
          key: row[:key],
          value: row[:value],
          action: row[:action],
          classes: row[:key].to_s.downcase.gsub(/ /, "-"),
        ) %>
    <% end %>
  <% end %>
</div>
  </section>
