@import "../base.scss";

.application-record-card {
  border-bottom: 1px solid govuk-colour("mid-grey");
  margin-bottom: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);
}


.application-record-card_row {
  min-width: 100%;
}

.application-record-card_row--header {
  display: flex;
  justify-content: space-between;

  .application-record-card__tag-container {
    .govuk-tag {
      margin-left: govuk-spacing(3);
    }
  }
}

.application-record-card:first-of-type {
  border-top: 1px solid govuk-colour("mid-grey");
  padding-top: govuk-spacing(3);
}


.application-record-card_row--body {
  margin-top: govuk-spacing(2);

  @include govuk-media-query($from: 401px) {
    display: flex;
    justify-content: space-between;
  }
}

// Trainee + Course details columns
.application-record-card_col:nth-last-child(2) {
 
  div:nth-child(1) {
    margin-bottom: govuk-spacing(2);
  }

  @include govuk-media-query($from: 401px) {
    width: 60%;
  }

  @include govuk-media-query($until: 500px) {
    div:nth-child(1),
    div:nth-child(2) {
      width: 100%;
      padding-right: govuk-spacing(3);
    }
  }

  @include govuk-media-query($from: 501px) {
    width: 65%;
    padding-right: govuk-spacing(3);
  }

  @include govuk-media-query($from: 501px, $until: desktop) {
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
      width: 60%;
      padding-right: govuk-spacing(3);
      margin-bottom: 0;
    }
    
    div:nth-child(2) {
      width: 40%;
    }
  }
  
  @include govuk-media-query($from: $govuk-page-width) {
    display: flex;
    justify-content: space-between;

    div:nth-child(1) {
      width: 60%;
      padding-right: govuk-spacing(3);
      margin-bottom: 0;
    }
    
    div:nth-child(2) {
      width: 40%;
    }
  }
}

// Updated at column
.application-record-card_col:nth-last-child(1) {
  margin-top: govuk-spacing(2);
  
  @include govuk-media-query($from: 401px) {
    width: 40%;
    margin-top: 0;
    text-align: right;
  }
  
  @include govuk-media-query($from: 501px) {
    width: 35%;
  }
}

.application-record-card__trainee-name {
  hyphens: auto;
}

.application-record-card__provider {
  overflow-wrap: break-word;
}

.application-record-card__submitted {
  @include govuk-media-query($from: 401px) {
    span {
      display: block;
    }
  }
}

.application-record-card__id {
  overflow-wrap: break-word;
}