@import "../base.scss";

.application-record-card {
  border-bottom: 1px solid govuk-colour("mid-grey");
  margin-bottom: govuk-spacing(3);
  padding-bottom: govuk-spacing(3);

  @include govuk-media-query($from: tablet) {
    display: flex;
    align-items: stretch;
  }

  @include govuk-media-query($from: $mobile-small-end) {
    display: flex;
    justify-content: space-between;
  }

  .application-record-card__col-trainee-course {
    @include govuk-media-query($from: $mobile-small-end) {
      width: 60%;
    }

    @include govuk-media-query($from: $mobile-big-end, $until: desktop) {
      width: 65%;
      padding-right: govuk-spacing(3);
      display: flex;
      justify-content: space-between;
    }

    @include govuk-media-query($from: $govuk-page-width) {
      width: 65%;
      padding-right: govuk-spacing(3);
      display: flex;
      justify-content: space-between;
    }

    .application-record-card__col-trainee {
      margin-bottom: govuk-spacing(2);
      width: 100%;
      padding-right: govuk-spacing(3);

      @include govuk-media-query($from: $mobile-big-end, $until: desktop) {
        width: 60%;
      }

      @include govuk-media-query($from: $govuk-page-width) {
        width: 60%;
      }
    }

    .application-record-card__col-course {
      width: 100%;

      @include govuk-media-query($from: $mobile-big-end, $until: desktop) {
        width: 40%;
      }

      @include govuk-media-query($from: $govuk-page-width) {
        width: 40%;
      }
    }
  }

  .application-record-card__col-status {
    margin-top: govuk-spacing(2);

    @include govuk-media-query($from: $mobile-small-end) {
      width: 35%;
      margin-top: 0;
      text-align: right;
    }

    @include govuk-media-query($from: $mobile-big-end, $until: desktop) {
      width: 35%;
    }
  }

}

.application-record-card:first-of-type {
  border-top: 1px solid govuk-colour("mid-grey");
  padding-top: govuk-spacing(3);
}

.application-record-card__primary {
  @include govuk-media-query($from: tablet) {
    width: 60%;
  }

  p {
    margin-bottom: 0;
  }
}

.application-record-card__secondary {
  @include govuk-media-query($from: tablet) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40%;
    text-align: right;
  }
}

.application-record-card__status {
  margin-bottom: govuk-spacing(2);
  margin-top: govuk-spacing(3);
  @include govuk-media-query($from: tablet) {
    margin-top: 0;
    margin-bottom: 0;
  }
}

.application-record-card__subject,
.application-record-card__route {
  @include govuk-font(16);
  @include govuk-responsive-margin(0, "bottom");
}

.application-record-card__submitted {
  overflow-wrap: break-word;

  span {
    @include govuk-media-query($from: $mobile-small-end) {
      display: block;
    }
  }
}

.application-record-card__trainee-name {
  margin-bottom: govuk-spacing(1);
}

.application-record-card__id {
  overflow-wrap: break-word;
  margin-top: 0;
}
