<%= govuk_notification_banner(title_text: "Important") do |banner| %>
  <% banner.with_heading(text: "The CSV sandbox is for review and testing purposes only") %>
  <div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
      <span class="govuk-visually-hidden">Warning</span>
      You must not use real trainee data that contains personally identifiable information
    </strong>
  </div>
  <p class="govuk-body">
    <a href="https://forms.office.com.mcas.ms/e/ABKrAmQQ6s">Send us your feedback or questions</a>
  </p>
<% end %>
