<%= tag.h1(
  "How to add trainee information to the bulk add new trainee CSV template",
  class: "govuk-heading-l",
) %>

<p class="govuk-body">
  <%= render(NotificationBanner::View.new(
    text: "This draft guidance is for review and testing purposes only. Send your feedback or questions to <a href=\"mailto:registertraineeteachers@education.gov.uk\" class=\"govuk-notification-banner__link\">registertraineeteachers@education.gov.uk</a>.".html_safe,
    type: :important,
  )) %>
</p>

<p class="govuk-body">
  Training providers can register their trainees in bulk by creating trainee records and adding the required data.
</p>

<p class="govuk-body">
  CSV bulk add new trainees will be available in Register trainee teachers (Register) before the start of the 2025 to 2026 academic year.
</p>

<h2 class="govuk-heading-m">Download an empty CSV file template</h2>

<p class="govuk-body">
  You must only use this CSV file template to register new trainees in Register trainee teachers (Register).
</p>

<p class="govuk-body">
  If you use this to update already existing trainees, it will come back as an error.
</p>

<p class="govuk-body">
  The CSV template uses HESA reference data.
</p>

<p class="govuk-body">
  <%= govuk_link_to(
    "Download empty bulk add new trainees CSV template",
    bulk_update_add_trainees_empty_template_path(format: :csv),
  ) %>
</p>

<h2 class="govuk-heading-m">Use this guidance to complete the CSV file template</h2>

<p class="govuk-body">
  Use the guidance to check how new trainee data maps between your student record system and Register, using the CSV upload found in the ‘Bulk updates section’ in Register.
</p>

<p class="govuk-body">
  If mandatory fields are not filled in correctly, the CSV upload will come back as an error.
</p>

<h2 class="govuk-heading-m">Notification of changes</h2>

<h3 class="govuk-heading-s">
  March 2025
</p>

<p class="govuk-body">
  These are changes to the trainee data fields when submitting directly to Register via the 'Bulk add new trainees' CSV template or the API, compared to submitting by HESA:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>COURSEID or CTITLE do not need to be provided</li>
  <li>degree type is now required for non-UK previous degrees — use the 'non-UK degree type' field and the HESA DEGTYPE reference codes</li>
  <li>when submitting directly to Register via the 'Bulk add new trainees' CSV template you can only submit a single previous degree for trainees with previous qualifications, you should use their highest-level previous qualification</li>
  <li>'Degree Subject' for trainees with previous qualifications only requires a single degree subject. Thus the CSV will only accept one entry. You can add multiple via API or add further subjects manually, but this isn't necessary. For those with complex previous degrees, return the major subject that you would have previously returned as degree subject 1.</li>
</ul>

<h2 class="govuk-heading-m">Contents</h2>

<%= render CsvFields::View.new %>
