@import "../base.scss";

.user-card {
  display: flex;
  justify-content: space-between;
  width: 75%;
}

.user-card div {
  display: inline-block;
}

.user-card__created {
  text-align: right;
}

.user-card__email {
  border-bottom: 1px solid govuk-colour("mid-grey");
  width: 75%
}

.user-card__name {
  margin-top: 10px;
}