<div class="user-card">
  <h2 class="govuk-heading-m user-card__name">
    <%= user.name %>
  </h2>
  <div class="govuk-caption-m govuk-!-font-size-16 user-card__created">
    <%= updated_at %>
  </div>
</div>
<div class="govuk-caption-m govuk-!-font-size-16 user-card__dttp_id">
  <%= dttp_id %> 
</div>
<div class="govuk-caption-m govuk-!-font-size-16 user-card__email">
  <%= email_address %> 
</div>