<% if degrees.present? %>
  <% degrees.each do |degree| %>
    <%= render_component SummaryCard::View.new(title: degree_title(degree), heading_level: 2, rows: get_degree_rows(degree)) do |component| %>
      <% if show_delete_button %>
        <% component.with(:header_actions) do %>
          <%= form_with model: [trainee, degree], method: :delete, local: true do |f| %>
            <%= f.submit "Delete degree", class: "govuk-button govuk-link govuk-button--link" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if show_add_another_degree_button %>
  <div class="govuk-form-group">
    <%= govuk_link_to(degree_button_text, trainee_degrees_new_type_path(trainee), class:"govuk-button govuk-button--secondary") %>
  </div>
<% end %>
