<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    The <%= version %> version is currently available for testing in the sandbox environment only. It is not yet available in production.
  </strong>
</div>
