<div class="govuk-warning-text">
  <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
  <strong class="govuk-warning-text__text">
    <span class="govuk-visually-hidden">Warning</span>
    <%= version %> is a preview version available for testing in the staging environment only. It is not yet available in production.
  </strong>
</div>
