<nav class="moj-pagination" role="navigation" aria-label="pagination">
  <%= helpers.paginate scope, **paginate_configuration %>

  <p class="moj-pagination__results govuk-body">
    Showing <strong><%= page_start %></strong> to <strong><%= page_end %></strong> of <strong><%= total %></strong> results
  </p>
</nav>
