<div class="moj-pagination">
  <p class="moj-pagination__results govuk-body">
    Showing <strong><%= page_start %></strong> to <strong><%= page_end %></strong> of <strong><%= total %></strong> results
  </p>
  <nav class="govuk-pagination moj-pagination__pagination" role="navigation" aria-label="pagination">
    <%= paginate scope, **paginate_configuration %>
  </nav>
</div>
