version: 2
updates:
- package-ecosystem: bundler
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: simplecov
    versions:
    - "> 0.19.0, < 0.20"
  - dependency-name: govuk_design_system_formbuilder
    versions:
    - 2.4.0
  - dependency-name: mimemagic
    versions:
    - 0.3.10
    - 0.3.9
    - 0.4.3
  - dependency-name: govuk-components
    versions:
    - 1.1.5
- package-ecosystem: npm
  directory: "/"
  schedule:
    interval: daily
  open-pull-requests-limit: 10
  ignore:
  - dependency-name: core-js
    versions:
    - 3.10.2
