!.keep
*.DS_Store
*.swo
*.swp
.byebug_history
/.bundle
/coverage/*
/db/*.sqlite3
/db/*.sqlite3-journal

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
/{}/*

# Ignore uploaded files in development
/storage/*

# Ignore master key for decrypting credentials and more.
/config/master.key
/public/packs
/public/packs-test
/node_modules
/public/assets
/public/system
/tags
/yarn-error.log
/vendor/cache
yarn-debug.log*
.yarn-integrity
.jest-cache
.env
*.log
.envrc

#terraform files
.terraform/
tfplan
*.tfplan
*.plan
*secrets.tfvars

config/settings.local.yml
config/settings/*.local.yml
config/environments/*.local.yml
