volumes:
  dbdata:
services:
  db:
    image: postgres:13-alpine
    # To preserve data between runs of docker compose, we mount a folder from the host machine.
    volumes:
      - dbdata:/var/lib/postgresql/data
    environment:
      - POSTGRES_PASSWORD=developmentpassword

  redis:
    image: redis

  web:
    build:
      context: .
      cache_from:
        - ghcr.io/dfe-digital/register-trainee-teachers:${IMAGE_TAG:-main}
    image: ghcr.io/dfe-digital/register-trainee-teachers:${IMAGE_TAG:-main}
    volumes:
      - ./coverage/backend:/app/coverage/backend
    command: ash -c "bundle exec rails server -p 3001 -b '0.0.0.0'"
    ports:
      - 3001:3001
    depends_on:
      - db
    environment:
      - DB_HOSTNAME=db
      - DB_USERNAME=postgres
      - DB_PASSWORD=developmentpassword
      - REDIS_CACHE_URL=redis://redis:6379
      - SENTRY_DSN=${SENTRY_DSN}
  docs:
    build:
      context: .
      target: middleman-build
      cache_from:
        - ghcr.io/dfe-digital/register-trainee-teachers:${IMAGE_TAG:-main}
    image: ghcr.io/dfe-digital/register-trainee-teachers:${IMAGE_TAG:-main}
    profiles: ["dev"]
    volumes:
      - ./tech_docs:/tech_docs
    command: bundle exec middleman serve
    ports:
      - 4567:4567

  bg-jobs:
    image: ghcr.io/dfe-digital/register-trainee-teachers:${IMAGE_TAG:-main}
    command: bundle exec sidekiq -c 5 -C config/sidekiq.yml
    depends_on:
      - web
      - db
      - redis
    environment:
      - DB_HOSTNAME=db
      - DB_USERNAME=postgres
      - DB_PASSWORD=developmentpassword
      - SETTINGS__APPLICATION=register-trainee-teachers-bg-jobs
      - REDIS_QUEUE_URL=redis://redis:6379
