web: bundle exec rails s -p 5001
worker1: bundle exec sidekiq -t 25 -C config/sidekiq.default.yml
worker2: bundle exec sidekiq -t 25 -C config/sidekiq.bulk-add-trainees.yml
js: yarn build --watch
css: yarn build:css --watch
docs: cd tech_docs && bundle exec middleman serve
