<section id="<%= service_update.id %>">
  <h2 class="govuk-heading-m govuk-!-margin-bottom-2"><%= title %></h2>
  <p class="govuk-body govuk-!-margin-bottom-2"><%= date_pretty %></p>
  <div class="govuk-body"><%= content_html %></div>
</section>
