<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Course details</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">Register CSV column</th>
    <th class="govuk-table__header">Register field in the service</th>
    <th class="govuk-table__header">HESA field</th>
    <th class="govuk-table__header">More information</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body"><tr class="govuk-table__row">
    <td class="govuk-table__cell">course_training_route</td>
    <td class="govuk-table__cell">Training route</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/entryrte">ENTRYRTE</a> (entry route)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">course_subject_category<br>course_itt_subject_1<br>course_itt_subject_2<br>course_itt_subject_3</td>
    <td class="govuk-table__cell">Subject (within course details)</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/sbjca">SBJCA</a> (subject of ITT course)</td>
    <td class="govuk-table__cell">The course subject category is how ITT subjects are grouped.<br><br>We get the ‘course_subject_category’ in the CSV from the ‘course_itt_subject_1’. For example, if the trainee’s course subject 1 is French, the subject category is Modern languages.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">course_minimum_age<br>course_maximum_age<br>course_education_phase</td>
    <td class="govuk-table__cell">Age range<br><br>Education phase</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/ittphsc">ITTPHSC</a> (ITT phase or scope)</td>
    <td class="govuk-table__cell">HESA codes 99803 and 99801 are not used in Register.<br><br>We decide the ‘Education phase’ (primary or secondary) from the ‘Age range’. If the maximum age is 11 or under, we set the ‘Education phase’ to ‘primary’. Anything else will be set to ‘secondary’.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">course_full_or_part_time</td>
    <td class="govuk-table__cell">Full time or part time</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/mode">MODE</a> (mode)</td>
    <td class="govuk-table__cell">HESA field ‘MODE’ will impact ‘Trainee status’. If codes 63 or 64 (dormant trainees) are used, the trainee’s status will change to ‘Deferred’ in Register. To reinstate a trainee from deferral, 01, 02 or 31 can be used.<br><br>‘Dormant’ in HESA means ‘Deferred’ in Register.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">itt_start_date<br>start_academic_year</td>
    <td class="govuk-table__cell">ITT start date</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/comdate">COMDATE</a> (start date of instance)</td>
    <td class="govuk-table__cell">‘ITT start date’ (COMDATE) will also be used to set the ‘trainee start date’ (ITTCOMDATE) if ‘ITTCOMDATE’ is not available.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">expected_end_date<br>end_academic_year</td>
    <td class="govuk-table__cell">ITT end date</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/expectedenddate">EXPECTEDENDDATE</a> (expected end date)</td>
    <td class="govuk-table__cell">You must submit this data even though it’s optional in HESA. If you do not add it, we’ll use the trainee’s ITT start date (COMDATE), training route (ENTRYRTE) and if they’re full or part time (MODE) to work out the ITT end date.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">withdraw_date</td>
    <td class="govuk-table__cell">Withdrawal date (in Trainee status field)</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/enddate">ENDDATE</a> (end date of instance)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  </tbody>
</table>
