<p class="govuk-body">
  Use the table to check how data maps between HESA and Register trainee teachers (Register).
</p>

<p class="govuk-body">
  Where possible, these tables follow the same order as the CSV export and a trainee’s record in Register.
</p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Database only</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">HESA field</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body"><tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/allplace">ALLPLACE</a> (allocated place)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/courseid">COURSEID</a> (course identifier)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/ctitle">CTITLE</a> (course title)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/fundcode">FUNDCODE</a> (fundability code)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/ittaim">ITTAIM</a> (ITT qualification aim)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/nin">NIN</a> (national insurance number)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/numhus">NUMHUS</a> (student instance identifier)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/pgappstdt">PGAPPSTDT</a> (postgraduate teaching apprenticeship start date)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/plmntdys">PLMNTDYS</a> (number of days spent in a placement school)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/plmntsch">PLMNTSCH</a> (placement school)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/psurname">PSURNAME</a> (immediately prior surname)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/qlaim">QLAIM</a> (qualification aim)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/sname16">SNAME16</a> (family name on 16 birthday)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/ttcid">TTCID</a> (teacher training course)</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c22053/e/yearprg">YEARPRG</a> (year of course)</td>
  </tr>
  </tbody>
</table>
