<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Funding</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">Register CSV column</th>
    <th class="govuk-table__header">Register field in the service</th>
    <th class="govuk-table__header">HESA field</th>
    <th class="govuk-table__header">More information</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body"><tr class="govuk-table__row">
    <td class="govuk-table__cell">funding_method</td>
    <td class="govuk-table__cell">Funding method</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/burslev">BURSLEV</a> (bursary level award)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">training_initiative</td>
    <td class="govuk-table__cell">Training initiative</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/initiatives">INITIATIVES</a> (initiatives)</td>
    <td class="govuk-table__cell">HESA allows you to add 2 initiatives, but Register will only import the first one.<br><br>The following HESA codes are not mapped to Register:<br>001 Abridged ITT course<br>011 Primary with mathematics specialist<br>019 Additional ITT place for PE with a priority subject</td>
  </tr>
  </tbody>
</table>
