<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Personal details</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">Register CSV column</th>
    <th class="govuk-table__header">Register field in the service</th>
    <th class="govuk-table__header">HESA field</th>
    <th class="govuk-table__header">More information</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body"><tr class="govuk-table__row">
    <td class="govuk-table__cell">first_names</td>
    <td class="govuk-table__cell">Full name</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/fnames">FNAMES</a> (forenames)</td>
    <td class="govuk-table__cell">A trainee’s first name and middle name (if they have one) will go into the Register CSV column called ‘first_names’. The column ‘middle_names’ will be empty.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">last_names</td>
    <td class="govuk-table__cell">Full name</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/surname">SURNAME</a> (family name)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">date_of_birth</td>
    <td class="govuk-table__cell">Date of birth</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/birthdte">BIRTHDTE</a> (date of birth)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">sex</td>
    <td class="govuk-table__cell">Sex</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/sexid">SEXID</a> (sex identifier)</td>
    <td class="govuk-table__cell">HESA code 96 ‘Information refused’ imports into Register as ‘Prefer not to say’<br><br>HESA code 99 ‘Not available’ imports into Register as ‘Gender not provided’</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">nationality</td>
    <td class="govuk-table__cell">Nationality</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/nation">NATION</a> (nationality)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">email_address</td>
    <td class="govuk-table__cell">Email address</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/nqtemail">NQTEMAIL</a> (email addresses)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">diversity_disclosure<br>ehnic_group<br>ethnic_background<br>ethnic_background_additional</td>
    <td class="govuk-table__cell">Ethnicity</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/ethnic">ETHNIC</a> (ethnicity)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">diversity_disclosure<br>disability_disclosure<br>disabilities</td>
    <td class="govuk-table__cell">Disability</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/disable">DISABLE</a> (disability)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">number_of_degrees degree_1_subject</td>
    <td class="govuk-table__cell">Subject (within personal details and education)</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/degsbj">DEGSBJ</a> (previous degree subject)</td>
    <td class="govuk-table__cell">Register only supports 1 degree subject at the moment. If you add multiple subjects for a trainee’s degree, Register will take the first one.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">degree_1_type_non_uk degree_1_type_uk (for UK degrees only)</td>
    <td class="govuk-table__cell">Degree type</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/degtype">DEGTYPE</a> (previous degree type)</td>
    <td class="govuk-table__cell">The CSV export from Register does not display degree types with ‘Honours’. For example, in HESA a BEd is code 001 and a BEd (Hons) is code 002. Both these codes will show as ‘Bachelor of Education’ in the CSV.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">degree_1_awarding_institution</td>
    <td class="govuk-table__cell">Awarding institution</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/degest">DEGEST</a> (previous degree establishment)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">degree_1_uk_or_non_uk<br>degree_1_country</td>
    <td class="govuk-table__cell">Country</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/degctry">DEGCTRY</a> (previous degree country)</td>
    <td class="govuk-table__cell">The ‘degree_1_uk_or_non_uk’ column in the Register CSV will show as ‘UK’ when the following HESA codes are used:<br>XF England<br>XG Northern Ireland<br>XH Scotland<br>XI Wales<br>XK United Kingdom, not otherwise specified<br><br>The ‘degree_1_country’ column in the Register CSV will only populate with countries outside the UK.<br></td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">degree_1_grade</td>
    <td class="govuk-table__cell">Grade</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/degclss">DEGCLSS</a> (previous degree class)</td>
    <td class="govuk-table__cell">This information will only show in the Register service and CSV for UK degrees.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">degree_1_graduation_year</td>
    <td class="govuk-table__cell">Graduation year</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/degenddt">DEGENDDT</a> (previous degree end date)</td>
    <td class="govuk-table__cell">Register will show the year the trainee graduated from their degree. For example, 2010.</td>
  </tr>
  </tbody>
</table>
