<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">
      Register will check the URN (unique reference number) of each school to make sure it’s valid. If it’s not, this data will not import into Register.
    </p>
  </div>
</div>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Schools</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">Register CSV column</th>
    <th class="govuk-table__header">Register field in the service</th>
    <th class="govuk-table__header">HESA field</th>
    <th class="govuk-table__header">More information</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body"><tr class="govuk-table__row">
    <td class="govuk-table__cell">employing_school_urn</td>
    <td class="govuk-table__cell">Employing school</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/sdemploy">SDEMPLOY</a> (School Direct employing school)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">lead_school_urn</td>
    <td class="govuk-table__cell">Lead school</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/sdlead">SDLEAD</a> (School Direct lead school)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">placement_one<br>placement_two<br>other_placements</td>
    <td class="govuk-table__cell">Placement details</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/plmntsch">PLMNTSCH</a> (Placement school)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  </tbody>
</table>
