<table class="govuk-table">
  <caption class="govuk-table__caption govuk-visually-hidden">Trainee progress</caption>
  <thead class="govuk-table__head">
  <tr class="govuk-table__row">
    <th class="govuk-table__header">Register CSV column</th>
    <th class="govuk-table__header">Register field in the service</th>
    <th class="govuk-table__header">HESA field</th>
    <th class="govuk-table__header">More information</th>
  </tr>
  </thead>
  <tbody class="govuk-table__body"><tr class="govuk-table__row">
    <td class="govuk-table__cell">hesa_id</td>
    <td class="govuk-table__cell">HESA ID</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/husid">HUSID</a> (HESA unique student identifier)</td>
    <td class="govuk-table__cell">A trainee should only ever have one unique student identifier.<br><br>It is important that the ‘hesa_id’ assigned to a trainee does not incorrectly change as this will create duplicate records for a trainee in the Register service.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">provider_trainee_id</td>
    <td class="govuk-table__cell">Provider trainee ID</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/ownstu">OWNSTU</a> (provider’s own identifier for student)</td>
    <td class="govuk-table__cell">The ‘Provider trainee ID’ can be used in Register to search and find trainees.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">trn</td>
    <td class="govuk-table__cell">TRN</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/trn">TRN</a> (teacher reference number)</td>
    <td class="govuk-table__cell">–</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">trainee_status</td>
    <td class="govuk-table__cell">Trainee status</td>
    <td class="govuk-table__cell"><a class="govuk-link" href="https://www.hesa.ac.uk/collection/c23053/e/mode">MODE</a> (reason for ending instance)</td>
    <td class="govuk-table__cell">HESA field ‘MODE’ will impact ‘Trainee status’. If codes 63 or 64 (dormant trainees) are used, the trainee’s status will change to ‘Deferred’ in Register.<br><br>To reinstate a trainee from deferral, 01, 02 or 31 can be used.<br><br>‘Dormant’ in HESA means ‘Deferred’ in Register.</td>
  </tr>
  <tr class="govuk-table__row">
    <td class="govuk-table__cell">hesa_record_last_changed_at</td>
    <td class="govuk-table__cell">not displayed</td>
    <td class="govuk-table__cell">STATUS_TIMESTAMP</td>
    <td class="govuk-table__cell">The date the trainee record was last changed in HESA or the TRA portal.<br><br>This is not the date the record was uploaded to HESA. For example, if you change and then upload a trainee record in September, this CSV column will show a date for September. If you then upload the same record in January and April without any changes, this CSV column will still show the date in September.</td>
  </tr>
  </tbody>
</table>
