<%= render PageTitle::View.new(text: "Manage your trainee placement data") %>

<%= content_for(:breadcrumbs) do %>
  <%= render GovukComponent::BackLinkComponent.new(
    text: "How to use this service",
    href: guidance_path,
    ) %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">Manage your trainee placement data</h1>

    <p class="govuk-body-m">You are required to have school placement data in Register.</p>

    <p class="govuk-body-m">You only need to provide location information about placements - the URN (if known) or the school/setting name and postcode.</p>

    <p class="govuk-body-m">You do not need to provide duration of time spent at each placement.</p>

    <h2 class="govuk-heading-m">How to include placement data as part of the performance profiles sign off period</h2>

    <p class="govuk-body-m">A minimum of 2 placements is required for each trainee who have been awarded QTS or EYTS in each academic year.</p>

    <p class="govuk-body-m">If you’re an iQTS provider then at least one placement is required for each iQTS trainee in each academic year.</p>

    <h3 class="govuk-heading-s">Manually record placement data</h3>

    <p class="govuk-body-m">Manual input is recommended for providers with a small number of registered trainees.</p>

    <p class="govuk-body-m">You must use manual input if you do not have placement school URNs.</p>

    <p class="govuk-body-m">Find out <%= govuk_link_to("how to include placement data in trainee records manually", check_data_guidance_path ) %>.</p>

    <h3 class="govuk-heading-s">Bulk add placement data</h3>

    <p class="govuk-body-m">You can add missing placement data to multiple trainee records at the same time.</p>

    <p class="govuk-body-m">You can only use bulk update if you have the school placement URN.</p>

    <p class="govuk-body-m">Find out how to bulk add placement data by logging into Register. Go to the ‘Bulk updates’ section and choose the ‘Add missing placement data’ option.</p>

    <h2 class="govuk-heading-m">Why collecting placement data is important</h2>

    <p class="govuk-body-m">Trainee teachers need varied classroom experience and must have taught classes to pupils in two schools prior to the award of Qualified Teacher Status. This is called ‘placements’.</p>

    <p class="govuk-body-m">If we collect placement data in one place, we can analyse and use it to inform policy decisions, and help providers find placements more efficiently and effectively.</p>
  </div>
</div>
