<%= render "registering_trainees_through_hesa" %>

<%= govuk_details(summary_text: "How to find a trainee once you’ve recommended them for QTS or EYTS") do %>
  <p>
    Once you’ve recommended a trainee for QTS or EYTS, you’ll find their record by going to the ‘Awarded this year’ training status on the Homepage. 
    You can also filter by ‘Awarded’ on the records list page.
  </p>
<% end %>
