@import "../webpacker/styles/govuk_style_setup";
@import "~govuk-frontend/govuk/base";

$moj-images-path: "~@ministryofjustice/frontend/moj/assets/images/";

$mobile-small-start: 400px;
$mobile-small-end: 401px;
$mobile-big-start: 500px;
$mobile-big-end: 501px;
