<dl class="govuk-summary-list">
  <% content_hash.each do |key, value| %>
    <div class="govuk-summary-list__row">
      <dt class="govuk-summary-list__key">
        <%= key %>
      </dt>

      <dd class="govuk-summary-list__value">
        <%= value %>
      </dd>

      <dd class="govuk-summary-list__actions">
      </dd>
    </div>
  <% end %>
</dl>
