<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    <h1 class="govuk-heading-l"><%= t(".heading") %></h1>

    <p class="govuk-body"><%= t(".body") %></p>

    <% if FeatureService.enabled?("enable_feedback_link") %>
      <p class="govuk-body">
        <%= t(".contact_us_html", link: support_email(subject: "Get access to Register trainee teachers")) %>
      </p>
    <% end %>

    <%= render GovukButtonLinkTo::View.new(body: t(".home_button"), url: root_path) %>
  </div>
</div>
