<div class="app-organisation-switcher govuk-width-container" aria-label="Organisation switcher">
  <div class="app-organisation-switcher__title"><%= organisation_name %></div>
  <ul class="app-organisation-switcher__navigation-list">
    <% if show_organisation_settings_link? %>
      <li class="app-organisation-switcher__navigation-item">
        <a href="<%= organisation_settings_path %>" class="govuk-link--no-visited-state app-organisation-switcher__link"><%= t("header.items.organisation_settings") %></a>
      </li>
    <% end %>

    <% if show_organisation_link? %>
      <li class="app-organisation-switcher__navigation-item">
        <a href="<%= link_to_switch_organisation %>" class="govuk-link--no-visited-state app-organisation-switcher__link">Change organisation</a>
      </li>
    <% end %>
  </div>
</div>
