<div class="app-organisation-switcher govuk-width-container" aria-label="Organisation switcher">
  <div class="app-organisation-switcher__title">Webury Hill SCITT</div>
  <a href="/select-organisation" class="govuk-link--no-visited-state app-organisation-switcher__link">Change organisation</a>
</div>
