@import "./govuk_style_setup";
@import "~govuk-frontend/govuk/all";
@import "~@ministryofjustice/frontend/moj/all";
@import "./govuk_overrides";
@import "./filter_toggle_button";
@import "./trainee_list";
@import "./cookie_banner";

.govuk-cookie-banner__hide {
  display: none;
}

.trn-submission-success-panel,
.qts-submission-success-panel {
  .govuk-panel__title {
    @include govuk-font(36, bold);
  }
}

// Dashed list (used in Contents links list)
.app-list--dash li {
  position: relative;

  &::before {
    color: $govuk-secondary-text-colour;
    content: "\2013";
    left: -16px;
    position: absolute;
    top: 0;
  }
}

.trainee-record-header {
  margin-bottom: govuk-spacing(6);
}

.trainee-record-header .govuk-tag {
  left: 5px;
  position: relative;
  top: 6px;

  @include govuk-media-query($from: tablet) {
    top: 16px;
  }
}

.trainee-record-header-name-trn {
  display: inline-block;
  vertical-align: top;
}

.app-button--link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;
  background: none;
  margin: 0;
  padding: 0;
  border: none;
  color: $govuk-link-colour;
  box-shadow: none;
  text-decoration: underline;

  &:active {
    top: 0;
  }
}

.app-autocomplete__remove-link {
  @include govuk-font($size: 19);
  float: right;
}

.app-header--full-border {
  border-bottom-color: $govuk-brand-colour;
}

.govuk-error-summary__list {
  color: $govuk-error-colour;
  font-weight: 700;

  .govuk-error-summary__item-description {
    font-weight: 400;
    color: $govuk-error-colour;
    margin-top: govuk-spacing(1);
  }
}

.app-link--warning {
  @include govuk-link-common;
  @include govuk-link-style-error;
}

// Display for js only
body:not(.js-enabled) .app-js-only {
  display: none;
}

// Display for no-js only
.js-enabled .app-no-js-only {
  display: none;
}
