@import "./govuk_style_setup";
@import "~govuk-frontend/govuk/all";

.trn-submission-success-panel {
  .govuk-panel__title {
    @include govuk-font(36, bold);
  }
}

// Styles links that do not have a path or a bookmark ID
a[href="#"] {
  color: govuk-colour("red") !important;
  font-weight: bolder !important;
}

.govuk-checkboxes.disability {
  label {
    font-weight: $govuk-font-weight-bold;
  }
}


// Dashed list (used in Contents links list)
.app-list--dash li {
  position: relative;

  &::before {
    color: $govuk-secondary-text-colour;
    content: "\2013";
    left: -16px;
    position: absolute;
    top: 0;
  }
}


.trainee-record-header {
  margin-bottom: govuk-spacing(6);
}

.trainee-record-header .govuk-tag {
  @include govuk-media-query($from: tablet) {
    position: relative;
    top: -5px;
  }
}
