<%= render SummaryCard::View.new(trainee: trainee, title: t("components.confirmation.trainee_id.title"),
    heading_level: 2,
    rows: [
      {
        key: t("components.confirmation.trainee_id.title"),
        value: trainee_id,
        action: govuk_link_to('Change<span class="govuk-visually-hidden"> trainee ID</span>'.html_safe,
                              edit_trainee_trainee_id_path(trainee))
      },
    ]
  )
%>
