<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>API Documentation</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
</head>
<body>
  <div id="redoc-container"></div>
  <script src="https://cdn.redoc.ly/redoc/latest/bundles/redoc.standalone.js"
          integrity="sha384-R8e5ippgVo+kphHRsZE026R4rLIN/ORakEnRnOJ3S7BauiXHeD2EnvDpCcPYV4O/"
          crossorigin="anonymous">
  </script>
  <script>
    document.addEventListener('DOMContentLoaded', () => {
      Redoc.init("/openapi/<%=version%>.yaml", {}, document.getElementById('redoc-container'));
    });
  </script>
</body>
</html>
