curl --request POST --url ${server_url}/api/v1/applications/token --header 'accept: application/json' --header 'content-type: application/json' --data '{ "client_id": "${client_id}", "client_secret": "${client_secret}", "grant-type": "client_credentials" }' | cut -f4 -d"\"" | awk '{print "Authorization: Bearer", $1}' |  curl --request PATCH --url ${server_url}/api/public/v1/connections/${connection_id} --header 'accept: application/json' --header 'content-type: application/json' --data '${connection_streams}' --header "@-"
