<div class="app-notice-banner" aria-labelledby="app-notice-banner-title">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h2 class="app-notice-banner__title" id="app-notice-banner-title">
        <%= header %>
      </h2>
      <div class="app-notice-banner__body">
        <ul class="govuk-list app-notice-banner__list">
          <%= content %>
        </ul>
      </div>
    </div>
  </div>
</div>
