@import "../base.scss";

.record-actions {
  @include govuk-media-query($from: tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.record-actions__links {
  margin-top: govuk-spacing(2);

  @include govuk-media-query($from: tablet) {
    margin-top: 0;
  }
}
