<% if display_actions? %>
  <div class="record-actions">

    <% if can_recommend_for_award? %>
      <%= render GovukButtonLinkTo::View.new(body: button_text, url: edit_trainee_outcome_details_outcome_date_path(trainee), class_option: "govuk-!-margin-bottom-0") %>
    <% else %>
      <div class="govuk-inset-text govuk-!-margin-0">
        <%= inset_text %>
      </div>
    <% end %>

    <div class="record-actions__links">
      <p class="govuk-body govuk-!-margin-bottom-0">
        <%= action_links_sentence %>
      </p>
    </div>
  </div>

  <hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
<% end %>
