<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <% if submitted_at %>
      <%= govuk_link_to submitted_at, upload_path %>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <%= filename %>
  </td>
  <td class="govuk-table__cell">
    <%= status %>
  </td>
</tr>
