<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <% unless upload.cancelled? %>
      <%= govuk_link_to created_at, upload_path %>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <%= filename %>
  </td>
  <td class="govuk-table__cell">
    <%= status %>
  </td>
</tr>
