<tr class="govuk-table__row">
  <td class="govuk-table__cell">
    <% if submitted_at %>
      <%= link_to submitted_at, bulk_update_trainees_details_path(upload) %>
    <% end %>
  </td>
  <td class="govuk-table__cell">
    <%= filename %>
  </td>
  <td class="govuk-table__cell">
    <%= status %>
  </td>
</tr>
