name: deploy
description: deploys application

inputs:
  actions-api-access-token:
    required: true
  arm-access-key:
    required: true
  azure-credentials:
    required: true
  environment:
    description: Environment to deploy to
    required: true
  pr:
    description: PR number for the review app
    required: false
  sha:
    description: Commit sha to be deployed
    required: true
  slack-webhook:
    required: true

runs:
  using: composite
  steps:
    - name: Set Current Deployment Environment variable
      shell: bash
      run: |
        if [ -n "${{ inputs.pr }}" ]; then
          echo "APP_NAME=${{ inputs.pr }}" >> $GITHUB_ENV
          echo "DEPLOY_URL=https://register-pr-${{ inputs.pr }}.london.cloudapps.digital" >> $GITHUB_ENV
          DEPLOY_ENV=review
        else
          DEPLOY_ENV=${{ inputs.environment }}
        fi

        echo "DEPLOY_ENV=${DEPLOY_ENV}" >> $GITHUB_ENV

        tf_vars_file=terraform/workspace-variables/${DEPLOY_ENV}.tfvars.json
        echo "key_vault_name=$(jq -r '.key_vault_name' ${tf_vars_file})" >> $GITHUB_ENV
        echo "key_vault_app_secret_name=$(jq -r '.key_vault_app_secret_name' ${tf_vars_file})" >> $GITHUB_ENV
        echo "key_vault_infra_secret_name=$(jq -r '.key_vault_infra_secret_name' ${tf_vars_file})" >> $GITHUB_ENV
        echo "paas_space_name=$(jq -r '.paas_space_name' ${tf_vars_file})" >> $GITHUB_ENV

    - name: Start ${{ inputs.environment }} Deployment
      uses: bobheadxi/deployments@v1
      id: deployment
      with:
        step: start
        token: ${{ github.token }}
        env: ${{ inputs.environment }}

    - uses: azure/login@v1
      with:
        creds: ${{ inputs.azure-credentials }}

    - name: Validate Key Vault Secrets
      uses: DFE-Digital/github-actions/validate-key-vault-secrets@master
      with:
        KEY_VAULT: ${{ env.key_vault_name }}
        SECRETS: |
          ${{ env.key_vault_app_secret_name }}
          ${{ env.key_vault_infra_secret_name }}

    - name: Pin Terraform version
      uses: hashicorp/setup-terraform@v1.2.1
      with:
        terraform_version: 0.13.5

    - name: Terraform init, Terraform Plan and Apply
      shell: bash
      run: make ${{ env.DEPLOY_ENV }} ci deploy
      env:
        ARM_ACCESS_KEY:           ${{ inputs.arm-access-key }}
        TF_VAR_azure_credentials: ${{ inputs.azure-credentials }}
        IMAGE_TAG:                ${{ inputs.sha }}
        CONFIRM_PRODUCTION:       yes

    - uses: DFE-Digital/keyvault-yaml-secret@v1
      if: env.DEPLOY_ENV == 'review' || env.DEPLOY_ENV == 'staging' || env.DEPLOY_ENV == 'dttpimport' || env.DEPLOY_ENV == 'production'
      id: get-secrets
      with:
        keyvault: ${{ env.key_vault_name }}
        secret: ${{ env.key_vault_infra_secret_name }}
        key: CF_USER,CF_PASSWORD

    - name: Setup cf cli
      if: env.DEPLOY_ENV == 'review' || env.DEPLOY_ENV == 'staging' || env.DEPLOY_ENV == 'dttpimport' || env.DEPLOY_ENV == 'production'
      uses: DFE-Digital/github-actions/setup-cf-cli@master
      with:
        CF_USERNAME:   ${{ steps.get-secrets.outputs.CF_USER }}
        CF_PASSWORD:   ${{ steps.get-secrets.outputs.CF_PASSWORD }}
        CF_SPACE_NAME: ${{ env.paas_space_name }}

    - name: Run data migrations
      shell: bash
      if: env.DEPLOY_ENV == 'staging' || env.DEPLOY_ENV == 'dttpimport' || env.DEPLOY_ENV == 'production'
      run: cf run-task "register-${DEPLOY_ENV}" --command "cd /app && bundle exec rails data:migrate" --wait

    - name: Generate example data
      shell: bash
      if: env.DEPLOY_ENV == 'review'
      run: cf run-task "register-pr-${{ inputs.pr }}" --command "cd /app && bundle exec rails db:seed example_data:generate" --wait

    - name: Trigger ${{ env.DEPLOY_ENV }} Smoke Tests
      uses: benc-uk/workflow-dispatch@v1.1
      with:
        workflow: Smoke Tests
        ref: ${{ github.event.pull_request.head.ref }} # this will be an empty string when triggered by something other than a PR, benc-uk/workflow-dispatch will default to github.context.ref
        token:    ${{ inputs.actions-api-access-token }}
        inputs:   '{"environment": "${{ env.DEPLOY_ENV }}", "pr": "${{ inputs.pr }}"}'

    - name: Wait for smoke tests
      id: wait_for_smoke_tests
      uses: fountainhead/action-wait-for-check@v1.0.0
      with:
        token: ${{ github.token }}
        ref:   ${{ github.ref }}
        checkName: smoke-tests-${{ env.DEPLOY_ENV }}
        timeoutSeconds:  300
        intervalSeconds: 15

    - name: Stop when smoke tests fail
      shell: bash
      if: steps.wait_for_smoke_tests.outputs.conclusion == 'failure'
      run: exit 1

    - name: Update ${{ inputs.environment }} status
      if: always()
      uses: bobheadxi/deployments@v1
      with:
        step: finish
        token: ${{ github.token }}
        env: ${{ inputs.environment }}
        status: ${{ job.status }}
        deployment_id: ${{ steps.deployment.outputs.deployment_id }}
        env_url: ${{ env.DEPLOY_URL }}

    - name: Check for Failure
      if: ${{ failure() && github.ref == 'refs/heads/main' }}
      uses: rtCamp/action-slack-notify@master
      env:
        SLACK_CHANNEL: twd_publish_register_tech
        SLACK_COLOR: '#ef5343'
        SLACK_ICON_EMOJI: ':github-logo:'
        SLACK_USERNAME: Register Trainee Teachers
        SLACK_TITLE: Build Failure
        SLACK_MESSAGE: ':alert: Build failure on ${{ inputs.environment }} :sadparrot:'
        SLACK_WEBHOOK: ${{ inputs.slack-webhook }}
