
<% if count.zero? %>
  <%= govuk_inset_text do %>
    <%= no_record_text %>
  <% end %>
<% end %>

<p class="govuk-body">
  <%= govuk_link_to("#{link_text} (#{count} #{count_label.pluralize(count)})", href, method: :get) %>
</p>
