<section class="app-summary-card govuk-!-margin-bottom-6">
  <header class="app-summary-card__header">
    <h<%= heading_level %> class="app-summary-card__title">
      <%= title %>
    </h<%= heading_level %>>
  </header>
  <div class="app-summary-card__body">
    <%= render_component GovukComponent::SummaryList.new do |component| %>
      <% rows.each do |row_key, row_value| %>
        <% component.slot(
             :row,
             key: row_key,
             value: row_value,
             classes: row_key.to_s.downcase.gsub(/ /, "-"),
             ) %>
      <% end %>
    <% end %>
  </div>
</section>
