<div class="govuk-!-margin-bottom sort-options">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <p class="govuk-body">
        <span class="govuk-!-font-weight-bold">Sort by:</span>
        <span class="govuk-!-margin-left-1 govuk-!-margin-right-1">
          <span class=""><%= sort_by_date_link %></span>
        </span>
        |
        <span class="govuk-!-margin-left-2 govuk-!-margin-right-1">
          <span class=""><%= sort_by_last_name_link %></span>
        </span>
      </p>
    </div>
  </div>
</div>
