<%= render PageTitle::View.new(title: "trainees.degrees.edit", has_errors: @degree.errors.present?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
		<%= @degree.uk? ? (render "uk_degree_form") : (render "non_uk_degree_form") %>
	</div>
</div>
