<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(model: @lead_school_form,
                           url: user_lead_schools_path(@user, query: params[:query]),
                           method: :post,
                           local: true) do |f| %>
      <% render (@school_search.schools.empty? ? "no_results" : "results"), f: f %>
    <% end %>
  </div>
</div>
