<%= render PageTitle::View.new(title: "trainees.lead_schools.index", has_errors: @lead_school_form.errors.present?) %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <%= register_form_with(model: @lead_school_form,
                           url: trainee_lead_schools_path(@trainee, query: params[:query]),
                           method: :put,
                           local: true) do |f| %>
      <% render (@schools.empty? ? "no_results" : "results"), f: f %>
    <% end %>
  </div>
</div>

<p class="govuk-body"><%= govuk_link_to(t("cancel"), view_trainee(@trainee)) %></p>
