<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">
<h2 class="govuk-heading-l">
  <%= name %>
</h2>
<% if roles.present? %>
  <div class="govuk-!-margin-bottom-5">
    <% roles.each do |role| %>
      <%= render_component GovukComponent::Tag.new(text: role, colour: "blue") %>
    <% end %>
  </div>
<% end %>

<div>
  <%= safe_description %>
</div>

<%= govuk_button_to("Sign in as #{ name }", link_path) %>
