<%= render SummaryCard::View.new(trainee: trainee,
  title: "Outcome details",
  heading_level: 2,
  rows: [
    {
      key: "Date standards met",
      value: outcome_date,
      action: govuk_link_to('Change<span class="govuk-visually-hidden"> outcome date</span>'.html_safe,
                            edit_trainee_outcome_details_outcome_date_path(trainee))
    },
  ])
%>
