@import "../base.scss";

$govuk-border-width-narrow: 5px;

.app-inset-text--narrow-border {
  border-left-width: $govuk-border-width-narrow;
}

.app-inset-text--important {
  border-color: govuk-colour("blue");
  padding: govuk-spacing(2);
  padding-left: govuk-spacing(3);
  margin: govuk-spacing(0) auto govuk-spacing(4);

  .app-inset-text__title {
    color: govuk-colour("blue");
  }

  &.app-inset-text--no_padding {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.app-inset-text--error {
  border-color: $govuk-error-colour;
  margin: govuk-spacing(0) auto govuk-spacing(4);

  .app-inset-text__title {
    color: $govuk-error-colour;
  }

  &.app-inset-text--no_padding {
    padding-top: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.app-inset-text__title {
  @include govuk-font($size: 19, $weight: "bold");
  margin-bottom: govuk-spacing(0);
}
