<div class="govuk-inset-text app-inset-text--narrow-border app-inset-text--<%= @error ? "error" : "important" %>">
  <p class="app-inset-text__title"><%= title %></p>
  <% if url.present? %>
    <%= govuk_link_to link_text, url %>
  <% end %>
  <% if hint_text.present? %>
    <span class="govuk-hint">
      <%= hint_text %>
    </span>
  <% end %>
</div>
