<p class="govuk-body">
  All <%= pluralize(error_rows_count, "trainee") %> have errors in their
  details.
</p>

<p class="govuk-body">
  You need to review the errors before you can change the status of these trainees
  <%= qts_or_eyts(recommendations_upload.error_rows) %>.
</p>

<%= govuk_link_to(
  "Review errors",
  bulk_update_recommendations_upload_recommendations_errors_path(recommendations_upload),
  class: "govuk-button"
  ) %>
