<p class="govuk-body">
  <%= case awardable_rows_count
    when 1
      "The trainee who holds"
    when 2
      "Both trainees who hold"
    else
      "All #{awardable_rows_count} trainees who hold"
    end %> <%= qts_or_eyts(recommendations_upload.awardable_rows) %> selected.
</p>

<%= govuk_link_to(
  "Check who you've selected",
  bulk_update_recommendations_upload_recommendations_checks_path(recommendations_upload),
  class: "govuk-button"
  ) %>
