<p class="govuk-body">
  <%= case awardable_rows_count
    when 1
      "The trainee"
    when 2
      "Both trainees"
    else
      "All #{awardable_rows_count} trainees"
    end %> will be recommended for <%= qts_or_eyts(recommendations_upload.awardable_rows) %>.
</p>

<%= govuk_link_to(
  "Check whose status will change",
  bulk_update_recommendations_upload_recommendations_checks_path(recommendations_upload),
  class: "govuk-button"
  ) %>
