<%= render PageTitle::View.new(i18n_key: "otp.verify") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= form_with url: otp_verifications_path do |f| %>

      <span class="govuk-caption-l">Check your email for a one-time password</span>
      <h1 class="govuk-heading-l">
        Enter your one-time password
      </h1>

      <%= f.govuk_text_field :code, width: 'one-half', label: { hidden: true } %>

      <%= f.govuk_submit "Sign in" %>
    <% end %>
  </div>
</div>
