<div class="govuk-grid-column-full govuk-!-padding-left-0 govuk-!-padding-bottom-3">
  <span class="govuk-!-font-weight-bold govuk-body">
    Sort by:
  </span>
  <span class="govuk-body sort-by-items">
    <%= items_html %>
  </span>
</div>