<tr class="govuk-table__row govuk-body">
  <th colspan="3" class="govuk-!-text-align-left">
    <span class="govuk-!-font-weight-bold govuk-body">
      Sort by:
    </span>
    <span class="govuk-body">
      <%= items_html %>
    </span>
  </th>
</tr>
