<%= render GovukComponent::NotificationBanner.new(title: 'Information', disable_auto_focus: true) do %>
  <p class="govuk-body"><%= header %></p>

  <ul class="govuk-list app-invalid-answer__list">
    <%= content %>          
  </ul>
<% end %>
