<%= render PageTitle::View.new(title: "pages.accessibility") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9"><%= t(".heading") %></h1>
    <%= t('.body_html', support_email: support_email) %>
  </div>
</div>
