<%= render_component PageTitle::View.new(title: "pages.cookies") %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-9">Cookies on <%= t('service_name') %></h1>
    <p class="govuk-body">This service puts small files (known as ‘cookies’) onto your computer, phone or tablet to collect information about how you use the service.</p>
    <h2 class="govuk-heading-m">What cookies we use</h2>
    <p class="govuk-body">We only use essential cookies.</p>
    <h3 class="govuk-heading-s">A cookie to give you access to your account</h3>
    <p class="govuk-body">"Register_trainee_teachers_session" is a cookie that reminds the service who you are when you’re signed in.</p>
    <p class="govuk-body">It enables you to access the information in your account, such as your trainee records.</p>
    <p class="govuk-body">It expires when you sign out, or after 6 hours on the service.</p>
  </div>
</div>
