<%= content_for :body_class, "app-start-page" %>

<%= render_component PageTitle::View.new %>

<%= content_for :start_page_banner do %>
  <%= render_component StartPageBanner::View.new %>
<% end %>

<div class="govuk-grid-row govuk-main-wrapper--auto-spacing">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>register trainee data with the Department for Education, and keep it updated</li>
      <li>get a teacher reference number (TRN) for your trainees</li>
      <li>share information about a trainee’s progress, such as whether they withdraw or defer</li>
      <li>recommend your trainees for qualified teacher status (QTS) or early years teacher status (EYTS)</li>
    </ul>
  </div>
</div>
