<%= render_component PageTitle::View.new %>

<%= content_for :start_page_banner do %>
  <%= render_component StartPageBanner::View.new %>
<% end %>

<div class="govuk-grid-row govuk-main-wrapper--auto-spacing">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <p class="govuk-body">Use this service to:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>register trainee data with the Department for Education, and keep it updated</li>
      <li>get a teacher reference number (TRN) for your trainees</li>
      <li>recommend your trainees for qualified teacher status (QTS) or early years teacher status (EYTS)</li>
    </ul>

    <h2 class="govuk-heading-s">When to register your trainees</h2>

    <p class="govuk-body">
      Register your trainees when they start their programme
    </p>
  </div>
</div>
