<%= render PageTitle::View.new %>

<div class="govuk-grid-row govuk-main-wrapper--auto-spacing">
  <div class="govuk-grid-column-two-thirds-from-desktop">

    Welcome to Register, Trainee Teacher Portal user!

  </div>
</div>
