@import "../base.scss";

.app-sort-links {
  @include govuk-font($size: 19);
  @include govuk-link-style-text;
  @include govuk-clearfix;

  margin-bottom: govuk-spacing(4);
}

.app-sort-links__prefix {
  @include govuk-typography-weight-bold();
}

.app-sort-links__list {
  display: inline-block;
  padding-left: govuk-spacing(0);
  list-style: none;
  margin: 0;
  font-size: 0; // hack to remove space between list items
}

.app-sort-links__list-item {
  display: inline-block;
  @include govuk-font(19); // restore font

  &:first-child:after {
    content: "";
    display: inline-block;
    position: relative;
    top: .1875em;
    height: 1.18em;
    border-right: .09375em solid $govuk-text-colour;
    margin-left: 2px;
    margin-right: 2px;
  }

}

.app-sort-links__item {
  padding: 0.3125em;
}
