<nav class="app-sort-links" aria-label="<%= t("components.page_titles.trainees.sort_links.sort_switcher") %>">
  <span class="app-sort-links__prefix"><%= t("components.page_titles.trainees.sort_links.sort_by") %>:</span>
  <ul class="app-sort-links__list">
    <li class="app-sort-links__list-item"><%= sort_by_date_link %></li>
    <li class="app-sort-links__list-item"><%= sort_by_last_name_link %></li>
  </ul>
</nav>
