port: 5000

# The url for this app, also used by `dfe_sign_in`
base_url: https://localhost:5000

# The url for the microsoft forms feedback link
feedback_link_url: "https://forms.office.com/e/Q6LVwtEKje"

# The email address for support queries
support_email: becomingateacher@digital.education.gov.uk
data_email: registerateacher@education.gov.uk

log_level: info

dttp:
  client_id: "application-registration-client-id-from-env"
  scope: "https://dttp-dev.crm4.dynamics.com/.default"
  client_secret: "client-secret-from-env"
  tenant_id: "tenant-id-from-env"
  api_base_url: "api-base-url-from-env"

hesa:
  auth_url: "https://identity.hesa.ac.uk/Account/RemoteLogOn?ReturnDomain=https://datacollection.hesa.ac.uk&ReturnUrl=%2f"
  collection_base_url: "https://datacollection.hesa.ac.uk/apis/itt/1.1/CensusData"
  trn_data_base_url: "https://datacollection.hesa.ac.uk/apis/itt/1.1/TRNData"
  trn_file_base_url: "https://datacollection.hesa.ac.uk/apis/itt/1.1/TRNFile"
  current_collection_reference: "C24053"
  current_collection_start_date: "2024-08-01"
  username: <get from secrets>
  password: <get from secrets>

dqt:
  base_url: https://teacher-qualifications-api.education.gov.uk/
  api_key: <get from secrets>

trs:
  base_url: https://teacher-qualifications-api.education.gov.uk
  api_key: <get from secrets>
  version: "20250627"

azure:
  storage:
    temp_data_access_key: set-me-in-env
    temp_data_acount: set-me-in-env
    temp_data_container: tempdata

# Used to add feature flags in the app to control access to certain features.
features:
  home_text: false
  use_ssl: true
  school_data_auto_import: false
  sign_in_method: dfe-sign-in
  enable_feedback_link: true
  basic_auth: true
  trainee_export: true
  import_applications_from_apply: false
  import_courses_from_ttapi: false
  publish_course_details: false
  sync_from_dttp: false
  sync_trainees_from_dttp: false
  import_trainees_from_dttp: false
  qualtrics_survey: false
  routes:
    assessment_only: true
    early_years_assessment_only: true
    early_years_postgrad: true
    early_years_salaried: true
    early_years_undergrad: true
    opt_in_undergrad: true
    pg_teaching_apprenticeship: true
    provider_led_postgrad: true
    provider_led_undergrad: true
    school_direct_salaried: true
    school_direct_tuition_fee: true
    iqts: true
    teacher_degree_apprenticeship: true
    hpitt_postgrad: true
  google:
    send_data_to_big_query: false
  filters:
    show_start_year_filter: false
  user_can_have_multiple_organisations: true
  integrate_with_trs: false
  funding: true
  hesa_trn_requests: false
  hesa_import:
    test_mode: false
    sync_collection: false
    sync_trn_data: false
  dqt_import:
    sync_teachers: false
  # For the 3 months prior to an academic cycle, we're not sure
  # which year the user wants courses listed for. This feature
  # makes sure the correct year is selected before listing courses.
  show_draft_trainee_course_year_choice: true
  maintenance_banner: false
  change_accredited_provider: true
  funding_uploads: true
  register_api: true
  duplicate_checking: true
  bulk_add_trainees: true
  token_management: true

dfe_sign_in:
  # Our service name
  identifier: rtt
  # URL that the users are redirected to for signing in
  issuer: https://test-oidc.signin.education.gov.uk
  # URL of the users profile
  profile: https://test-profile.signin.education.gov.uk
  # This value must be set otherwise sign in will fail
  secret: secret required value

recruits_api:
  base_url: "https://www.apply-for-teacher-training.service.gov.uk/register-api"
  auth_token: "auth-token-from-env"

current_recruitment_cycle_year: 2025
current_default_course_year: 2025

apply_applications:
  import:
    recruitment_cycle_years:
      - 2025
  create:
    recruitment_cycle_year: 2025

jobs:
  poll_delay_hours: 1
  max_poll_duration_days: 4

sidekiq:
  schedule_file: "config/sidekiq_cron_schedule.yml"

pagination:
  records_per_page: 100

cookies:
  consent:
    name: _consented_to_analytics_cookies
    expire_after_days: 182

session_store:
  expire_after_days: 30

teacher_training_api:
  base_url: "https://api.publish-teacher-training-courses.service.gov.uk/api/public/v1"

environment:
  name: beta
  display_name: Beta

slack:
  webhooks:
    default: <set to register support on prod>
    publish_register_tech_channel: <webhhook url>
    publish_register_support_channel: <webhook url>

track_validation_errors: true

govuk_notify:
  api_key: please_change_me
  otp_email_template_id: 4b4bda40-2b2f-4041-ac0e-cc5de3d683ef
  csv_submitted_for_processing:
    in_progress_template_id: 66682854-a9f1-43b3-85e9-0e168fc42b0c
    succeeded_template_id: 8ff06d35-8960-462e-aa6e-9942a7fd713d
    failed_template_id: 3344fd46-7f33-4762-a350-d02a88f863b0
  csv_submitted_for_processing_first_stage:
    pending_template_id: 8d856c2c-1e5f-4bd9-bbba-c8633422bcec
    validated_template_id: 7cae2078-784c-445d-b251-7bc3a901ef73
    failed_template_id: 716e14d1-7157-41b2-bdac-9ab94adc7934
  performance_profile_submitted_email_template_id: 21879652-3975-4a0a-b0b4-9fe6a5353090
  census_submitted_email_template_id: 5a610b43-a36e-4e4c-8ab0-e7e9d158f440

google_tag_manager:
  tracking_id: GTM-PD8MFNL
  auth_id: O3Y_kHqIkzLf5m0xGNafIA
  env_id: 11

blazer_database_url: <set from env>

google:
  big_query:
    project_id: replaceme
    dataset: replaceme
    table_name: events
    entity_table_checks_enabled: true

sign_off_trainee_data_url: https://forms.office.com/e/TB5dcbCJuF
sign_off_period: # census_period, performance_period, outside_period. See app/services/determine_sign_off_period.rb

trainee_export:
  record_limit: 100

smoke_test:
  username: do-not-store-here
  password: do-not-store-here

api:
  throttling:
    max_requests: 100
    interval: 60
  blacklist:
    ua: []
    ip: []
  allowed_versions: [v2025.0-rc, v2025.0]
  current_version: v2025.0

qualtrics:
  api_token: please_change_me
  directory_id: POOL_please_change_me
  base_url: https://fra1.qualtrics.com/API/v3/
  library_id: UR_please_change_me
  minutes_delayed: 5
  days_delayed: 7
  withdraw:
    survey_id: SV_please_change_me
    mailing_list_id: CG_please_change_me
    message_id: MS_please_change_me
  award:
    survey_id: SV_please_change_me
    mailing_list_id: CG_please_change_me
    message_id: MS_please_change_me

school_data:
  downloader:
    base_url: "https://ea-edubase-api-prod.azurewebsites.net/edubase/downloads/public/edubasealldata%s.csv"
    timeout: 300
