<div class="app-start-page-banner">
  <div class="govuk-grid-row govuk-width-container govuk-main-wrapper">
    <div class="govuk-grid-column-two-thirds app-start-page-banner__grid-row">
      <h1 class="govuk-heading-l app-start-page-banner__heading app-heading-xl--inverted">
        <%= t("page_headings.start_page") %>
      </h1>
      <p class="govuk-body-l govuk-!-font-size-27  app-body-l--inverted">
        Register trainees with the Department for Education and record the outcome of their training.
      </p>
      <div class="app-start-page-banner__actions">
        <%= render GovukComponent::StartButtonComponent.new(text: "Sign in",
                                                      href: sign_in_path,
                                                      classes: "app-button--inverted app-start-page-banner__button") %>
        <p class="govuk-body app-body--inverted">
          or <a class="govuk-link app-link--inverted govuk-link--no-visited-state app-link--request-account" href="/request-an-account">request an account</a>
        </p>
      </div>
    </div>
  </div>
</div>
