<a class="app-status-card app-status-card--<%= status_colour %> app-status-card__link" href="<%= target %>">
  <span class="app-status-card__count"><%= count %></span>
  <%= state_name %>
  <span class="govuk-visually-hidden"> records. View these records. </span>
</a>