code {
  padding: 2px 4px;
  font-family: monospace;
  background-color: govuk-colour("light-grey");
  color: govuk-colour("red");
}

.govuk-details__text {
  .json-code-sample {
    padding: 3px 5px;
    font-family: Monaco, Consolas, "Lucida Console", monospace;
    font-size: 15px;
    color: $govuk-text-colour;
    word-break: break-word;
    word-wrap: break-word;
    overflow-wrap: break-word;
    white-space: break-spaces;
    background: govuk-colour("light-grey");
  }
}

.technical-documentation > ul {
  list-style-type: none;
  padding-left: 0;
}

.technical-documentation > ul.govuk-list--bullet {
  padding-left: 20px;
  list-style-type: disc;
}
