<% if trainee.trn.present? %>
  <% if FeatureService.enabled?(:integrate_with_trs) && trs_data.present? %>
    <section class="app-summary-card govuk-!-margin-bottom-6">
      <header class="app-summary-card__header">
         <h2 class="app-summary-card__title">
            TRS
         </h2>
      </header>
      <%= render TrsDataSummary::View.new(trs_data:) %>
    </section>
  <% elsif FeatureService.enabled?(:integrate_with_dqt) %>
    <section class="app-summary-card govuk-!-margin-bottom-6">
      <header class="app-summary-card__header">
         <h2 class="app-summary-card__title">
            DQT
         </h2>
      </header>
      <%= render DqtDataSummary::View.new(dqt_data:) %>
    </section>
  <% end %>
<% end %>

<% if trainee.hesa_students.present? %>
   <section class="app-summary-card govuk-!-margin-bottom-6">
      <header class="app-summary-card__header">
         <h2 class="app-summary-card__title">
            HESA
         </h2>
      </header>
      <div class="app-summary-card__body">
         <dl class="govuk-summary-list" style="overflow:hidden;">
            <% collections.each do |collection| %>
               <%= render HesaStudentSummary::View.new(trainee:, collection:) %>
            <% end %>
         </dl>
      </div>
   </section>
<% end %>

<% if policy(trainee).destroy_with_reason? %>
  <p class="govuk-body">
    <%= govuk_link_to "Delete this trainee",
                      edit_trainee_deletions_reason_path(trainee),
                      class: "app-link--warning delete" %>
  </p>
<% end %>
