<%= render PageTitle::View.new(title: "pages.forbidden") %>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">You do not have access to view details for this trainee</h1>
      <p class="govuk-body">If you think you should have access, contact: <%= govuk_mail_to "becomingateacher@digital.education.gov.uk",
                                                                                            "becomingateacher@digital.education.gov.uk", subject: "Register trainee teachers support" %>.</p>
    </div>
  </div>
</main>
