<%= extends_layout :error do %>
  <%= render PageTitle::View.new(title: "pages.internal_server_error") %>

  <h1 class="govuk-heading-l">Sorry, something went wrong</h1>

  <p class="govuk-body">Try again later.</p>
  
  <p class="govuk-body">If you continue to get this message, email the Register trainee teachers team at <%= govuk_mail_to 'registerateacher@digital.education.gov.uk', 'registerateacher@digital.education.gov.uk' %>.</p>
<% end %>
