<%= render PageTitle::View.new(title: "pages.internal_server_error") %>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">We’re sorry, but something went wrong</h1>
      <p class="govuk-body">If you are the application owner check the logs for more information.</p>
    </div>
  </div>
</main>
