<%= extends_layout :error do %>
  <%= render PageTitle::View.new(title: "pages.not_found") %>

  <h1 class="govuk-heading-l">Page not found</h1>

  <p class="govuk-body">Check the web address and try again.</p>

  <p class="govuk-body">If you continue to get this message, email the Register trainee teachers team at <%= support_email %>.</p>

<% end %>
