<%= render PageTitle::View.new(title: "pages.unprocessable_entity") %>

<main role="main" class="govuk-main-wrapper" id="main-content">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">
      <h1 class="govuk-heading-l">The change you wanted was rejected</h1>
      <p class="govuk-body">Maybe you tried to change something you didn’t have access to.</p>
      <p class="govuk-body">If you are the application owner check the logs for more information.</p>
    </div>
  </div>
</main>
