<%= render PageTitle::View.new(i18n_key: "duplicate_apply_applications.index") %>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <%= govuk_table do |table|
      table.with_caption(size: "m", text: "Duplicate apply applications")
      table.with_head do |head|
        head.with_row do |row|
          row.with_cell(text: "First names")
          row.with_cell(text: "Last name")
          row.with_cell(text: "Created on")
          row.with_cell(text: "")
        end
      end
      table.with_body do |body|
        @apply_applications.each do |apply_application|
          body.with_row do |row|
            row.with_cell(text: apply_application.application&.dig("attributes", "candidate", "first_name"))
            row.with_cell(text: apply_application.application&.dig("attributes", "candidate", "last_name"))
            row.with_cell(text: apply_application.created_at.to_fs(:govuk_short))
            row.with_cell do |cell|
              govuk_button_link_to(
                "View",
                duplicate_apply_application_path(apply_application.id),
                class: "govuk-!-margin-0",
              )
            end
          end
        end
      end
    end %>

    <%= render Paginator::View.new(scope: @apply_applications) %>
  </div>
</div>
