<%= render PageTitle::View.new(text: "Duplicate apply application record - #{@candidate_name}") %>

<span class="govuk-caption-l"><%= @candidate_name %></span>
<h1 class="govuk-heading-l">Duplicate apply application record</h1>

<%= govuk_summary_list do |summary_list|
  summary_list.with_row do |row|
    row.with_key { "Full name" }
    row.with_value { @candidate_name }
  end

  summary_list.with_row do |row|
    row.with_key { "Created on" }
    row.with_value { @apply_application.created_at.to_fs(:govuk_short) }
  end

  if @duplicate_trainees.present?
    summary_list.with_row do |row|
      row.with_key { @exact_duplicates ? "Duplicates" : "Potential duplicates" }
      row.with_value do
        render ApplicationRecordCard::View.with_collection(
          @duplicate_trainees,
          current_user: @current_user,
        )
      end
    end
  else
    summary_list.with_row do |row|
      row.with_key { "Duplicates" }
      row.with_value { "None found" }
    end
  end

  summary_list.with_row do |row|
    row.with_key { "Application data" }
    row.with_value do
      content_tag :pre, JSON.pretty_generate(@apply_application.application)
    end
  end
end %>
