<div class="record-actions">
  <%= govuk_button_link_to "Recommend for QTS", edit_trainee_outcome_details_outcome_date_path(trainee),
                           { class: "govuk-!-margin-bottom-0" }  %>

  <% if display_actions? %>
    <div class="record-actions__links">
      <p class="govuk-body govuk-!-margin-bottom-0">
        <%= defer_and_withdraw_links %>
        <%= t("views.trainees.edit.this_trainee") %>
      </p>
    </div>
  <% end %>
</div>

<hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
