<div class="record-actions">
  <%= govuk_button_link_to "Record training outcome", edit_trainee_outcome_details_outcome_date_path(trainee),
                           { class: "govuk-!-margin-bottom-0" }  %>

  <div class="record-actions__links">
    <p class="govuk-body govuk-!-margin-bottom-0">
      <%= govuk_link_to t("views.trainees.edit.defer"), trainee_deferral_path(@trainee), class: "defer"  %> or
      <%= govuk_link_to t("views.trainees.edit.withdraw"), trainee_withdrawal_path(@trainee), class: "withdraw"  %>
      <%= t("views.trainees.edit.this_trainee") %>
    </p>
  </div>
</div>

<hr class='govuk-section-break govuk-section-break--m govuk-section-break--visible'>
