<p class="govuk-body">
  You do not have any trainees who can be bulk selected that now hold qualified teacher status (QTS) or early years teacher status (EYTS).
</p>

<p class="govuk-body">
  You can only bulk select trainees if they have a TRN and either:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    an expected end date in the past 6 months or the next 6 months
  </li>
  <li>
    no expected end date
  </li>
</ul>

<p class="govuk-body">
  You cannot bulk select trainees who have deferred or withdrawn from their course.
</p>

<p class="govuk-body">
  Read
  <%= govuk_link_to("guidance about how to bulk select trainees that now hold QTS or EYTS", bulk_select_trainees_guidance_path) %>
  .
</p>
