<p class="govuk-body">
  You do not have any trainees eligible for a QTS or EYTS status change at the moment.
</p>

<p class="govuk-body">
  You can only change a trainee’s status if they have a TRN and either:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>
    an expected end date in the past 6 months or the next 6 months
  </li>
  <li>
    no end date
  </li>
</ul>

<p class="govuk-body">
  You cannot change the status of trainees who have deferred or withdrawn from their course.
</p>

<p class="govuk-body">
  Read
  <%= govuk_link_to("guidance on changing the QTS status of a trainee", bulk_recommend_trainees_guidance_path) %>
  .
</p>
