<%= render PageTitle::View.new(i18n_key: "duplicate_hesa_trainees.index") %>

<div class="govuk-grid-row">
  <div class ="govuk-grid-column-full">
    <%= render "system_admin/tab_nav" %>

    <%
      @potential_duplicate_trainees.each do |group|
        # TODO: Fix nasty 1+N query
        group[:trainee_ids].map { |id| Trainee.find(id) }.each do |trainee|
    %>
    <%= render(
      ApplicationRecordCard::View.new(
        record: trainee,
        current_user: current_user,
      ),
    ) %>
    <%
        end
      end
    %>

    <%= render Paginator::View.new(scope: @potential_duplicate_trainees) %>
  </div>
</div>
