<div class="trainee-record-header">
  <div class="trainee-record-header-name-trn">
    <h1 class="govuk-heading-l govuk-!-margin-bottom-0">
      <%= trainee_name(trainee) %>
    </h1>

    <% if show_trn? %>
      <span class="govuk-caption-l">
        <%= "TRN: #{trn}" %>
      </span>
    <% end %>
  </div>

  <%= render StatusTag::View.new(trainee: trainee, hide_progress_tag: hide_progress_tag) %>
</div>
