
<% tags.each do |tag| %>
  <%= render GovukComponent::TagComponent.new(
    text: "<span class='govuk-visually-hidden'>Status </span>".html_safe + tag[:status], 
    colour: tag[:status_colour], 
    classes: tag[:classes]
  ) %>
<% end %>

