---
title: How to add trainee information to the bulk add new trainee CSV template
weight: 1
---

# How to add trainee information to the bulk add new trainee CSV template

<%= partial "partials/hei_only_warning" %>

<p class="govuk-body">
	<div class="govuk-notification-banner" role="region" aria-labelledby="govuk-notification-banner-title" data-module="govuk-notification-banner" data-govuk-notification-banner-init="">
	  <div class="govuk-notification-banner__header">
	    <h2 class="govuk-notification-banner__title" id="govuk-notification-banner-title">
	      Important
	    </h2>
	  </div>
	  <div class="govuk-notification-banner__content">
	    <p class="govuk-notification-banner__heading">
	      This draft guidance is for review and testing purposes only. Send your feedback or questions to <a href="mailto:registertraineeteachers@education.gov.uk" class="govuk-notification-banner__link">registertraineeteachers@education.gov.uk</a>.
	    </p>
	  </div>
	</div>
</p>

<p class="govuk-body">
  Accredited higher education institution (HEI) training providers can register their trainees in bulk by creating trainee records and adding the required data.
</p>

<p class="govuk-body">
  CSV bulk add new trainees will be available in Register trainee teachers (Register) before the start of the 2025 to 2026 academic year.
</p>

## Download an empty CSV file template

<p class="govuk-body">
  You must only use this CSV file template to register new trainees in Register trainee teachers (Register).
</p>

<p class="govuk-body">
  If you use this to update already existing trainees, it will come back as an error.
</p>

<p class="govuk-body">
  The CSV template uses HESA reference data.
</p>

<p class="govuk-body">
  <%= link_to(
    "Download empty bulk add new trainees CSV template", "/bulk-update/add-trainees/empty-template.csv"
  ) %>
</p>

## Use this guidance to complete the CSV file template

<p class="govuk-body">
  Use the guidance to check how new trainee data maps between your student record system and Register, using the CSV upload found in the ‘Bulk updates section’ in Register.
</p>

<p class="govuk-body">
  If mandatory fields are not filled in correctly, the CSV upload will come back as an error.
</p>

### 1. Download the CSV file template

<p class="govuk-body">
  You can adapt this CSV file template to add trainee data directly from your student record system.
</p>

<p class="govuk-body">
  If you’re adapting the CSV file template for a direct extract from your student record system, you can go directly to step 3.
</p>

### 2. Add new trainee details

<p class="govuk-body">
  Open as a CSV file to add trainee details in bulk. There are 36 data fields. You will need to include trainee information such as:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>personal information</li>
  <li>course details</li>
  <li>funding (if applicable)</li>
</ul>

<p class="govuk-body">
  You can leave non mandatory rows or cells empty if you do not want to upload those fields.
</p>

### 3. Upload your trainee records

<p class="govuk-body">
  Your trainee data is checked for the following, after you upload the file:
</p>

<ul class="govuk-list govuk-list--bullet">
  <li>it’s contained within a valid CSV file structure</li>
  <li>it does not contain duplicate trainee records</li>
  <li>it matches valid reference data</li>
  <li>it’s cross checked for invalid combinations of reference data between fields</li>
  <li>mandatory fields are completed</li>
  <li>conditional fields are completed if required</li>
</ul>

<p class="govuk-body">
  This may take several minutes.
</p>

<p class="govuk-body">
  We will notify you by email whether the upload has passed or failed. Emails are not currently sent from the CSV sandbox environment.
</p>

<p class="govuk-body">
  You can also go back and check the status of new trainee files in Register.
</p>

## Notification of changes

<p class="govuk-body">
Find out more on <%= link_to("Register’s news and updates", "/service-updates") %> about any changes to trainee data fields when submitting trainee data directly to Register via the API or ‘Bulk add new trainees’ CSV template, for the upcoming 2025 to 2026 academic year.
</p>

## Version

<p class="govuk-body">
  <%= BulkUpdate::AddTrainees::Config::VERSION %>
</p>
