<details class="govuk-details" data-module="govuk-details" <% if f.object.additional_subjects? %> open<% end %>>
  <summary class="govuk-details__summary">
    <span class="govuk-details__summary-text">
      <%= t(".add_additional_subjects") %>
    </span>
  </summary>
  <div class="govuk-details__text">
    <p class="govuk-body"><%= t(".main_subject") %></p>

    <div class="govuk-!-margin-bottom-6 app-!-autocomplete--max-width-two-thirds ">

      <%= render FormComponents::Autocomplete::View.new(
        f,
        attribute_name: :course_subject_two,
        form_field: f.govuk_collection_select(
          :course_subject_two,
          course_subjects_options,
          :value,
          :text,
          label: { text: t(".subject_two") },
          hint: { text: t(".subject_hint") },
        ),
      ) %>
    </div>

    <div class="govuk-!-margin-bottom-6 app-!-autocomplete--max-width-two-thirds ">
      <%= render FormComponents::Autocomplete::View.new(
        f,
        attribute_name: :course_subject_three,
        form_field: f.govuk_collection_select(
          :course_subject_three,
          course_subjects_options,
          :value,
          :text,
          label: { text: t(".subject_three") },
          hint: { text: t(".subject_hint") },
        ),
      ) %>
    </div>

  </div>
</details>
