<%= render SummaryCard::View.new(trainee: trainee, title: t("components.confirmation.start_date.title"),
    heading_level: 2,
    rows: [
      {
        key: t("components.confirmation.start_date.title"),
        value: start_date,
        action: govuk_link_to('Change<span class="govuk-visually-hidden"> start date</span>'.html_safe,
                              edit_trainee_start_date_path(trainee))
      },
    ]
  ) %>
