
<%= render PageTitle::View.new(text: "Personas") %>

<h1 class="govuk-heading-l">
  <span class="govuk-caption-xl">
    Register trainee teachers
  </span>
  Personas
</h1>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <%= render Personas::View.with_collection(@personas) %>
  </div>
</div>
