<% if show_source_filters? %>
  <div class="govuk-form-group">
    <fieldset class="govuk-fieldset">
      <legend class="govuk-fieldset__legend govuk-fieldset__legend--s">
        <%= t('components.filter.record_source') %>
      </legend>
      <div class="govuk-checkboxes govuk-checkboxes--small">
          <% available_record_sources.sort_by { |source| label_for("record_source", source) }.each do |source| %>
            <div class="govuk-checkboxes__item">
              <%= check_box_tag "record_source[]",
                                source,
                                checked?(filters, :record_source, source.to_s),
                                id: "record_source-#{source}",
                                class: "govuk-checkboxes__input" %>
              <%= label_tag "record_source-#{source}",
                            label_for("record_source", source),
                            class: "govuk-label govuk-checkboxes__label" %>
            </div>
          <% end %>
      </div>
    </fieldset>
  </div>
<% end %>
