<div class="record-outcome-action-bar">
  <%= render Trainees::RecordActions::View.new(@trainee) %>
</div>

<div class="record-details">
  <%= render Trainees::RecordDetails::View.new(@trainee) %>
</div>

<div class="course-details">
  <%= render Trainees::Confirmation::CourseDetails::View.new(trainee: @trainee) %>
</div>

<% if @trainee.requires_placement_details? %>
  <div class="placement-details">
    <%= render Trainees::Confirmation::PlacementDetails::View.new(trainee: @trainee) %>
  </div>
<% end %>
