<div class="record-outcome-action-bar">
  <%= render Trainees::RecordActions::View.new(@trainee) %>
</div>

<div class="record-details">
  <%= render Trainees::RecordDetails::View.new(@trainee) %>
</div>

<div class="programme-details">
  <%= render Trainees::Confirmation::ProgrammeDetails::View.new(trainee: @trainee) %>
</div>
