<p class="govuk-body">
  You can upload a CSV file to recommend multiple trainees for
  qualified teacher status (QTS) or early years teacher status (EYTS).
</p>

<ol class="govuk-list govuk-list--number">
  <li>
      <p>
        <%= govuk_link_to(
          "Download a CSV file listing #{ pluralize(bulk_recommend_count, "trainee") } you can recommend",
          bulk_recommend_export_reports_path(:csv),
          class: "bulk-recommend")
          %>
      </p>
  </li>
  <li>
    Fill in the date when each trainee met the QTS or EYTS standards. If a
    trainee has not met the standards, either delete the row or leave the
    date column blank.
  </li>
  <li>
    Upload the CSV file.
    <%= f.govuk_file_field :file, label: { hidden: true } %>
  </li>
</ol>

<div class="govuk-inset-text">
  <p class="govuk-body">
    You cannot use this upload to make other changes to a trainee’s record.
    Read guidance about bulk recommending trainees to find out how to make
    changes and what to do if trainees have withdrawn or deferred.
  </p>
</div>

<%= f.govuk_submit "Upload file and check who you’ll recommend" %>
