<div class="govuk-grid-column-full">
  <div class="app-home-statuses">
      <% badges.map do |badge| %>
          <%= render TraineeStatusCard::View.new(status: badge.status,
                                                 count: badge.trainee_count,
                                                 target: badge.link
                                                ) %>
      <% end %>
  </div>
</div>
