# The url for this app, also used by `dfe_sign_in`
base_url: https://staging.register-trainee-teachers.service.gov.uk

dttp:
  scope: https://dttp-ppad.crm4.dynamics.com/.default
  api_base_url: https://dttp-ppad.crm4.dynamics.com/api/data/v9.1
  portal_host: traineeteacherportal-pp.education.gov.uk

dfe_sign_in:
  # URL that the users are redirected to for signing in
  issuer: https://pp-oidc.signin.education.gov.uk
  # URL of the users profile
  profile: https://pp-profile.signin.education.gov.uk

dqt:
  base_url: https://qualified-teachers-api-preprod.london.cloudapps.digital/

features:
  sign_in_method: dfe-sign-in
  basic_auth: false
  enable_feedback_link: true
  import_courses_from_ttapi: true
  import_applications_from_apply: true
  publish_course_details: true
  routes:
    early_years_assessment_only: true
    early_years_postgrad: true
    early_years_salaried: true
    early_years_undergrad: true
    opt_in_undergrad: true
    pg_teaching_apprenticeship: true
    provider_led_postgrad: true
    provider_led_undergrad: true
    school_direct_salaried: true
    school_direct_tuition_fee: true
    iqts: true
  integrate_with_dqt: true
  hesa_trn_requests: true
  hesa_import:
    sync_collection: true
    sync_trn_data: true
    test_mode: true
  dqt_import:
    sync_teachers: true
  google:
    send_data_to_big_query: false
hesa:
  auth_url: "https://identity.hesa.ac.uk/Account/RemoteLogOn?ReturnDomain=https://datacollection.hesa.ac.uk&ReturnUrl=%2f"
  collection_base_url: "https://datacollection.hesa.ac.uk/apis/itt/1.1/CensusData"
  trn_data_base_url: "https://datacollection.hesa.ac.uk/apis/itt/1.1/TRNData"
  trn_file_base_url: "https://datacollection.hesa.ac.uk/apis/itt/1.1/TRNFile"
  current_collection_reference: "C23053"
  current_collection_start_date: "2023-08-01"

environment:
  name: staging

google_tag_manager:
  auth_id: h9MLvalp6AuXoRufPTHO_A
  env_id: 12
