# The url for this app, also used by `dfe_sign_in`
base_url: https://staging.register-trainee-teachers.service.gov.uk

dttp:
  scope: https://dttp-ppad.crm4.dynamics.com/.default
  api_base_url: https://dttp-ppad.crm4.dynamics.com/api/data/v9.1
  portal_host: traineeteacherportal-pp.education.gov.uk

dfe_sign_in:
  # URL that the users are redirected to for signing in
  issuer: https://pp-oidc.signin.education.gov.uk
  # URL of the users profile
  profile: https://pp-profile.signin.education.gov.uk

trs:
  base_url: https://preprod.teacher-qualifications-api.education.gov.uk/

features:
  sign_in_method: dfe-sign-in
  basic_auth: false
  enable_feedback_link: true
  import_courses_from_ttapi: true
  import_applications_from_apply: false
  publish_course_details: true
  integrate_with_trs: false
  google:
    send_data_to_big_query: true

environment:
  name: staging
  display_name: Staging

google_tag_manager:
  auth_id: h9MLvalp6AuXoRufPTHO_A
  env_id: 12

sign_off_period: # census_period, performance_period, outside_period. See app/services/determine_sign_off_period.rb

api:
  allowed_versions: [v2025.0-rc, v2025.0, v2026.0]
