# The url for this app, also used by `dfe_sign_in`
base_url: https://staging.register-trainee-teachers.education.gov.uk

dttp:
  back_office_url: https://dttp-ppad.crm4.dynamics.com/
  scope: https://dttp-ppad.crm4.dynamics.com/.default
  api_base_url: https://dttp-ppad.crm4.dynamics.com/api/data/v9.1

dfe_sign_in:
  # URL that the users are redirected to for signing in
  issuer: https://pp-oidc.signin.education.gov.uk
  # URL of the users profile
  profile: https://pp-profile.signin.education.gov.uk

features:
  basic_auth: false
  sync_from_dttp: true
  import_courses_from_ttapi: true
  import_applications_from_apply: true
  publish_course_details: true
  persist_to_dttp: true
  show_funding: true
  send_funding_to_dttp: true
  course_study_mode: true
  routes:
    early_years_assessment_only: true
    early_years_postgrad: true
    early_years_salaried: true
    early_years_undergrad: true
    opt_in_undergrad: true
    pg_teaching_apprenticeship: true
    provider_led_postgrad: true
    provider_led_undergrad: true
    school_direct_salaried: true
    school_direct_tuition_fee: true

environment:
  name: staging

google_tag_manager:
  auth_id: h9MLvalp6AuXoRufPTHO_A
  env_id: 12
