<div class="toc" data-module="table-of-contents" tabindex="-1" aria-label="Table of contents" aria-hidden="false">
  <nav id="toc" class="js-toc-list toc__list" aria-labelledby="toc-heading" data-module="collapsible-navigation">
    <ul>
      <li>
        <a href="/tech-docs"><span>Register reference documentation</span></a>
      </li>
      <li class="collapsible is-open">
        <a href="/tech-docs/api-reference" class="collapsible__heading" id="api-reference">
          <span>API reference</span>
        </a>
        <button class="collapsible__toggle" aria-expanded="true" aria-controls="api-reference">
          <span class="collapsible__toggle-label">API reference</span>
          <span class="collapsible__toggle-icon" aria-hidden="true"></span>
        </button>
        <ul class="collapsible__body">
          <li class="collapsible is-open">
            <a href="/tech-docs/v0.1/reference" class="collapsible__heading" id="api-reference-v-0-1">
              <span>v0.1</span>
            </a>
            <button class="collapsible__toggle" aria-expanded="true" aria-controls="api-reference-v-0-1">
              <span class="collapsible__toggle-label">v0.1</span>
              <span class="collapsible__toggle-icon" aria-hidden="true"></span>
            </button>
            <ul class="collapsible__body">
              <li>
                <a href="/tech-docs/v0.1/reference#api-versioning-strategy">
                  <span>API versioning strategy</span>
                </a>
              </li>
              <li>
                <a href="/tech-docs/v0.1/reference#draft-version-0-1">
                  <span>Draft version 0.1</span>
                </a>
              </li>
              <li>
                <a href="/tech-docs/v0.1/reference#developing-on-the-api">
                  <span>Developing on the API</span>
                </a>
              </li>
            </ul>
          </li>
          <li class="collapsible">
            <a href="/tech-docs/v1.0-pre/reference" class="collapsible__heading" id="api-reference-v-1-0-pre">
              <span>v1.0-pre</span>
            </a>
            <button class="collapsible__toggle" aria-expanded="false" aria-controls="api-reference-v-1-0-pre">
              <span class="collapsible__toggle-label">v1.0pre</span>
              <span class="collapsible__toggle-icon" aria-hidden="true"></span>
            </button>
          </li>
        </ul>
      </li>
  </nav>
</div>
