.govuk-accordion__section-content .system-admin-actions {
  display: flex;
  flex-direction: column;
  gap: 12px;

  @include govuk-media-query($from: tablet) {
    flex-direction: row;
    align-items: center;
  }
}

.govuk-accordion__section.payment-schedule-accordion {
  .govuk-accordion__section-heading-text {
    @include govuk-font($size: 19, $weight: bold);
  }
}
