.moj-primary-navigation__link[aria-current]:focus::before {
  height: 7px; // Make bar thicker so we do not rely on colour alone to indicate focus
}

.moj-primary-navigation__nav {
  width: 100%;
}

.moj-primary-navigation__align_right {
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}
