.app-organisation-switcher {
  @include govuk-clearfix;
  margin-top: govuk-spacing(2);
  margin-bottom: govuk-spacing(2);
}

.app-organisation-switcher__title {
  @include govuk-font($size: 19, $weight: "bold");
  @include govuk-media-query($from: tablet) {
    width: 40%;
    float: left;
  }
}

.app-organisation-switcher__navigation-list {
  padding: 0;
  margin: 0;
  @include govuk-media-query($from: tablet) {
    text-align: right;
  }
}

.app-organisation-switcher__navigation-item {
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  padding: 0;
  border-bottom: 0;

  @include govuk-link-common;
  @include govuk-media-query($from: tablet) {
    float: right;
  }
}

.app-organisation-switcher__link {
  font-size: 1rem;
  line-height: 1.25;

  @include govuk-link-common;
}
