@import "../inverted";

.app-phase-banner__env--development .govuk-tag {
  background: govuk-colour("dark-grey");
  color: govuk-colour("white");
}

.app-phase-banner__env--qa .govuk-tag {
  background-color: govuk-colour("orange");
  color: govuk-colour("white");
}

.app-phase-banner__env--staging .govuk-tag {
  background-color: govuk-colour("red");
  color: govuk-colour("white");
}

.app-phase-banner__env--review .govuk-tag {
  background-color: govuk-colour("purple");
  color: govuk-colour("white");
}

.app-header__env--development,
.app-header__env--development .govuk-header__container {
  border-color: govuk-colour("dark-grey");
}

.app-header__env--qa,
.app-header__env--qa .govuk-header__container {
  border-color: govuk-colour("orange");
}

.app-header__env--staging,
.app-header__env--staging .govuk-header__container {
  border-color: govuk-colour("red");
}

.app-header__env--review,
.app-header__env--review .govuk-header__container {
  border-color: govuk-colour("purple");
}

.app-start-page {
  .govuk-header__container {
    border-bottom-color: govuk-colour("blue");
  }

  .app-phase-banner {
    background-color: $govuk-brand-colour;
    margin-top: -(govuk-spacing(2));
  }

  .govuk-phase-banner {
    border-bottom-color: govuk-colour("light-blue");
  }

  .govuk-phase-banner__text,
  .govuk-phase-banner__text .govuk-link {
    color: govuk-colour("white");
  }

  .govuk-phase-banner__text .govuk-link:focus {
    color: govuk-colour('black');
  }

  .govuk-tag {
    background: govuk-colour("white");
    color: $govuk-brand-colour;
  }
}

.app-start-page-banner {
  background-color: $govuk-brand-colour;
  color: govuk-colour("white");
  margin-top: -(govuk-spacing(4));

  .govuk-link {
    color: govuk-colour("white");
  }

  .govuk-link:focus {
    color: govuk-colour('black');
  }

  @include govuk-media-query($from: tablet) {
    margin-top: -(govuk-spacing(7));
  }
}

.app-start-page-banner__grid-row {
  padding: 0;
}

.app-start-page-banner__heading {
  @include govuk-responsive-margin(6, "bottom");
}

.app-start-page-banner__description {
  color: govuk-colour("white");
}

.app-start-page-banner__actions {
  color: govuk-colour("white");

  @include govuk-media-query($from: tablet) {
    display: flex;
    align-items: center;
  }

  p {
    margin-bottom: 0;
  }
}

.app-start-page-banner__button {
  margin-bottom: govuk-spacing(3);
  color: govuk-colour("blue");
  background-color: govuk-colour("white");

  @include govuk-media-query($from: tablet) {
    margin-right: govuk-spacing(3);
    margin-bottom: 0;
  }
}
