@import "../base.scss";

.user-card {
  border-bottom: 1px solid govuk-colour("mid-grey");

  &:last-child {
    border-bottom: none;
  }

  &__name {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

    &__heading {
      margin-bottom: 0;
    }

    &__created {
      text-align: right;
    }
  }
}
