<h2 class="govuk-heading-m">Trainee details</h2>

<div class="personal-details">
  <%= render_component Trainees::Confirmation::PersonalDetails::View.new(trainee: @trainee) %>
</div>

<div class="contact-details">
  <%= render_component Trainees::Confirmation::ContactDetails::View.new(trainee: @trainee) %>
</div>

<div class="diversity-details">
  <%= render_component Trainees::Confirmation::Diversity::View.new(trainee: @trainee) %>
</div>

<h2 class="govuk-heading-m">Education</h2>

<h3 class="govuk-heading-s">Degrees</h3>

<div class="degree-details">
  <%= render_component Trainees::Confirmation::Degrees::View.new(trainee: @trainee, show_delete_button: true) %>
</div>