<div class="personal-details">
  <%= render Trainees::Confirmation::PersonalDetails::View.new(data_model: @trainee) %>
</div>

<div class="contact-details">
  <%= render Trainees::Confirmation::ContactDetails::View.new(data_model: @trainee) %>
</div>

<div class="diversity-details">
  <%= render Trainees::Confirmation::Diversity::View.new(data_model: @trainee) %>
</div>

<div class="degree-details">
  <%= render Trainees::Confirmation::Degrees::View.new(trainee: @trainee, show_delete_button: true) %>
</div>
