<%= render SummaryCard::View.new(
  title: "Record details",
  heading_level: 2,
  rows: [
    {
      key: "Trainee ID",
      value: trainee_id,
      action: govuk_link_to('Change<span class="govuk-visually-hidden"> trainee ID</span>'.html_safe,
                              edit_trainee_trainee_id_path(trainee)),
    },
    {
      key: "Submitted for TRN",
      value: submission_date,
    },
    {
      key: "Last updated",
      value: last_updated_date,
    },

    {
      key: "Record created",
      value: date_for_summary_view(trainee.created_at),
    },
  ])
%>
