<% if enabled %>
  <h2 class="govuk-heading-m">Giving us feedback</h2>
  <p class="govuk-body govuk-!-margin-bottom-5">
    Tell us how <%= feedback_type_text %> with the new service is working for you.
    We use this to make improvements. It takes 3 minutes to complete
  </p>
  <%= render GovukButtonLinkTo::View.new(
    body: "Give feedback (opens in a new tab)",
    url: feedback_link_url,
    target: "_blank"
  ) %>
<% end %>
