<% if enabled %>
  <div class="govuk-inset-text">
    <h2 class="govuk-heading-s">How are you finding this process?</h2>
    <%= govuk_link_to "Give feedback to help improve the process of recommending trainees for QTS", feedback_link_url, { class: "govuk-body" } %>
  </div>
<% end %>
