<% if degrees.present? %>
  <% degrees.each do |degree| %>
    <%= render SummaryCard::View.new(trainee: trainee, title: degree_title(degree), heading_level: 2, rows: get_degree_rows(degree)) do |component| %>
      <% if show_delete_button %>
        <% component.header_actions do %>
          <%= register_form_with model: [trainee, degree], url: trainee_degree_path(trainee, degree), method: :delete, local: true do |f| %>
            <%= f.submit "Delete degree", class: "govuk-link app-button--link govuk-body", role: "link" %>
          <% end %>
        <% end %>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<% if show_add_another_degree_button %>
  <div class="govuk-form-group">
    <%= render GovukButtonLinkTo::View.new(body: degree_button_text, url: trainee_degrees_new_type_path(trainee), class_option: "govuk-button--secondary") %>
  </div>
<% end %>
