.govuk-notification-banner__content .app-invalid-answer__list a:link {
  font-weight: bold;
}

.no-wrap {
  white-space: nowrap;
}

.govuk-select {
  @include govuk-media-query($from: desktop) {
    letter-spacing: -0.05px;
  }
}

.govuk-table {
  overflow-x: auto; // Force internal sideways scrolling when content is wider than view
}

.app-table__in-accordion tr:last-child td {
  border-bottom: none;
}

.govuk-table__header--numeric {
  text-align: right;
}
