code {
  padding: 2px 4px;
  font-family: monospace;
  background-color: govuk-colour("black", $variant: "tint-95");
  color: govuk-colour("red");
}

.json-code-sample {
  padding: 3px 5px;
  font-family: Monaco, Consolas, "Lucida Console", monospace;
  font-size: 15px;
  color: govuk-functional-colour(text);
  overflow-wrap: break-word;
  white-space: break-spaces;
  background: govuk-colour("black", $variant: "tint-95");
}
