@import "./govuk_style_setup";

@import "govuk-frontend/dist/govuk/base";
@import "govuk-frontend/dist/govuk/core";
@import "govuk-frontend/dist/govuk/objects";
@import "govuk-frontend/dist/govuk/components";
@import "govuk-frontend/dist/govuk/utilities";
@import "govuk-frontend/dist/govuk/overrides";

$govuk-suppressed-warnings: (govuk-typography-scale-14);

@import "@ministryofjustice/frontend/moj/all";

$moj-images-path: "@ministryofjustice/frontend/moj/assets/images";
$mobile-small-start: 400px;
$mobile-small-end: 401px;
$mobile-big-start: 500px;
$mobile-big-end: 501px;

@import "govuk_overrides";
@import "filter_toggle_button";
@import "trainee_list";
@import "cookie_banner";
@import "tables";
@import "trainee";
@import "components/all";
@import "utilities";
@import "api-docs";
@import "csv-docs";

.govuk-cookie-banner__hide {
  display: none;
}

.trn-submission-success-panel,
.qts-submission-success-panel,
.app-authentication-token-success-panel {
  .govuk-panel__title {
    @include govuk-font(36, bold);
  }

  .govuk-panel__body {
    @include govuk-font(24);
  }
}

// Dashed list (used in Contents links list)
.app-list--dash li {
  position: relative;

  &::before {
    color: $govuk-secondary-text-colour;
    content: "\2013";
    left: -16px;
    position: absolute;
    top: 0;
  }
}

.trainee-record-header {
  margin-bottom: govuk-spacing(6);
}

.trainee-record-header .govuk-tag {
  left: 5px;
  position: relative;
  top: 6px;

  @include govuk-media-query($from: tablet) {
    top: 16px;
  }
}

.trainee-record-header-name-trn {
  display: inline-block;
  vertical-align: top;
}

.app-button--link {
  @include govuk-link-common;
  @include govuk-link-style-default;
  @include govuk-link-print-friendly;

  background: none;
  margin: 0;
  padding: 0;
  border: none;
  color: $govuk-link-colour;
  box-shadow: none;
  text-decoration: underline;

  &:active {
    top: 0;
  }

  &:hover {
    cursor: pointer;
  }
}

.app-autocomplete__remove-link {
  @include govuk-font($size: 19);

  float: right;
}

.govuk-error-summary__list {
  color: $govuk-error-colour;
  font-weight: 700;

  .govuk-error-summary__item-description {
    font-weight: 400;
    color: $govuk-error-colour;
    margin-top: govuk-spacing(1);
  }
}

.app-link--warning {
  @include govuk-link-common;
  @include govuk-link-style-error;
}

// Display for js only
body:not(.js-enabled) .app-js-only {
  display: none;
}

// Display for no-js only
.js-enabled .app-no-js-only {
  display: none;
}

.app-inset-notice {
  border-left: govuk-spacing(1) solid $govuk-border-colour;

  @include govuk-font($size: 19);

  color: $govuk-secondary-text-colour;
  padding-left: govuk-spacing(3);

  > :first-child {
    margin-top: 0;
  }

  > :only-child,
  > :last-child {
    margin-bottom: 0;
  }
}

.app-start-page-banner+.govuk-width-container>.govuk-notification-banner {
  margin-top: 40px;
}

.govuk-checkboxes.nationality .app-\!-autocomplete--max-width-two-thirds {
  @include govuk-font(19);
  max-width: 44ex;
}

.app-service-navigation__wrapper {
  width: 100%;
}

.app-service-navigation__align_right {
  @include govuk-media-query($from: tablet) {
    margin-left: auto;
  }
}
