<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= register_form_with(
      model: @training_partner_form,
      url: user_training_partners_path(@user, query: params[:query]),
      method: :post,
      local: true,
    ) do |form| %>
      <% render (@training_partner_search.training_partners.empty? ? "no_results" : "results"), form: form %>
    <% end %>
  </div>
</div>
