<ul class="govuk-list">
  <% fields.each do |attributes| %>
    <li><a href="#summary-card-<%= attributes["technical"].parameterize %>"><%= attributes["field_name"] %></a></li>
  <% end %>
</ul>

<div class="csv-field-list">
  <% fields.each do |attributes| %>
    <%= render CsvFieldSummary::View.new(attributes) %>
  <% end %>
</div>
