<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <h1 class="govuk-heading-l">
      <span class="govuk-caption-xl"><%= organisation_name %></span>
      Your submission is being processed
    </h1>

    <p class="govuk-body">
      We are processing your trainee records to check if they are correct.
    </p>

    <p class="govuk-body">
      This could take several minutes.
    </p>

    <p class="govuk-body">
      You’ll receive an email to tell you if the upload has been successful or if you need to fix any mistakes and upload an updated file.
    </p>

    <p class="govuk-body">
      You can also check the <%= govuk_link_to "status of new trainee files", bulk_update_add_trainees_uploads_path %>.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Back to bulk updates page", bulk_update_path %>
    </p>
  </div>
</div>
