<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds-from-desktop">
    <%= govuk_panel(
      title_text: "Your CSV is being checked",
      classes: "govuk-panel govuk-panel--confirmation govuk-!-margin-bottom-7",
    ) %>

    <p class="govuk-body">
      This may take several minutes.
    </p>

    <p class="govuk-body">
      You will receive an email telling you if errors have been found, or if you can complete the register process.
    </p>

    <p class="govuk-body">
      You can also check the <%= govuk_link_to "status of new trainee files", bulk_update_add_trainees_uploads_path %>.
    </p>

    <p class="govuk-body">
      <%= govuk_link_to "Back to bulk updates page", bulk_update_path %>
    </p>
  </div>
</div>
