<% if current_user.system_admin? %>
  <div class="app-card app-card--blue">
    <h2 class="govuk-heading-m">Claims team reports</h2>
    <p class="govuk-body">
      <%= govuk_link_to "Trainee degree data export", reports_claims_degrees_path %>
    </p>
    <p class="govuk-body govuk-hint">
      Export degree data for all trainees with a TRN
    </p>
  </div>
<% end %> 