<h2 class="govuk-heading-m">
  Census Sign Off
</h2>
<ul class="govuk-list govuk-list--spaced">
  <li>
    <p>
      <%= govuk_link_to "Trainees with their academic start year in #{@current_academic_cycle_label} report", reports_censuses_path, class: "new-trainee-data" %>
      - for census sign off.
    </p>
  </li>
</ul>
