<p class="govuk-body">No reports are currently available.</p>
<p class="govuk-body">When they’re available, you’ll be able to download reports showing:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>new trainees for the 2022 to 2023 academic year - for census sign off</li>
  <li>trainees who studied in the 2021 to 2022 academic year - for performance profiles sign off</li>
</ul>
<p class="govuk-body">You can read <%= govuk_link_to "guidance about signing off performance profiles", performance_profiles_guidance_path, id: "performance-profiles-guidance" %>.</p>