<p class="govuk-body">No reports are currently available.</p>

<p class="govuk-body">You can read guidance about signing off:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>
    <%= govuk_link_to(
          "#{@census_sign_off} census data",
          census_sign_off_guidance_path,
          ) %>
  </li>
  <li>
    <%= govuk_link_to(
          "#{@performance_sign_off} performance profiles data",
          performance_profiles_guidance_path,
          ) %>
  </li>
</ul>
