<ul class="govuk-list govuk-list--spaced">
  <li>
    <p>
      New trainees for the <%= @current_academic_cycle_label %> academic year - will be available for census sign off
    </p>
  </li>
  <li>
    <p>
      <%= govuk_link_to "Trainees who studied in the #{@previous_academic_cycle_label} academic year", performance_profiles_reports_path, class: "performance-profiles" %>
      - for performance profiles sign off
    </p>
  </li>
</ul>
