name: Build No Cache

on:
  workflow_dispatch:

  schedule:
    - cron: '30 12 * * 0'

permissions:
  contents: write
  deployments: write
  packages: write
  pull-requests: write
  id-token: write

jobs:
  build:
    runs-on: ubuntu-latest
    outputs:
      docker-image: ${{ steps.build-image.outputs.image }}
      image-tag: ${{ steps.build-image.outputs.tag }}
    env:
      DOCKER_IMAGE: ghcr.io/dfe-digital/register-trainee-teachers

    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Build without cache and push docker image
        id: build-image
        uses: DFE-Digital/github-actions/build-docker-image@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          max-cache: true
          reuse-cache: false
          snyk-token: ${{ secrets.SNYK_TOKEN }}
          context: ""

      - name: Check for Failure
        uses: ./.github/actions/send-slack-notification/
        if: failure()
        with:
          slack-title: 'Build failure on weekly rebuild cache workflow'
          slack-message: ':alert: Build failure :sadparrot:'
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}

  audit:
    name: Audit
    needs: [build]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Set environment variables
        run: |
          echo "IMAGE_TAG=${{ needs.build.outputs.image-tag }}" >> $GITHUB_ENV

      - name: Pull docker images
        run: docker pull ${{ needs.build.outputs.docker-image }}

      - name: Bring images up
        run: |
          docker compose up --no-build -d

      - name: Install git
        run: docker compose exec -T web /bin/sh -c 'apk add git'

      - name: Install bundle-audit
        run: docker compose exec -T web /bin/sh -c 'gem install bundle-audit'

      - name: Run bundle-audit
        run: docker compose exec -T web /bin/sh -c 'bundle-audit check --update'

      - name: Check for Failure
        uses: ./.github/actions/send-slack-notification/
        if: ${{ failure() }}
        with:
          slack-icon-emoji: ':lock:'
          slack-title: Audit Failure
          slack-message: ':alert: Audit failure on ${{ github.event.inputs.environment }} :sadparrot:'
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
