name: Deploy

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy to
        required: true
        type: choice
        options:
        - qa
        - staging
        - production
        - sandbox
        - dttpimport
      sha:
        description: Commit sha to be deployed
        required: true

jobs:
  deploy:
    name: ${{ github.event.inputs.environment }} deployment
    concurrency: deploy_all # ensures that the job waits for any deployments triggered by the build workflow to finish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Deploy App to ${{ github.event.inputs.environment }}
        uses: ./.github/actions/deploy/
        with:
          actions-api-access-token: ${{ secrets.API_TOKEN_FOR_GITHUB_ACTION }}
          arm-access-key: ${{ secrets[format('ARM_ACCESS_KEY_{0}', github.event.inputs.environment)] }}
          azure-credentials: ${{ secrets[format('AZURE_CREDENTIALS_{0}', github.event.inputs.environment)] }}
          environment: ${{ github.event.inputs.environment }}
          sha: ${{ github.event.inputs.sha }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
