name: Deploy
concurrency: build_and_deploy_${{ github.ref_name }}

on:
  workflow_dispatch:
    inputs:
      environment:
        description: Environment to deploy to
        required: true
        type: choice
        default: qa
        options:
        - qa
        - staging
        - sandbox
        - productiondata
        - production
        - pen
      sha:
        description: Commit sha to be deployed
        required: true

permissions:
  contents: write
  deployments: write
  packages: write
  pull-requests: write
  id-token: write

jobs:
  deploy:
    name: ${{ github.event.inputs.environment }} deployment
    environment:
      name: ${{ github.event.inputs.environment }}
      url: ${{ steps.deploy_app.outputs.deploy-url }}
    concurrency: deploy_all # ensures that the job waits for any deployments triggered by the build workflow to finish
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Deploy App to ${{ github.event.inputs.environment }}
        id: deploy_app
        uses: ./.github/actions/deploy/
        with:
          azure-tenant-id: ${{ secrets.AZURE_TENANT_ID }}
          azure-subscription-id: ${{ secrets.AZURE_SUBSCRIPTION_ID }}
          azure-client-id: ${{ secrets.AZURE_CLIENT_ID }}
          environment: ${{ github.event.inputs.environment }}
          sha: ${{ github.event.inputs.sha }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
          smoke-test-username: ${{ secrets.SMOKE_TEST_USERNAME }}
          smoke-test-password: ${{ secrets.SMOKE_TEST_PASSWORD }}
          basic-auth-username: ${{ secrets.BASIC_AUTH_USERNAME }}
          basic-auth-password: ${{ secrets.BASIC_AUTH_PASSWORD }}
