name: Next academic year tests
concurrency: next_academic_year_tests_${{ github.ref_name }}

on:
  workflow_dispatch:
  schedule: # At 06:00
    - cron: '0 6 * * *'

permissions:
  contents: write
  deployments: write
  packages: write
  id-token: write
  pull-requests: write

jobs:
  build:
    name: Build
    env:
      DOCKER_IMAGE: ghcr.io/dfe-digital/register-trainee-teachers
      DB_USERNAME: postgres
      DB_PASSWORD: postgres
      DB_HOSTNAME: localhost
    outputs:
      docker-image: ${{ steps.build-image.outputs.image }}
      image-tag: ${{ steps.build-image.outputs.tag }}
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Build and push docker image
        id: build-image
        uses: DFE-Digital/github-actions/build-docker-image@master
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          slack-webhook: ${{ secrets.SLACK_WEBHOOK }}
          context: ""

  test:
    name: Test
    needs: [build]
    uses: ./.github/workflows/tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.build.outputs.docker-image }}
      image-tag: ${{ needs.build.outputs.image-tag }}
      use-next-academic-year: false

  next_academic_year_test:
    name: Next academic year tests
    needs: [build]
    uses: ./.github/workflows/tests.yml
    secrets: inherit
    with:
      docker-image: ${{ needs.build.outputs.docker-image }}
      image-tag: ${{ needs.build.outputs.image-tag }}
      use-next-academic-year: true
