<%= render GovukComponent::CookieBanner.new(
  title: "Cookies on Register trainee teachers",
  html_attributes: {
    "data-module" => "govuk-cookie-banner",
    "data-cookie-banner-key" => Settings.cookies.cookie_banner_key,
    "data-cookie-banner-period" => Settings.cookies.default_number_of_days,
  },
) do |component| %>

  <% component.body do %>
    <p class="govuk-body">We use some essential cookies to make this service work.</p>
  <% end %>

  <% component.actions do %>
    <%= govuk_link_to("View cookies", cookie_policy_path) %>

    <button type="button" class="govuk-button govuk-cookie-banner__hide" data-qa="govuk-cookie-banner__hide">
      Hide this message
    </button>
  <% end %>
<% end %>
