<%= render GovukComponent::CookieBannerComponent.new(
  html_attributes: {
    "data-module" => "govuk-cookie-banner",
    "data-cookie-banner-key" => Settings.cookies.cookie_banner_key,
    "data-cookie-banner-period" => Settings.cookies.default_number_of_days,
  },
) do |cookie_banner| %>

  <%= cookie_banner.message(heading_text: "Cookies on Register trainee teachers", text: "We use some essential cookies to make this service work.") do |message| %>


    <% message.action do %>
      <%= govuk_link_to("View cookies", cookie_policy_path) %>

      <button type="button" class="govuk-button govuk-cookie-banner__hide" data-qa="govuk-cookie-banner__hide">
        Hide this message
      </button>
    <% end %>
  <% end %>
<% end %>
