<%= extends_layout :application do %>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-quarter">
      <h2 class="govuk-heading-m">System admin</h2>
      <ul class="govuk-list">
        <%= govuk_link_to("Providers", providers_path) %>
      </ul>
    </div>
    <div class="govuk-grid-column-three-quarters">
      <%= yield %>
    </div>
  </div>
<% end %>
